		Function : _Z16probe_put_kernel9ProbeArgs
	.headerflags	@"EF_CUDA_SM100 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM100)"
        LDC R1, c[0x0][0x37c] ;
        LDC.U8 R14, c[0x0][0x3e1] ;
        LDCU.64 UR36, c[0x0][0x358] ;
        LDCU UR4, c[0x0][0x41c] ;
        LDC.U8 R11, c[0x0][0x3e0] ;
        LDCU UR5, c[0x0][0x4a0] ;
        LDC.64 R28, c[0x0][0x480] ;
        LDC.64 R2, c[0x0][0x478] ;
        ISETP.NE.U32.AND P2, PT, R14, RZ, PT ;
        LDC R8, c[0x0][0x49c] ;
        ISETP.NE.U32.AND P0, PT, R11, 0x3, PT ;
        @!P2 LDC.64 R24, c[0x0][0x480] ;
        @P2 LDG.E R10, desc[UR36][R28.64+0x50] ;
        @P2 LDG.E.64 R6, desc[UR36][R28.64+0x48] ;
        @!P2 LDC.64 R22, c[0x0][0x478] ;
        @P2 LDG.E R12, desc[UR36][R2.64+0x50] ;
        @P0 VIADD R9, R11.reuse, 0xffffffff ;
        @P0 ISETP.NE.U32.AND P1, PT, R11.reuse, 0x4, PT ;
        @P0 VIADD R15, R11, 0xffffffff ;
        LDG.E R28, desc[UR36][R28.64+0x20] ;
        @!P0 IMAD.HI.U32 R0, R8, -0x55555555, RZ ;
        @!P0 SHF.R.U32.HI R5, RZ, 0x1, R0 ;
        @!P0 IMAD R0, R5, -0x3, R8 ;
        @P0 LOP3.LUT R0, R9, R8, RZ, 0xc0, !PT ;
        @P2 LDG.E.64 R4, desc[UR36][R2.64+0x48] ;
        LOP3.LUT R0, R0, 0xff, RZ, 0xc0, !PT ;
        @!P2 IMAD.WIDE.U32 R24, R0.reuse, 0x8, R24 ;
        @P0 SEL R15, R15, 0x2, P1 ;
        LDG.E R3, desc[UR36][R2.64+0x20] ;
        @!P2 IMAD.WIDE.U32 R22, R0.reuse, 0x8, R22 ;
        @!P2 LDG.E.64 R24, desc[UR36][R24.64+0x28] ;
        @!P2 LDG.E.64 R22, desc[UR36][R22.64+0x28] ;
        IMAD.SHL.U32 R16, R0, 0x8, RZ ;
        LDC.64 R16, c[0x0][R16+0x3e8] ;
        @!P0 IMAD.HI.U32 R18, R8, -0x55555555, RZ ;
        @P2 SHF.R.S32.HI R9, RZ, 0x1f, R10 ;
        @P2 IMAD.WIDE.U32 R10, R10, R14, RZ ;
        @P2 IMAD R19, R9, R14, RZ ;
        @P2 SHF.R.S32.HI R13, RZ, 0x1f, R12 ;
        @P2 IMAD.IADD R11, R11, 0x1, R19 ;
        @!P0 SHF.R.U32.HI R9, RZ, 0x1, R18 ;
        @P2 IMAD R21, R13, R14.reuse, RZ ;
        LDC.64 R18, c[0x0][0x488] ;
        @P2 IMAD.WIDE.U32 R12, R12, R14, RZ ;
        @P0 SHF.R.S32.HI R9, RZ, R15, R8 ;
        @P2 IMAD.IADD R8, R13, 0x1, R21 ;
        @P2 IMAD.WIDE.U32 R6, R10, 0x30, R6 ;
        @P2 IMAD R11, R11, 0x30, RZ ;
        @P2 IMAD.WIDE.U32 R12, R12, 0x30, R4 ;
        @P2 IMAD R5, R8, 0x30, RZ ;
        @P2 IADD3 R7, PT, PT, R7, R11, RZ ;
        IMAD.WIDE R16, R9, 0xf0, R16 ;
        @P2 IMAD.IADD R13, R13, 0x1, R5 ;
        LDG.E R8, desc[UR36][R16.64+0xb4] ;
        @P2 IMAD.WIDE.U32 R4, R0, 0x8, R6 ;
        @P2 IMAD.WIDE.U32 R6, R0, 0x8, R12 ;
        @P2 LD.E.64 R24, desc[UR36][R4.64] ;
        @P2 LD.E.64 R22, desc[UR36][R6.64] ;
        LDCU UR6, c[0x0][0x498] ;
        UISETP.NE.U32.AND UP0, UPT, UR4, 0x1, UPT ;
        LDCU UR7, c[0x0][0x490] ;
        IMAD.U32 R27, RZ, RZ, UR6 ;
        ISETP.GT.AND P1, PT, R8, UR5, PT ;
        BRA.U !UP0, L0 ;
        LDC R2, c[0x0][0x448] ;
        LDC R5, c[0x0][0x498] ;
        ISETP.NE.U32.AND P0, PT, R2, RZ, PT ;
        IMAD.HI.U32 R0, R5, R2, RZ ;
        SEL R0, R0, R5, P0 ;
        IMAD.MOV R2, RZ, RZ, -R0 ;
        VIADD R27, R0, 0x1 ;
        IMAD R2, R2, UR4, R5 ;
        ISETP.GE.U32.AND P0, PT, R2, UR4, PT ;
        @!P0 IMAD.MOV R27, RZ, RZ, R0 ;
L0:
        MOV R26, UR7 ;
        IMAD.WIDE.U32 R18, R3, 0x1000, R18 ;
        @P1 BRA L1 ;
        MOV R0, 0x0 ;
        LDCU.64 UR4, c[0x4][0x20] ;
        IMAD.MOV.U32 R8, RZ, RZ, 0x311 ;
        LDC.64 R2, c[0x4][R0] ;
        LDCU.64 UR6, c[0x4][0x18] ;
        IMAD.MOV.U32 R12, RZ, RZ, 0x1 ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        LDCU.64 UR8, c[0x4][0x8] ;
        IMAD.U32 R4, RZ, RZ, UR4 ;
        IMAD.U32 R5, RZ, RZ, UR5 ;
        IMAD.U32 R6, RZ, RZ, UR6 ;
        IMAD.U32 R7, RZ, RZ, UR7 ;
        IMAD.U32 R10, RZ, RZ, UR8 ;
        MOV R11, UR9 ;
        LEPC R20, 0x5d0 ;
        CALL.ABS.NOINC R2 ;
L1:
        LDC.64 R8, c[0x0][0x490] ;
        LDG.E R2, desc[UR36][R16.64+0xb8] ;
        LDG.E.64 R20, desc[UR36][R16.64+0x18] ;
        LDC R29, c[0x0][0x4a0] ;
        LDG.E.64 R6, desc[UR36][R16.64+0x20] ;
        ISETP.NE.U32.AND P0, PT, R8, RZ, PT ;
        ISETP.NE.U32.AND.EX P0, PT, R9, RZ, PT, P0 ;
        @P0 LDG.E R13, desc[UR36][R16.64+0xc0] ;
        @!P0 LDG.E.64 R14, desc[UR36][R16.64+0xd8] ;
        @!P0 LDG.E.64 R32, desc[UR36][R16.64+0xe0] ;
        @P0 IMAD.WIDE.U32 R24, R13, 0x8, R24 ;
        @P0 LD.E.64 R24, desc[UR36][R24.64] ;
        @P0 IMAD.WIDE.U32 R12, R13, 0x8, R22 ;
        LDG.E.64 R22, desc[UR36][R16.64+0x10] ;
        @P0 LD.E.64 R12, desc[UR36][R12.64] ;
        @P0 IMAD.WIDE R30, R27, 0x10, R24 ;
        @P0 LDC.64 R24, c[0x0][0x488] ;
        @P0 LD.E.64 R10, desc[UR36][R30.64+0x10] ;
        @P0 LD.E.64 R4, desc[UR36][R12.64+0x8] ;
        @P0 LD.E R3, desc[UR36][R30.64+0x18] ;
        @P0 LD.E R0, desc[UR36][R12.64] ;
        IMAD R2, R2, R29, R2 ;
        @P0 IMAD.WIDE.U32 R28, R28, 0x1000, R24 ;
        IMAD.IADD R35, R2, 0x1, R27 ;
        IMAD.WIDE.U32 R30, R35, 0x2, R20 ;
        @!P0 IMAD.WIDE R24, R27, 0x8, R14 ;
        @P0 IADD3 R10, P1, PT, R10, R28, RZ ;
        @P0 IMAD.X R11, R11, 0x1, R29, P1 ;
        IMAD.WIDE.U32 R28, R35, 0x2, R22 ;
        IMAD.WIDE.U32 R34, R35, 0x4, R6 ;
        @P0 IADD3 R12, P1, PT, R18, R4, RZ ;
        LD.E.U16 R2, desc[UR36][R28.64] ;
        LD.E.U16 R4, desc[UR36][R30.64] ;
        LD.E R14, desc[UR36][R34.64] ;
        @P0 IADD3.X R13, PT, PT, R19, R5, RZ, P1, !PT ;
        @!P0 IMAD.WIDE R32, R27, 0x4, R32 ;
        @!P0 LD.E.64 R10, desc[UR36][R24.64] ;
        @!P0 LD.E R3, desc[UR36][R32.64] ;
        @!P0 LDG.E R0, desc[UR36][R16.64+0xc4] ;
        @!P0 LDG.E.64 R12, desc[UR36][R16.64+0xd0] ;
        ISETP.GE.U32.AND P0, PT, R8, 0x40000001, PT ;
        ISETP.GE.U32.AND.EX P0, PT, R9, RZ, PT, P0 ;
        @!P0 BRA L17 ;
        IMAD.WIDE.U32 R22, R27, 0x2, R22 ;
        IMAD.WIDE.U32 R28, R27.reuse, 0x4, R6 ;
        LD.E.U16 R22, desc[UR36][R22.64] ;
        IMAD.WIDE.U32 R24, R27, 0x2, R20 ;
        LD.E R6, desc[UR36][R28.64] ;
        LD.E.U16 R5, desc[UR36][R24.64] ;
        IADD3 R7, P0, PT, R8, -0x1, RZ ;
        HFMA2 R20, -RZ, RZ, 0, 0 ;
        BSSY B0, L12 ;
        S2R R39, SR_TID.X ;
        IADD3.X R8, PT, PT, R9, -0x1, RZ, P0, !PT ;
        IMAD.MOV.U32 R9, RZ, RZ, RZ ;
        LOP3.LUT R19, R0, 0xffffff, RZ, 0xc0, !PT ;
        IMAD.MOV.U32 R38, RZ, RZ, RZ ;
        IMAD.MOV.U32 R23, RZ, RZ, R3 ;
        IMAD.MOV.U32 R18, RZ, RZ, 0x40000000 ;
        LOP3.LUT R39, R39, 0x1c820000, RZ, 0xfc, !PT ;
        LOP3.LUT R21, R22, 0x10000, RZ, 0xfc, !PT ;
        IMAD.MOV.U32 R22, RZ, RZ, 0x40000000 ;
L2:
        LDG.E.64 R24, desc[UR36][R16.64] ;
        LDG.E R40, desc[UR36][R16.64+0x40] ;
        LD.E R37, desc[UR36][R24.64+0x18] ;
        LD.E R27, desc[UR36][R24.64+0x28] ;
        LD.E R32, desc[UR36][R24.64+0x20] ;
        LD.E.U16 R36, desc[UR36][R24.64+0x50] ;
        VIMNMX R26, PT, PT, R37, 0x1, PT ;
        IMAD.IADD R26, R27, 0x1, R26 ;
        IMAD.IADD R28, R26, 0x1, -R32 ;
        ISETP.GT.U32.AND P0, PT, R28, R37, PT ;
        VIADD R43, R27.reuse, 0x1 ;
        LDG.E.64 R28, desc[UR36][R16.64+0x30] ;
        ISETP.EQ.U32.OR P0, PT, R27, R32, !P0 ;
        @!P0 LD.E.64 R34, desc[UR36][R24.64+0x38] ;
        ST.E desc[UR36][R24.64+0x28], R43 ;
        @!P0 STG.E.MMIO.SYS [R34], R27 ;
        @!P0 LDG.E.64 R30, desc[UR36][R16.64+0x38] ;
        @!P0 IMAD.IADD R33, R27, 0x1, -R32 ;
        YIELD ;
        LDCU UR4, c[0x0][0x2f8] ;
        BSSY B1, L6 ;
        IADD3 R34, PT, PT, R28, -UR4, RZ ;
        @!P0 IADD3 R32, P1, PT, R33, R30, RZ ;
        @!P0 IMAD.X R33, RZ, RZ, R31, P1 ;
        QSPC.E.L P1, RZ, [R28] ;
        @!P0 STG.E.64 desc[UR36][R16.64+0x38], R32 ;
        @!P0 ST.E desc[UR36][R24.64+0x20], R27 ;
        LEA R30, P0, R9, R12, 0x1e ;
        LEA.HI.X R31, R9, R13, R38, 0x1e, P0 ;
L3:
        YIELD ;
        @!P1 BRA L4 ;
        LDL.U8 R32, [R34] ;
        LDL.U8 R33, [R34+0x1] ;
        LDL.U8 R35, [R34+0x2] ;
        LDL.U8 R41, [R34+0x3] ;
        NANOSLEEP RZ ;
        PRMT R33, R32, 0x6540, R33 ;
        IMAD.U32 R35, R35, 0x10000, RZ ;
        IMAD.SHL.U32 R32, R41, 0x1000000, RZ ;
        LOP3.LUT R41, R33, R32, R35, 0xfe, !PT ;
L4:
        @P1 BRA L5 ;
        LD.E.STRONG.SYS R41, desc[UR36][R28.64] ;
L5:
        IMAD.IADD R32, R26, 0x1, -R41 ;
        LOP3.LUT R33, R32, 0x7fffffff, RZ, 0xc0, !PT ;
        ISETP.GT.U32.AND P0, PT, R33, R40, PT ;
        @P0 BRA L3 ;
        BSYNC B1 ;
L6:
        ISETP.GE.AND P0, PT, R37, 0x1, PT ;
        BSSY.RECONVERGENT B1, L11 ;
        @!P0 BRA L10 ;
        LD.E.64 R28, desc[UR36][R24.64+0x10] ;
        LD.E.64 R34, desc[UR36][R24.64+0x30] ;
        ISETP.NE.U32.AND P0, PT, R36, 0x40, PT ;
        BSSY.RECONVERGENT B2, L9 ;
        LEA R32, P1, R9, R10, 0x1e ;
        LOP3.LUT R33, R28, R27, RZ, 0xc0, !PT ;
        SHF.R.U32.HI R27, RZ, R29, R27 ;
        IMAD R33, R36, R33, RZ ;
        LOP3.LUT R27, R27, 0x1, RZ, 0xc0, !PT ;
        IADD3 R28, P2, PT, R33, R34, RZ ;
        LEA.HI.X R33, R9, R11, R38, 0x1e, P1 ;
        MOV R34, R6 ;
        IMAD.X R29, RZ, RZ, R35, P2 ;
        IMAD.MOV.U32 R35, RZ, RZ, RZ ;
        @P0 BRA L7 ;
        IMAD.WIDE.U32 R36, R27, 0x1000000, RZ ;
        LOP3.LUT R36, R39, R36, RZ, 0xfc, !PT ;
        LOP3.LUT R37, R5, 0x10000, R37, 0xfe, !PT ;
        STG.E.64.MMIO.SYS [R28], R36 ;
        STG.E.64.MMIO.SYS [R28+0x8], R20 ;
        STG.E.64.MMIO.SYS [R28+0x10], R34 ;
        STG.E.64.MMIO.SYS [R28+0x18], RZ ;
        STG.E.64.MMIO.SYS [R28+0x20], R22 ;
        STG.E.64.MMIO.SYS [R28+0x28], R32 ;
        STG.E.64.MMIO.SYS [R28+0x30], R18 ;
        STG.E.64.MMIO.SYS [R28+0x38], R30 ;
        BRA L8 ;
L7:
        IMAD.WIDE.U32 R36, R27, 0x1000000, RZ ;
        LOP3.LUT R36, R39, R36, RZ, 0xfc, !PT ;
        LOP3.LUT R37, R5, 0x10000, R37, 0xfe, !PT ;
        STG.E.64.MMIO.SYS [R28], R36 ;
        STG.E.64.MMIO.SYS [R28+0x8], R20 ;
        STG.E.64.MMIO.SYS [R28+0x10], R34 ;
        STG.E.64.MMIO.SYS [R28+0x18], RZ ;
        STG.E.64.MMIO.SYS [R28+0x20], R22 ;
        STG.E.64.MMIO.SYS [R28+0x28], R32 ;
        STG.E.64.MMIO.SYS [R28+0x30], R18 ;
        STG.E.64.MMIO.SYS [R28+0x38], R30 ;
        STG.E.64.MMIO.SYS [R28+0x40], RZ ;
        STG.E.64.MMIO.SYS [R28+0x48], RZ ;
        STG.E.64.MMIO.SYS [R28+0x50], RZ ;
        STG.E.64.MMIO.SYS [R28+0x58], RZ ;
        STG.E.64.MMIO.SYS [R28+0x60], RZ ;
        STG.E.64.MMIO.SYS [R28+0x68], RZ ;
        STG.E.64.MMIO.SYS [R28+0x70], RZ ;
        STG.E.64.MMIO.SYS [R28+0x78], RZ ;
L8:
        NOP ;
        BSYNC.RECONVERGENT B2 ;
L9:
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
L10:
        NOP ;
        BSYNC.RECONVERGENT B1 ;
L11:
        LD.E.64 R28, desc[UR36][R24.64+0x38] ;
        LD.E R27, desc[UR36][R24.64+0x20] ;
        STG.E.MMIO.SYS [R28], R26 ;
        LDG.E.64 R30, desc[UR36][R16.64+0x38] ;
        IMAD.IADD R27, R26, 0x1, -R27 ;
        IADD3 R9, P1, PT, R9, 0x1, RZ ;
        SHF.R.U64 R32, R7, 0x1e, R8.reuse ;
        SHF.R.U32.HI R33, RZ, 0x1e, R8 ;
        IADD3.X R38, PT, PT, RZ, R38, RZ, P1, !PT ;
        IADD3 R30, P0, PT, R27, R30, RZ ;
        IMAD.MOV.U32 R27, RZ, RZ, R26 ;
        IMAD.X R31, RZ, RZ, R31, P0 ;
        ISETP.NE.U32.AND P0, PT, R9, R32, PT ;
        STG.E.64 desc[UR36][R16.64+0x38], R30 ;
        ISETP.NE.U32.AND.EX P0, PT, R38, R33, PT, P0 ;
        ST.E.64 desc[UR36][R24.64+0x20], R26 ;
        @P0 BRA L2 ;
        BSYNC B0 ;
L12:
        LDG.E R22, desc[UR36][R16.64+0x38] ;
        BSSY B0, L16 ;
L13:
        LDG.E.64 R18, desc[UR36][R16.64+0x30] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R18] ;
        @!P0 BRA L14 ;
        LDCU UR4, c[0x0][0x2f8] ;
        VIADD R21, R18, -UR4 ;
        LDL.U8 R9, [R21+0x2] ;
        LDL.U8 R20, [R21+0x3] ;
        LDL.U8 R5, [R21] ;
        LDL.U8 R6, [R21+0x1] ;
        NANOSLEEP RZ ;
        IMAD.U32 R9, R9, 0x10000, RZ ;
        IMAD.SHL.U32 R20, R20, 0x1000000, RZ ;
        PRMT R5, R5, 0x6540, R6 ;
        LOP3.LUT R9, R5, R20, R9, 0xfe, !PT ;
L14:
        @P0 BRA L15 ;
        LD.E.STRONG.SYS R9, desc[UR36][R18.64] ;
        CCTL.IVALL ;
L15:
        IMAD.IADD R5, R22, 0x1, -R9 ;
        LOP3.LUT P0, RZ, R5, 0x7fffffff, RZ, 0xc0, !PT ;
        @P0 BRA L13 ;
        BSYNC B0 ;
L16:
        LDCU UR4, c[0x0][0x490] ;
        LOP3.LUT R7, R7, 0xc0000000, RZ, 0xc0, !PT ;
        IADD3 R10, P1, PT, R7.reuse, R10, RZ ;
        IADD3 R12, P0, PT, R7, R12, RZ ;
        IMAD.X R11, R8.reuse, 0x1, R11, P1 ;
        IADD3.X R13, PT, PT, R8, R13, RZ, P0, !PT ;
        IADD3 R26, PT, PT, -R7, UR4, RZ ;
L17:
        LDG.E.64 R6, desc[UR36][R16.64] ;
        LDG.E R21, desc[UR36][R16.64+0x40] ;
        LDG.E.64 R18, desc[UR36][R16.64+0x30] ;
        LD.E R20, desc[UR36][R6.64+0x18] ;
        LD.E R5, desc[UR36][R6.64+0x28] ;
        LD.E R28, desc[UR36][R6.64+0x20] ;
        VIMNMX R8, PT, PT, R20, 0x1, PT ;
        IMAD.IADD R8, R5, 0x1, R8 ;
        IMAD.IADD R9, R8, 0x1, -R28 ;
        ISETP.GT.U32.AND P0, PT, R9, R20, PT ;
        VIADD R27, R5.reuse, 0x1 ;
        LD.E.U16 R9, desc[UR36][R6.64+0x50] ;
        ISETP.EQ.U32.OR P0, PT, R5, R28, !P0 ;
        @!P0 LD.E.64 R22, desc[UR36][R6.64+0x38] ;
        ST.E desc[UR36][R6.64+0x28], R27 ;
        @!P0 STG.E.MMIO.SYS [R22], R5 ;
        @!P0 LDG.E.64 R24, desc[UR36][R16.64+0x38] ;
        @!P0 IADD3 R29, PT, PT, R5, -R28, RZ ;
        S2R R30, SR_TID.X ;
        LDCU UR4, c[0x0][0x2f8] ;
        BSSY B0, L21 ;
        LOP3.LUT R27, R0, 0xffffff, RZ, 0xc0, !PT ;
        VIADD R28, R18, -UR4 ;
        LOP3.LUT R0, R30, 0x1c820000, RZ, 0xfc, !PT ;
        @!P0 IADD3 R24, P1, PT, R29, R24, RZ ;
        @!P0 IMAD.X R25, RZ, RZ, R25, P1 ;
        @!P0 STG.E.64 desc[UR36][R16.64+0x38], R24 ;
        QSPC.E.L P1, RZ, [R18] ;
        @!P0 ST.E desc[UR36][R6.64+0x20], R5 ;
L18:
        YIELD ;
        @!P1 BRA L19 ;
        LDL.U8 R24, [R28+0x2] ;
        LDL.U8 R25, [R28+0x3] ;
        LDL.U8 R22, [R28] ;
        LDL.U8 R23, [R28+0x1] ;
        NANOSLEEP RZ ;
        IMAD.U32 R24, R24, 0x10000, RZ ;
        IMAD.SHL.U32 R25, R25, 0x1000000, RZ ;
        PRMT R22, R22, 0x6540, R23 ;
        LOP3.LUT R25, R22, R25, R24, 0xfe, !PT ;
L19:
        @P1 BRA L20 ;
        LD.E.STRONG.SYS R25, desc[UR36][R18.64] ;
L20:
        IADD3 R22, PT, PT, R8, -R25, RZ ;
        LOP3.LUT R22, R22, 0x7fffffff, RZ, 0xc0, !PT ;
        ISETP.GT.U32.AND P0, PT, R22, R21, PT ;
        @P0 BRA L18 ;
        BSYNC B0 ;
L21:
        ISETP.GE.AND P0, PT, R20, 0x1, PT ;
        BSSY.RECONVERGENT B0, L26 ;
        @!P0 BRA L25 ;
        LD.E.64 R20, desc[UR36][R6.64+0x10] ;
        LD.E.64 R18, desc[UR36][R6.64+0x30] ;
        ISETP.NE.U32.AND P0, PT, R9, 0x40, PT ;
        BSSY.RECONVERGENT B1, L24 ;
        LOP3.LUT R23, R2, 0x10000, RZ, 0xfc, !PT ;
        IMAD.MOV.U32 R22, RZ, RZ, RZ ;
        LOP3.LUT R20, R20, R5, RZ, 0xc0, !PT ;
        SHF.R.U32.HI R21, RZ, R21, R5 ;
        IMAD R15, R9, R20, RZ ;
        LOP3.LUT R21, R21, 0x1, RZ, 0xc0, !PT ;
        IADD3 R18, P1, PT, R15, R18, RZ ;
        IMAD.MOV.U32 R15, RZ, RZ, RZ ;
        IMAD.X R19, RZ, RZ, R19, P1 ;
        @P0 BRA L22 ;
        IMAD.WIDE.U32 R20, R21, 0x1000000, RZ ;
        IMAD.MOV.U32 R2, RZ, RZ, R26 ;
        LOP3.LUT R20, R0, R20, RZ, 0xfc, !PT ;
        LOP3.LUT R21, R4, 0x10000, R21, 0xfe, !PT ;
        STG.E.64.MMIO.SYS [R18], R20 ;
        STG.E.64.MMIO.SYS [R18+0x8], R22 ;
        STG.E.64.MMIO.SYS [R18+0x10], R14 ;
        STG.E.64.MMIO.SYS [R18+0x18], RZ ;
        STG.E.64.MMIO.SYS [R18+0x20], R2 ;
        STG.E.64.MMIO.SYS [R18+0x28], R10 ;
        STG.E.64.MMIO.SYS [R18+0x30], R26 ;
        STG.E.64.MMIO.SYS [R18+0x38], R12 ;
        BRA L23 ;
L22:
        IMAD.WIDE.U32 R20, R21, 0x1000000, RZ ;
        MOV R2, R26 ;
        LOP3.LUT R20, R0, R20, RZ, 0xfc, !PT ;
        LOP3.LUT R21, R4, 0x10000, R21, 0xfe, !PT ;
        STG.E.64.MMIO.SYS [R18], R20 ;
        STG.E.64.MMIO.SYS [R18+0x8], R22 ;
        STG.E.64.MMIO.SYS [R18+0x10], R14 ;
        STG.E.64.MMIO.SYS [R18+0x18], RZ ;
        STG.E.64.MMIO.SYS [R18+0x20], R2 ;
        STG.E.64.MMIO.SYS [R18+0x28], R10 ;
        STG.E.64.MMIO.SYS [R18+0x30], R26 ;
        STG.E.64.MMIO.SYS [R18+0x38], R12 ;
        STG.E.64.MMIO.SYS [R18+0x40], RZ ;
        STG.E.64.MMIO.SYS [R18+0x48], RZ ;
        STG.E.64.MMIO.SYS [R18+0x50], RZ ;
        STG.E.64.MMIO.SYS [R18+0x58], RZ ;
        STG.E.64.MMIO.SYS [R18+0x60], RZ ;
        STG.E.64.MMIO.SYS [R18+0x68], RZ ;
        STG.E.64.MMIO.SYS [R18+0x70], RZ ;
        STG.E.64.MMIO.SYS [R18+0x78], RZ ;
L23:
        NOP ;
        BSYNC.RECONVERGENT B1 ;
L24:
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
L25:
        NOP ;
        BSYNC.RECONVERGENT B0 ;
L26:
        LD.E.64 R2, desc[UR36][R6.64+0x38] ;
        LD.E R9, desc[UR36][R6.64+0x20] ;
        STG.E.MMIO.SYS [R2], R8 ;
        LDG.E.64 R4, desc[UR36][R16.64+0x38] ;
        IMAD.IADD R9, R8, 0x1, -R9 ;
        IADD3 R4, P0, PT, R9, R4, RZ ;
        IMAD.MOV.U32 R9, RZ, RZ, R8 ;
        IMAD.X R5, RZ, RZ, R5, P0 ;
        STG.E.64 desc[UR36][R16.64+0x38], R4 ;
        ST.E.64 desc[UR36][R6.64+0x20], R8 ;
        EXIT ;
L27:
        BRA L27;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
		..........


