		Function : _Z16probe_put_kernel9ProbeArgs
	.headerflags	@"EF_CUDA_SM90 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM90)"
        LDC R1, c[0x0][0x28] ;
        LDC.U8 R17, c[0x0][0x271] ;
        ULDC.64 UR36, c[0x0][0x208] ;
        ULDC UR4, c[0x0][0x330] ;
        LDC.64 R4, c[0x0][0x310] ;
        LDC.64 R2, c[0x0][0x308] ;
        ISETP.NE.AND P2, PT, R17, RZ, PT ;
        LDC.U8 R20, c[0x0][0x270] ;
        LDC R0, c[0x0][0x32c] ;
        @P2 LDG.E R12, desc[UR36][R4.64+0x50] ;
        @P2 LDG.E R14, desc[UR36][R2.64+0x50] ;
        @P2 LDG.E.64 R8, desc[UR36][R4.64+0x48] ;
        @P2 LDG.E.64 R10, desc[UR36][R2.64+0x48] ;
        PRMT R18, R20, 0x9910, RZ ;
        ISETP.NE.AND P0, PT, R18, 0x3, PT ;
        IMAD.WIDE.U32 R6, R0, -0x55555555, RZ ;
        LDG.E R3, desc[UR36][R2.64+0x20] ;
        @!P0 SHF.R.U32.HI R19, RZ, 0x1, R7 ;
        @P2 SHF.R.S32.HI R15, RZ, 0x1f, R12 ;
        @P2 IMAD.WIDE.U32 R12, R12, R17, RZ ;
        @P2 SHF.R.S32.HI R16, RZ, 0x1f, R14 ;
        @P2 IMAD R21, R15, R17.reuse, RZ ;
        @P2 IMAD.WIDE.U32 R14, R14, R17, RZ ;
        @P2 IMAD R23, R16, R17, RZ ;
        @P0 VIADD R17, R20, 0xffffffff ;
        @P2 IMAD.IADD R16, R13, 0x1, R21 ;
        @P2 IMAD.IADD R13, R15, 0x1, R23 ;
        @P0 LOP3.LUT R6, R17, R0, RZ, 0xc0, !PT ;
        @P2 IMAD.WIDE.U32 R8, R12, 0x30, R8 ;
        @P0 ISETP.NE.AND P1, PT, R18, 0x4, PT ;
        LDG.E R23, desc[UR36][R4.64+0x20] ;
        @P2 IMAD R15, R16, 0x30, RZ ;
        @!P0 IMAD R6, R19, -0x3, R0 ;
        @P2 IMAD.WIDE.U32 R10, R14, 0x30, R10 ;
        LDC.64 R18, c[0x0][0x318] ;
        @P2 IMAD R13, R13, 0x30, RZ ;
        @P2 IMAD.IADD R9, R9, 0x1, R15 ;
        LOP3.LUT R15, R6, 0xff, RZ, 0xc0, !PT ;
        @P2 IMAD.IADD R11, R11, 0x1, R13 ;
        @P2 IMAD.WIDE.U32 R26, R15.reuse, 0x8, R8 ;
        @!P2 LDC.64 R8, c[0x0][0x310] ;
        @P2 IMAD.WIDE.U32 R24, R15.reuse, 0x8, R10 ;
        @P2 LD.E.64 R26, desc[UR36][R26.64] ;
        @P2 LD.E.64 R24, desc[UR36][R24.64] ;
        IMAD.SHL.U32 R12, R15, 0x8, RZ ;
        @!P2 LDC.64 R10, c[0x0][0x308] ;
        @P0 VIADD R13, R20, 0xffffffff ;
        @P0 SEL R13, R13, 0x2, P1 ;
        LDC.64 R16, c[0x0][R12+0x278] ;
        @P0 SHF.R.S32.HI R13, RZ, R13, R0 ;
        @!P0 SHF.R.U32.HI R13, RZ, 0x1, R7 ;
        @!P2 IMAD.WIDE.U32 R6, R15, 0x8, R8 ;
        IMAD.WIDE R16, R13, 0xf0, R16 ;
        LDG.E R0, desc[UR36][R16.64+0xb4] ;
        @!P2 IMAD.WIDE.U32 R8, R15, 0x8, R10 ;
        LDC R11, c[0x0][0x2ac] ;
        @!P2 LDG.E.64 R26, desc[UR36][R6.64+0x28] ;
        @!P2 LDG.E.64 R24, desc[UR36][R8.64+0x28] ;
        ISETP.NE.AND P0, PT, R11, 0x1, PT ;
        ISETP.GT.AND P1, PT, R0, UR4, PT ;
        ULDC UR4, c[0x0][0x328] ;
        IMAD.U32 R29, RZ, RZ, UR4 ;
        @!P0 BRA L0 ;
        LDC R0, c[0x0][0x2d8] ;
        IMAD.U32 R4, RZ, RZ, UR4 ;
        LDC R2, c[0x0][0x328] ;
        ISETP.NE.AND P0, PT, R0, RZ, PT ;
        @P0 IMAD.HI.U32 R4, R2, R0, RZ ;
        VIADD R29, R4.reuse, 0x1 ;
        IADD3 R0, -R4, RZ, RZ ;
        IMAD R0, R11, R0, R2 ;
        ISETP.GE.U32.AND P0, PT, R0, R11, PT ;
        @!P0 IMAD.MOV R29, RZ, RZ, R4 ;
L0:
        ULDC UR4, c[0x0][0x320] ;
        IMAD.WIDE.U32 R22, R23, 0x1000, R18 ;
        IMAD.U32 R28, RZ, RZ, UR4 ;
        IMAD.WIDE.U32 R18, R3, 0x1000, R18 ;
        @P1 BRA L1 ;
        MOV R0, 0x0 ;
        ULDC.64 UR4, c[0x4][0x20] ;
        ULDC.64 UR6, c[0x4][0x8] ;
        IMAD.U32 R4, RZ, RZ, UR4 ;
        LDC.64 R2, c[0x4][R0] ;
        IMAD.U32 R5, RZ, RZ, UR5 ;
        ULDC.64 UR4, c[0x4][0x18] ;
        IMAD.U32 R10, RZ, RZ, UR6 ;
        MOV R11, UR7 ;
        IMAD.U32 R6, RZ, RZ, UR4 ;
        IMAD.U32 R7, RZ, RZ, UR5 ;
        IMAD.MOV.U32 R8, RZ, RZ, 0x2c8 ;
        IMAD.MOV.U32 R12, RZ, RZ, 0x1 ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        LEPC R20, 0x5e0 ;
        CALL.ABS.NOINC R2 ;
L1:
        LDC.64 R6, c[0x0][0x320] ;
        LDG.E R2, desc[UR36][R16.64+0xb8] ;
        ULDC UR4, c[0x0][0x330] ;
        LDG.E.64 R10, desc[UR36][R16.64+0x20] ;
        LDG.E.64 R12, desc[UR36][R16.64+0x10] ;
        LDG.E.64 R14, desc[UR36][R16.64+0x18] ;
        ISETP.NE.U32.AND P0, PT, R6, RZ, PT ;
        ISETP.NE.AND.EX P0, PT, R7, RZ, PT, P0 ;
        @P0 LDG.E R3, desc[UR36][R16.64+0xc0] ;
        @!P0 LDG.E.64 R30, desc[UR36][R16.64+0xe0] ;
        @P0 IMAD.WIDE.U32 R26, R3, 0x8, R26 ;
        @P0 LD.E.64 R26, desc[UR36][R26.64] ;
        @P0 IMAD.WIDE.U32 R24, R3, 0x8, R24 ;
        @P0 LD.E.64 R24, desc[UR36][R24.64] ;
        @P0 IMAD.WIDE R8, R29, 0x10, R26 ;
        @!P0 LDG.E.64 R26, desc[UR36][R16.64+0xd8] ;
        @P0 LD.E.64 R20, desc[UR36][R8.64+0x10] ;
        @P0 LD.E.64 R4, desc[UR36][R24.64+0x8] ;
        @P0 LD.E R3, desc[UR36][R8.64+0x18] ;
        @P0 LD.E R0, desc[UR36][R24.64] ;
        UIADD3 UR4, UR4, 0x1, URZ ;
        IMAD R35, R2, UR4, R29 ;
        IMAD.WIDE.U32 R32, R35, 0x4, R10 ;
        IMAD.WIDE.U32 R8, R35, 0x2, R12 ;
        IMAD.WIDE.U32 R24, R35, 0x2, R14 ;
        LD.E.U16 R2, desc[UR36][R8.64] ;
        @P0 IADD3 R22, P1, R22, R20, RZ ;
        @P0 IMAD.X R23, R23, 0x1, R21, P1 ;
        @P0 IADD3 R20, P1, R18, R4, RZ ;
        LD.E R18, desc[UR36][R32.64] ;
        LD.E.U16 R4, desc[UR36][R24.64] ;
        @P0 IMAD.X R21, R19, 0x1, R5, P1 ;
        @!P0 IMAD.WIDE R30, R29.reuse, 0x4, R30 ;
        @!P0 LDG.E R0, desc[UR36][R16.64+0xc4] ;
        @!P0 IMAD.WIDE R26, R29, 0x8, R26 ;
        @!P0 LD.E R3, desc[UR36][R30.64] ;
        @!P0 LD.E.64 R22, desc[UR36][R26.64] ;
        @!P0 LDG.E.64 R20, desc[UR36][R16.64+0xd0] ;
        ISETP.GT.U32.AND P0, PT, R6, 0x40000000, PT ;
        ISETP.GT.U32.AND.EX P0, PT, R7, RZ, PT, P0 ;
        IMAD.MOV.U32 R19, RZ, RZ, RZ ;
        @!P0 BRA L19 ;
        IADD3 R5, P0, R6, -0x1, RZ ;
        IMAD.WIDE.U32 R32, R29, 0x2, R14 ;
        IADD3.X R6, R7, -0x1, RZ, P0, !PT ;
        IMAD.WIDE.U32 R30, R29, 0x2, R12 ;
        SHF.R.U64 R7, R5, 0x1e, R6 ;
        IMAD.WIDE.U32 R14, R29, 0x4, R10 ;
        SHF.R.U32.HI R8, RZ, 0x1e, R6 ;
        ISETP.NE.U32.AND P0, PT, R7, RZ, PT ;
        ISETP.NE.AND.EX P0, PT, R8, RZ, PT, P0 ;
        @!P0 BRA L15 ;
        LD.E.U16 R32, desc[UR36][R32.64] ;
        LD.E.U16 R30, desc[UR36][R30.64] ;
        S2R R24, SR_TID.X ;
        HFMA2.MMA R28, -RZ, RZ, 2, 0 ;
        BSSY B1, L15 ;
        IMAD.MOV.U32 R10, RZ, RZ, RZ ;
        LD.E R14, desc[UR36][R14.64] ;
        IMAD.MOV.U32 R9, RZ, RZ, RZ ;
        LOP3.LUT R13, R0, 0xffffff, RZ, 0xc0, !PT ;
        IMAD.MOV.U32 R29, RZ, RZ, R3 ;
        IMAD.MOV.U32 R12, RZ, RZ, 0x40000000 ;
        IMAD.MOV.U32 R25, RZ, RZ, RZ ;
        IMAD.MOV.U32 R26, RZ, RZ, RZ ;
        IMAD.MOV.U32 R15, RZ, RZ, RZ ;
        LOP3.LUT R11, R24.reuse, 0xffff, RZ, 0xc0, !PT ;
        LOP3.LUT R24, R24, 0xffff0000, RZ, 0xc0, !PT ;
        LOP3.LUT R44, R32, 0xffff, RZ, 0xc0, !PT ;
        LOP3.LUT R27, R30, 0x10000, RZ, 0xfc, !PT ;
L2:
        LDG.E.64 R30, desc[UR36][R16.64] ;
        LDG.E.64 R32, desc[UR36][R16.64+0x30] ;
        LDG.E R46, desc[UR36][R16.64+0x40] ;
        LD.E R45, desc[UR36][R30.64+0x28] ;
        LD.E.U16 R47, desc[UR36][R30.64+0x50] ;
        LD.E R48, desc[UR36][R30.64+0x18] ;
        LD.E R51, desc[UR36][R30.64+0x20] ;
        QSPC.E.L P2, RZ, [R32] ;
        SHF.L.U64.HI R38, R10.reuse, 0x1e, R9 ;
        IMAD.SHL.U32 R37, R10.reuse, 0x40000000, RZ ;
        IADD3 R10, P0, R10, 0x1, RZ ;
        ULDC UR4, c[0x0][0x20] ;
        IADD3.X R9, RZ, R9, RZ, P0, !PT ;
        IADD3 R34, P1, R37.reuse, R22, RZ ;
        IADD3 R36, P3, R37, R20, RZ ;
        ISETP.GE.U32.AND P0, PT, R10, R7, PT ;
        BSSY B0, L14 ;
        IMAD.MOV.U32 R49, RZ, RZ, RZ ;
        ISETP.GE.U32.AND.EX P0, PT, R9, R8, PT, P0 ;
        VIADD R50, R32, -UR4 ;
        IMAD.X R35, R38.reuse, 0x1, R23, P1 ;
        IMAD.X R37, R38, 0x1, R21, P3 ;
        VIADD R39, R45, 0x1 ;
        ST.E desc[UR36][R30.64+0x28], R39 ;
L3:
        IMAD.MOV R39, RZ, RZ, -R49.reuse ;
        YIELD ;
        VIADDMNMX R52, R39, 0x1, R48, PT ;
        IMAD.IADD R43, R45, 0x1, R49 ;
        BSSY B2, L5 ;
        IMAD.IADD R42, R52, 0x1, R43 ;
        IADD3 R39, R42, -R51, RZ ;
        ISETP.GT.U32.AND P1, PT, R39, R48, PT ;
        ISETP.EQ.OR P1, PT, R43, R51, !P1 ;
        @P1 BRA L4 ;
        LD.E.64 R40, desc[UR36][R30.64+0x38] ;
        IMAD.IADD R51, R43, 0x1, -R51 ;
        STG.E.MMIO.SYS [R40], R43 ;
        LDG.E.64 R38, desc[UR36][R16.64+0x38] ;
        IADD3 R38, P1, R51, R38, RZ ;
        IMAD.X R39, RZ, RZ, R39, P1 ;
        STG.E.64 desc[UR36][R16.64+0x38], R38 ;
        ST.E desc[UR36][R30.64+0x20], R43 ;
L4:
        BSYNC B2 ;
L5:
        BSSY B2, L8 ;
L6:
        @!P2 LD.E.STRONG.SYS R39, desc[UR36][R32.64] ;
        YIELD ;
        @!P2 BRA L7 ;
        LDL.U8 R39, [R50+0x1] ;
        LDL.U8 R41, [R50+0x3] ;
        LDL.U8 R38, [R50] ;
        LDL.U8 R40, [R50+0x2] ;
        NANOSLEEP RZ ;
        PRMT R39, R39, 0x7604, RZ ;
        PRMT R41, R41, 0x7604, RZ ;
        LOP3.LUT R39, R39, 0xffff00ff, R38, 0xf8, !PT ;
        LOP3.LUT R40, R41, 0xffff00ff, R40, 0xf8, !PT ;
        PRMT R39, R39, 0x5410, R40 ;
L7:
        IMAD.IADD R38, R42, 0x1, -R39 ;
        LOP3.LUT R39, R38, 0x7fffffff, RZ, 0xc0, !PT ;
        ISETP.GT.U32.AND P1, PT, R39, R46, PT ;
        @P1 BRA L6 ;
        BSYNC B2 ;
L8:
        IMAD.IADD R52, R52, 0x1, R49 ;
        BSSY B2, L13 ;
        ISETP.GE.AND P1, PT, R52, 0x1, PT ;
        @!P1 BRA L12 ;
        LD.E.64 R38, desc[UR36][R30.64+0x10] ;
        LD.E.64 R40, desc[UR36][R30.64+0x30] ;
        PRMT R43, R47, 0x9910, RZ ;
        BSSY B3, L11 ;
        ISETP.NE.AND P1, PT, R43, 0x40, PT ;
        LOP3.LUT R38, R38, R45, RZ, 0xc0, !PT ;
        SHF.R.U32.HI R39, RZ, R39, R45 ;
        IMAD R43, R47, R38, RZ ;
        IMAD.SHL.U32 R52, R39, 0x1000000, RZ ;
        IADD3 R38, P3, R43, R40, RZ ;
        LOP3.LUT R52, R11, 0x1000000, R52, 0xf8, !PT ;
        IMAD.X R39, RZ, RZ, R41, P3 ;
        LOP3.LUT R40, R52, 0x1c820000, RZ, 0xfc, !PT ;
        LOP3.LUT R41, R44, 0x10000, RZ, 0xfc, !PT ;
        @!P1 BRA L9 ;
        STG.E.64.MMIO.SYS [R38], R40 ;
        STG.E.64.MMIO.SYS [R38+0x8], R26 ;
        STG.E.64.MMIO.SYS [R38+0x10], R14 ;
        STG.E.64.MMIO.SYS [R38+0x18], R24 ;
        STG.E.64.MMIO.SYS [R38+0x20], R28 ;
        STG.E.64.MMIO.SYS [R38+0x28], R34 ;
        STG.E.64.MMIO.SYS [R38+0x30], R12 ;
        STG.E.64.MMIO.SYS [R38+0x38], R36 ;
        STG.E.64.MMIO.SYS [R38+0x40], RZ ;
        STG.E.64.MMIO.SYS [R38+0x48], RZ ;
        STG.E.64.MMIO.SYS [R38+0x50], RZ ;
        STG.E.64.MMIO.SYS [R38+0x58], RZ ;
        STG.E.64.MMIO.SYS [R38+0x60], RZ ;
        STG.E.64.MMIO.SYS [R38+0x68], RZ ;
        STG.E.64.MMIO.SYS [R38+0x70], RZ ;
        STG.E.64.MMIO.SYS [R38+0x78], RZ ;
        BRA L10 ;
L9:
        STG.E.64.MMIO.SYS [R38], R40 ;
        STG.E.64.MMIO.SYS [R38+0x8], R26 ;
        STG.E.64.MMIO.SYS [R38+0x10], R14 ;
        STG.E.64.MMIO.SYS [R38+0x18], R24 ;
        STG.E.64.MMIO.SYS [R38+0x20], R28 ;
        STG.E.64.MMIO.SYS [R38+0x28], R34 ;
        STG.E.64.MMIO.SYS [R38+0x30], R12 ;
        STG.E.64.MMIO.SYS [R38+0x38], R36 ;
L10:
        BSYNC B3 ;
L11:
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
L12:
        BSYNC B2 ;
L13:
        LD.E.64 R40, desc[UR36][R30.64+0x38] ;
        LD.E R43, desc[UR36][R30.64+0x20] ;
        STG.E.MMIO.SYS [R40], R42 ;
        LDG.E.64 R38, desc[UR36][R16.64+0x38] ;
        IMAD.IADD R43, R42, 0x1, -R43 ;
        IMAD.IADD R49, R48, 0x1, R49 ;
        IMAD.MOV.U32 R51, RZ, RZ, R42.reuse ;
        IADD3 R38, P1, R43, R38, RZ ;
        IMAD.MOV.U32 R43, RZ, RZ, R42 ;
        IADD3.X R39, RZ, R39, RZ, P1, !PT ;
        ISETP.GE.AND P1, PT, R49, 0x1, PT ;
        STG.E.64 desc[UR36][R16.64+0x38], R38 ;
        ST.E.64 desc[UR36][R30.64+0x20], R42 ;
        @!P1 BRA L3 ;
        BSYNC B0 ;
L14:
        @!P0 BRA L2 ;
        BSYNC B1 ;
L15:
        LDG.E R12, desc[UR36][R16.64+0x38] ;
        BSSY B0, L18 ;
L16:
        LDG.E.64 R8, desc[UR36][R16.64+0x30] ;
        QSPC.E.L P0, RZ, [R8] ;
        @!P0 LD.E.STRONG.SYS R7, desc[UR36][R8.64] ;
        @!P0 CCTL.IVALL ;
        YIELD ;
        @!P0 BRA L17 ;
        ULDC UR4, c[0x0][0x20] ;
        VIADD R11, R8, -UR4 ;
        LDL.U8 R8, [R11+0x1] ;
        LDL.U8 R10, [R11+0x3] ;
        LDL.U8 R7, [R11] ;
        LDL.U8 R9, [R11+0x2] ;
        NANOSLEEP RZ ;
        PRMT R8, R8, 0x7604, RZ ;
        PRMT R10, R10, 0x7604, RZ ;
        LOP3.LUT R8, R8, 0xffff00ff, R7, 0xf8, !PT ;
        LOP3.LUT R9, R10, 0xffff00ff, R9, 0xf8, !PT ;
        PRMT R7, R8, 0x5410, R9 ;
L17:
        IMAD.IADD R7, R12, 0x1, -R7 ;
        LOP3.LUT P0, RZ, R7, 0x7fffffff, RZ, 0xc0, !PT ;
        @P0 BRA L16 ;
        BSYNC B0 ;
L18:
        LOP3.LUT R5, R5, 0xc0000000, RZ, 0xc0, !PT ;
        ULDC UR4, c[0x0][0x320] ;
        IADD3 R20, P0, R5.reuse, R20, RZ ;
        IADD3 R22, P1, R5.reuse, R22, RZ ;
        IADD3 R28, -R5, UR4, RZ ;
        IMAD.X R21, R6.reuse, 0x1, R21, P0 ;
        IMAD.X R23, R6, 0x1, R23, P1 ;
L19:
        LDG.E.64 R6, desc[UR36][R16.64] ;
        LDG.E.64 R8, desc[UR36][R16.64+0x30] ;
        S2R R10, SR_TID.X ;
        LDG.E R25, desc[UR36][R16.64+0x40] ;
        LD.E R26, desc[UR36][R6.64+0x28] ;
        LD.E.U16 R24, desc[UR36][R6.64+0x50] ;
        LD.E R15, desc[UR36][R6.64+0x18] ;
        LD.E R31, desc[UR36][R6.64+0x20] ;
        QSPC.E.L P1, RZ, [R8] ;
        ULDC UR4, c[0x0][0x20] ;
        LOP3.LUT R5, R2, 0x10000, RZ, 0xfc, !PT ;
        IMAD.MOV.U32 R30, RZ, RZ, RZ ;
        LOP3.LUT R14, R4, 0xffff, RZ, 0xc0, !PT ;
        IMAD.MOV.U32 R4, RZ, RZ, RZ ;
        LOP3.LUT R29, R0, 0xffffff, RZ, 0xc0, !PT ;
        VIADD R0, R8, -UR4 ;
        LOP3.LUT R27, R10, 0xffff, RZ, 0xc0, !PT ;
        LOP3.LUT R2, R10, 0xffff0000, RZ, 0xc0, !PT ;
        IMAD.MOV.U32 R10, RZ, RZ, R28 ;
        IADD3 R11, R26, 0x1, RZ ;
        ST.E desc[UR36][R6.64+0x28], R11 ;
        IMAD.MOV.U32 R11, RZ, RZ, R3 ;
        IMAD.MOV.U32 R3, RZ, RZ, RZ ;
L20:
        IMAD.MOV R12, RZ, RZ, -R30 ;
        IADD3 R36, R26, R30, RZ ;
        YIELD ;
        VIADDMNMX R37, R12, 0x1, R15, PT ;
        BSSY B0, L22 ;
        IMAD.IADD R12, R37, 0x1, R36 ;
        IMAD.IADD R32, R12, 0x1, -R31 ;
        ISETP.GT.U32.AND P0, PT, R32, R15, PT ;
        ISETP.EQ.OR P0, PT, R36, R31, !P0 ;
        @P0 BRA L21 ;
        LD.E.64 R32, desc[UR36][R6.64+0x38] ;
        IMAD.IADD R13, R36, 0x1, -R31 ;
        STG.E.MMIO.SYS [R32], R36 ;
        LDG.E.64 R34, desc[UR36][R16.64+0x38] ;
        IADD3 R34, P0, R13, R34, RZ ;
        IMAD.X R35, RZ, RZ, R35, P0 ;
        STG.E.64 desc[UR36][R16.64+0x38], R34 ;
        ST.E desc[UR36][R6.64+0x20], R36 ;
L21:
        BSYNC B0 ;
L22:
        BSSY B0, L25 ;
L23:
        @!P1 LD.E.STRONG.SYS R13, desc[UR36][R8.64] ;
        YIELD ;
        @!P1 BRA L24 ;
        LDL.U8 R31, [R0+0x1] ;
        LDL.U8 R33, [R0+0x3] ;
        LDL.U8 R13, [R0] ;
        LDL.U8 R32, [R0+0x2] ;
        NANOSLEEP RZ ;
        PRMT R34, R31, 0x7604, RZ ;
        PRMT R33, R33, 0x7604, RZ ;
        LOP3.LUT R13, R34, 0xffff00ff, R13, 0xf8, !PT ;
        LOP3.LUT R32, R33, 0xffff00ff, R32, 0xf8, !PT ;
        PRMT R13, R13, 0x5410, R32 ;
L24:
        IMAD.IADD R13, R12, 0x1, -R13 ;
        LOP3.LUT R32, R13, 0x7fffffff, RZ, 0xc0, !PT ;
        ISETP.GT.U32.AND P0, PT, R32, R25, PT ;
        @P0 BRA L23 ;
        BSYNC B0 ;
L25:
        IMAD.IADD R13, R37, 0x1, R30 ;
        BSSY B0, L30 ;
        ISETP.GE.AND P0, PT, R13, 0x1, PT ;
        @!P0 BRA L29 ;
        LD.E.64 R34, desc[UR36][R6.64+0x10] ;
        LD.E.64 R32, desc[UR36][R6.64+0x30] ;
        PRMT R36, R24, 0x9910, RZ ;
        BSSY B1, L28 ;
        LOP3.LUT R13, R34, R26, RZ, 0xc0, !PT ;
        SHF.R.U32.HI R35, RZ, R35, R26 ;
        IMAD R31, R24, R13, RZ ;
        MOV R13, R36 ;
        IMAD.SHL.U32 R34, R35, 0x1000000, RZ ;
        LOP3.LUT R35, R14, 0x10000, RZ, 0xfc, !PT ;
        ISETP.NE.AND P0, PT, R13, 0x40, PT ;
        IADD3 R32, P2, R31, R32, RZ ;
        LOP3.LUT R34, R27, 0x1000000, R34, 0xf8, !PT ;
        IMAD.X R33, RZ, RZ, R33, P2 ;
        LOP3.LUT R34, R34, 0x1c820000, RZ, 0xfc, !PT ;
        @!P0 BRA L26 ;
        STG.E.64.MMIO.SYS [R32], R34 ;
        STG.E.64.MMIO.SYS [R32+0x8], R4 ;
        STG.E.64.MMIO.SYS [R32+0x10], R18 ;
        STG.E.64.MMIO.SYS [R32+0x18], R2 ;
        STG.E.64.MMIO.SYS [R32+0x20], R10 ;
        STG.E.64.MMIO.SYS [R32+0x28], R22 ;
        STG.E.64.MMIO.SYS [R32+0x30], R28 ;
        STG.E.64.MMIO.SYS [R32+0x38], R20 ;
        STG.E.64.MMIO.SYS [R32+0x40], RZ ;
        STG.E.64.MMIO.SYS [R32+0x48], RZ ;
        STG.E.64.MMIO.SYS [R32+0x50], RZ ;
        STG.E.64.MMIO.SYS [R32+0x58], RZ ;
        STG.E.64.MMIO.SYS [R32+0x60], RZ ;
        STG.E.64.MMIO.SYS [R32+0x68], RZ ;
        STG.E.64.MMIO.SYS [R32+0x70], RZ ;
        STG.E.64.MMIO.SYS [R32+0x78], RZ ;
        BRA L27 ;
L26:
        STG.E.64.MMIO.SYS [R32], R34 ;
        STG.E.64.MMIO.SYS [R32+0x8], R4 ;
        STG.E.64.MMIO.SYS [R32+0x10], R18 ;
        STG.E.64.MMIO.SYS [R32+0x18], R2 ;
        STG.E.64.MMIO.SYS [R32+0x20], R10 ;
        STG.E.64.MMIO.SYS [R32+0x28], R22 ;
        STG.E.64.MMIO.SYS [R32+0x30], R28 ;
        STG.E.64.MMIO.SYS [R32+0x38], R20 ;
L27:
        BSYNC B1 ;
L28:
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
L29:
        BSYNC B0 ;
L30:
        LD.E.64 R32, desc[UR36][R6.64+0x38] ;
        LD.E R13, desc[UR36][R6.64+0x20] ;
        STG.E.MMIO.SYS [R32], R12 ;
        LDG.E.64 R34, desc[UR36][R16.64+0x38] ;
        IMAD.IADD R13, R12, 0x1, -R13 ;
        IMAD.IADD R30, R15, 0x1, R30 ;
        IMAD.MOV.U32 R31, RZ, RZ, R12.reuse ;
        IADD3 R34, P0, R13, R34, RZ ;
        IMAD.MOV.U32 R13, RZ, RZ, R12 ;
        IMAD.X R35, RZ, RZ, R35, P0 ;
        ISETP.GE.AND P0, PT, R30, 0x1, PT ;
        STG.E.64 desc[UR36][R16.64+0x38], R34 ;
        ST.E.64 desc[UR36][R6.64+0x20], R12 ;
        @!P0 BRA L20 ;
        EXIT ;
L31:
        BRA L31;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
		..........


