		Function : _Z16probe_put_kernel9ProbeArgs
	.headerflags	@"EF_CUDA_SM100 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM100)"
        LDC R1, c[0x0][0x37c] ;
        LDC.U8 R3, c[0x0][0x3e0] ;
        LDCU.64 UR36, c[0x0][0x358] ;
        LDCU UR4, c[0x0][0x4a0] ;
        LDC R5, c[0x0][0x49c] ;
        ISETP.NE.U32.AND P0, PT, R3, 0x3, PT ;
        @!P0 IMAD.HI.U32 R0, R5, -0x55555555, RZ ;
        @P0 ISETP.NE.U32.AND P1, PT, R3, 0x4, PT ;
        @P0 VIADD R2, R3, 0xffffffff ;
        @!P0 SHF.R.U32.HI R0, RZ, 0x1, R0 ;
        @!P0 IMAD R0, R0, -0x3, R5 ;
        @P0 LOP3.LUT R0, R2, R5, RZ, 0xc0, !PT ;
        IMAD.SHL.U32 R0, R0, 0x8, RZ ;
        LOP3.LUT R2, R0, 0x7f8, RZ, 0xc0, !PT ;
        @P0 VIADD R0, R3, 0xffffffff ;
        @!P0 IMAD.HI.U32 R3, R5, -0x55555555, RZ ;
        LDC.64 R16, c[0x0][R2+0x3e8] ;
        @P0 SEL R0, R0, 0x2, P1 ;
        @!P0 SHF.R.U32.HI R3, RZ, 0x1, R3 ;
        @P0 SHF.R.S32.HI R3, RZ, R0, R5 ;
        IMAD.WIDE R16, R3, 0xf0, R16 ;
        LDG.E R0, desc[UR36][R16.64+0xb4] ;
        ISETP.GT.AND P0, PT, R0, UR4, PT ;
        @P0 BRA L0 ;
        MOV R0, 0x0 ;
        LDCU.64 UR4, c[0x4][0x20] ;
        HFMA2 R13, -RZ, RZ, 0, 0 ;
        IMAD.MOV.U32 R8, RZ, RZ, 0x311 ;
        LDC.64 R2, c[0x4][R0] ;
        LDCU.64 UR6, c[0x4][0x18] ;
        IMAD.MOV.U32 R12, RZ, RZ, 0x1 ;
        LDCU.64 UR8, c[0x4][0x8] ;
        IMAD.U32 R4, RZ, RZ, UR4 ;
        IMAD.U32 R5, RZ, RZ, UR5 ;
        IMAD.U32 R6, RZ, RZ, UR6 ;
        IMAD.U32 R7, RZ, RZ, UR7 ;
        IMAD.U32 R10, RZ, RZ, UR8 ;
        IMAD.U32 R11, RZ, RZ, UR9 ;
        LEPC R20, 0x280 ;
        CALL.ABS.NOINC R2 ;
L0:
        LDC.64 R4, c[0x0][0x490] ;
        ISETP.GE.U32.AND P0, PT, R4, 0x40000001, PT ;
        ISETP.GE.U32.AND.EX P0, PT, R5, RZ, PT, P0 ;
        @!P0 BRA L11 ;
        ISETP.GE.U32.AND P0, PT, R4.reuse, 0x1, PT ;
        BSSY.RECONVERGENT B0, L7 ;
        IADD3 R0, P1, PT, R4, -0x1, RZ ;
        ISETP.GE.U32.AND.EX P0, PT, R5.reuse, 0x4, PT, P0 ;
        IADD3.X R3, PT, PT, R5, -0x1, RZ, P1, !PT ;
        SHF.R.U64 R0, R0, 0x1e, R3 ;
        LOP3.LUT R12, R0, 0xf, RZ, 0xc0, !PT ;
        @!P0 BRA L3 ;
        SHF.R.U32.HI R2, RZ, 0x1e, R3 ;
        BSSY.RECONVERGENT B1, L2 ;
        LOP3.LUT R3, R0, 0xfffffff0, RZ, 0xc0, !PT ;
        LOP3.LUT R2, R2, 0x3, RZ, 0xc0, !PT ;
L1:
        LDG.E.64 R4, desc[UR36][R16.64] ;
        LD.E R6, desc[UR36][R4.64+0x28] ;
        VIADD R13, R6, 0x1 ;
        ST.E desc[UR36][R4.64+0x28], R13 ;
        LDG.E.64 R6, desc[UR36][R16.64] ;
        LD.E R8, desc[UR36][R6.64+0x28] ;
        VIADD R15, R8, 0x1 ;
        ST.E desc[UR36][R6.64+0x28], R15 ;
        LDG.E.64 R8, desc[UR36][R16.64] ;
        LD.E R10, desc[UR36][R8.64+0x28] ;
        VIADD R19, R10, 0x1 ;
        ST.E desc[UR36][R8.64+0x28], R19 ;
        LDG.E.64 R10, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R10.64+0x28] ;
        VIADD R13, R14, 0x1 ;
        ST.E desc[UR36][R10.64+0x28], R13 ;
        LDG.E.64 R4, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R4.64+0x28] ;
        VIADD R15, R14, 0x1 ;
        ST.E desc[UR36][R4.64+0x28], R15 ;
        LDG.E.64 R6, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R6.64+0x28] ;
        VIADD R19, R14, 0x1 ;
        ST.E desc[UR36][R6.64+0x28], R19 ;
        LDG.E.64 R8, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R8.64+0x28] ;
        VIADD R13, R14, 0x1 ;
        ST.E desc[UR36][R8.64+0x28], R13 ;
        LDG.E.64 R10, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R10.64+0x28] ;
        VIADD R15, R14, 0x1 ;
        ST.E desc[UR36][R10.64+0x28], R15 ;
        LDG.E.64 R4, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R4.64+0x28] ;
        VIADD R19, R14, 0x1 ;
        ST.E desc[UR36][R4.64+0x28], R19 ;
        LDG.E.64 R6, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R6.64+0x28] ;
        IADD3 R13, PT, PT, R14, 0x1, RZ ;
        ST.E desc[UR36][R6.64+0x28], R13 ;
        LDG.E.64 R8, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R8.64+0x28] ;
        VIADD R15, R14, 0x1 ;
        ST.E desc[UR36][R8.64+0x28], R15 ;
        LDG.E.64 R10, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R10.64+0x28] ;
        VIADD R19, R14, 0x1 ;
        ST.E desc[UR36][R10.64+0x28], R19 ;
        LDG.E.64 R4, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R4.64+0x28] ;
        VIADD R13, R14, 0x1 ;
        ST.E desc[UR36][R4.64+0x28], R13 ;
        LDG.E.64 R6, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R6.64+0x28] ;
        VIADD R15, R14, 0x1 ;
        ST.E desc[UR36][R6.64+0x28], R15 ;
        LDG.E.64 R8, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R8.64+0x28] ;
        VIADD R19, R14, 0x1 ;
        ST.E desc[UR36][R8.64+0x28], R19 ;
        LDG.E.64 R10, desc[UR36][R16.64] ;
        LD.E R14, desc[UR36][R10.64+0x28] ;
        IADD3 R3, P0, PT, R3, -0x10, RZ ;
        IADD3.X R2, PT, PT, R2, -0x1, RZ, P0, !PT ;
        ISETP.NE.U32.AND P0, PT, R3, RZ, PT ;
        ISETP.NE.U32.AND.EX P0, PT, R2, RZ, PT, P0 ;
        VIADD R5, R14, 0x1 ;
        ST.E desc[UR36][R10.64+0x28], R5 ;
        @P0 BRA L1 ;
        NOP ;
        BSYNC.RECONVERGENT B1 ;
L2:
        ISETP.NE.U32.AND P0, PT, R12, RZ, PT ;
        ISETP.NE.U32.AND.EX P0, PT, RZ, RZ, PT, P0 ;
        @!P0 BRA L6 ;
L3:
        ISETP.GE.U32.AND P0, PT, R12, 0x8, PT ;
        LOP3.LUT R12, R0, 0x7, RZ, 0xc0, !PT ;
        ISETP.GE.U32.AND.EX P0, PT, RZ, RZ, PT, P0 ;
        @!P0 BRA L4 ;
        LDG.E.64 R2, desc[UR36][R16.64] ;
        LD.E R4, desc[UR36][R2.64+0x28] ;
        VIADD R11, R4, 0x1 ;
        ST.E desc[UR36][R2.64+0x28], R11 ;
        LDG.E.64 R4, desc[UR36][R16.64] ;
        LD.E R6, desc[UR36][R4.64+0x28] ;
        VIADD R13, R6, 0x1 ;
        ST.E desc[UR36][R4.64+0x28], R13 ;
        LDG.E.64 R6, desc[UR36][R16.64] ;
        LD.E R8, desc[UR36][R6.64+0x28] ;
        IADD3 R15, PT, PT, R8, 0x1, RZ ;
        ST.E desc[UR36][R6.64+0x28], R15 ;
        LDG.E.64 R8, desc[UR36][R16.64] ;
        LD.E R10, desc[UR36][R8.64+0x28] ;
        VIADD R11, R10, 0x1 ;
        ST.E desc[UR36][R8.64+0x28], R11 ;
        LDG.E.64 R2, desc[UR36][R16.64] ;
        LD.E R10, desc[UR36][R2.64+0x28] ;
        VIADD R13, R10, 0x1 ;
        ST.E desc[UR36][R2.64+0x28], R13 ;
        LDG.E.64 R4, desc[UR36][R16.64] ;
        LD.E R10, desc[UR36][R4.64+0x28] ;
        VIADD R15, R10, 0x1 ;
        ST.E desc[UR36][R4.64+0x28], R15 ;
        LDG.E.64 R6, desc[UR36][R16.64] ;
        LD.E R10, desc[UR36][R6.64+0x28] ;
        VIADD R11, R10, 0x1 ;
        ST.E desc[UR36][R6.64+0x28], R11 ;
        LDG.E.64 R8, desc[UR36][R16.64] ;
        LD.E R10, desc[UR36][R8.64+0x28] ;
        ISETP.NE.U32.AND P0, PT, R12, RZ, PT ;
        ISETP.NE.U32.AND.EX P0, PT, RZ, RZ, PT, P0 ;
        VIADD R3, R10, 0x1 ;
        ST.E desc[UR36][R8.64+0x28], R3 ;
        @!P0 BRA L6 ;
L4:
        ISETP.GE.U32.AND P0, PT, R12, 0x4, PT ;
        IMAD.MOV.U32 R12, RZ, RZ, RZ ;
        LOP3.LUT R10, R0, 0x3, RZ, 0xc0, !PT ;
        ISETP.GE.U32.AND.EX P0, PT, RZ, RZ, PT, P0 ;
        @!P0 BRA L5 ;
        LDG.E.64 R2, desc[UR36][R16.64] ;
        LD.E R0, desc[UR36][R2.64+0x28] ;
        VIADD R11, R0, 0x1 ;
        ST.E desc[UR36][R2.64+0x28], R11 ;
        LDG.E.64 R4, desc[UR36][R16.64] ;
        LD.E R0, desc[UR36][R4.64+0x28] ;
        VIADD R13, R0, 0x1 ;
        ST.E desc[UR36][R4.64+0x28], R13 ;
        LDG.E.64 R6, desc[UR36][R16.64] ;
        LD.E R0, desc[UR36][R6.64+0x28] ;
        IADD3 R15, PT, PT, R0, 0x1, RZ ;
        ST.E desc[UR36][R6.64+0x28], R15 ;
        LDG.E.64 R8, desc[UR36][R16.64] ;
        LD.E R0, desc[UR36][R8.64+0x28] ;
        ISETP.NE.U32.AND P0, PT, R10, RZ, PT ;
        ISETP.NE.U32.AND.EX P0, PT, R12, RZ, PT, P0 ;
        VIADD R3, R0, 0x1 ;
        ST.E desc[UR36][R8.64+0x28], R3 ;
        @!P0 BRA L6 ;
L5:
        LDG.E.64 R2, desc[UR36][R16.64] ;
        LD.E R0, desc[UR36][R2.64+0x28] ;
        IADD3 R10, P0, PT, R10, -0x1, RZ ;
        IADD3.X R12, PT, PT, R12, -0x1, RZ, P0, !PT ;
        ISETP.NE.U32.AND P0, PT, R10, RZ, PT ;
        ISETP.NE.U32.AND.EX P0, PT, R12, RZ, PT, P0 ;
        VIADD R5, R0, 0x1 ;
        ST.E desc[UR36][R2.64+0x28], R5 ;
        @P0 BRA L5 ;
L6:
        NOP ;
        BSYNC.RECONVERGENT B0 ;
L7:
        BSSY B0, L11 ;
L8:
        LDG.E.64 R2, desc[UR36][R16.64+0x30] ;
        LD.E.STRONG.GPU R0, desc[UR36][R16.64+0x38] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R2] ;
        @!P0 BRA L9 ;
        LDCU UR4, c[0x0][0x2f8] ;
        VIADD R8, R2, -UR4 ;
        LDL.U8 R6, [R8+0x2] ;
        LDL.U8 R7, [R8+0x3] ;
        LDL.U8 R4, [R8] ;
        LDL.U8 R5, [R8+0x1] ;
        NANOSLEEP RZ ;
        IMAD.U32 R6, R6, 0x10000, RZ ;
        IMAD.SHL.U32 R7, R7, 0x1000000, RZ ;
        PRMT R4, R4, 0x6540, R5 ;
        LOP3.LUT R7, R4, R7, R6, 0xfe, !PT ;
L9:
        @P0 BRA L10 ;
        LD.E.STRONG.SYS R7, desc[UR36][R2.64] ;
        CCTL.IVALL ;
L10:
        IMAD.IADD R0, R0, 0x1, -R7 ;
        LOP3.LUT P0, RZ, R0, 0x7fffffff, RZ, 0xc0, !PT ;
        @P0 BRA L8 ;
        BSYNC B0 ;
L11:
        LDG.E.64 R16, desc[UR36][R16.64] ;
        LD.E R0, desc[UR36][R16.64+0x28] ;
        VIADD R3, R0, 0x1 ;
        ST.E desc[UR36][R16.64+0x28], R3 ;
        EXIT ;
L12:
        BRA L12;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
		..........


