		Function : _Z16probe_put_kernel9ProbeArgs
	.headerflags	@"EF_CUDA_SM100 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM100)"
        LDC R1, c[0x0][0x37c] ;
        LDC.U8 R14, c[0x0][0x3e1] ;
        LDCU.64 UR36, c[0x0][0x358] ;
        LDCU UR4, c[0x0][0x41c] ;
        LDC.U8 R11, c[0x0][0x3e0] ;
        LDCU UR5, c[0x0][0x4a0] ;
        LDC.64 R18, c[0x0][0x480] ;
        LDC.64 R2, c[0x0][0x478] ;
        ISETP.NE.U32.AND P2, PT, R14, RZ, PT ;
        LDC R23, c[0x0][0x49c] ;
        ISETP.NE.U32.AND P0, PT, R11, 0x3, PT ;
        @!P2 LDC.64 R26, c[0x0][0x480] ;
        @P2 LDG.E R9, desc[UR36][R18.64+0x50] ;
        @P2 LDG.E.64 R6, desc[UR36][R18.64+0x48] ;
        @!P2 LDC.64 R28, c[0x0][0x478] ;
        @P2 LDG.E R10, desc[UR36][R2.64+0x50] ;
        @P0 VIADD R8, R11, 0xffffffff ;
        @P2 LDG.E.64 R4, desc[UR36][R2.64+0x48] ;
        @!P0 IMAD.HI.U32 R0, R23, -0x55555555, RZ ;
        @P0 ISETP.NE.U32.AND P1, PT, R11.reuse, 0x4, PT ;
        LDC.64 R24, c[0x0][0x488] ;
        LDCU UR6, c[0x0][0x498] ;
        @P0 VIADD R12, R11, 0xffffffff ;
        @!P0 SHF.R.U32.HI R0, RZ, 0x1, R0 ;
        @!P0 IMAD.HI.U32 R20, R23, -0x55555555, RZ ;
        LDG.E R3, desc[UR36][R2.64+0x20] ;
        @!P0 IMAD R0, R0, -0x3, R23 ;
        @P0 LOP3.LUT R0, R8, R23, RZ, 0xc0, !PT ;
        UISETP.NE.U32.AND UP0, UPT, UR4, 0x1, UPT ;
        LDG.E R18, desc[UR36][R18.64+0x20] ;
        LOP3.LUT R0, R0, 0xff, RZ, 0xc0, !PT ;
        @!P2 IMAD.WIDE.U32 R26, R0, 0x8, R26 ;
        @!P2 IMAD.WIDE.U32 R28, R0.reuse, 0x8, R28 ;
        @!P2 LDG.E.64 R26, desc[UR36][R26.64+0x28] ;
        @!P2 LDG.E.64 R28, desc[UR36][R28.64+0x28] ;
        IMAD.SHL.U32 R16, R0, 0x8, RZ ;
        LDC.64 R16, c[0x0][R16+0x3e8] ;
        @P0 SEL R12, R12, 0x2, P1 ;
        @P2 SHF.R.S32.HI R11, RZ, 0x1f, R9 ;
        @P2 IMAD.WIDE.U32 R8, R9, R14, RZ ;
        @P2 SHF.R.S32.HI R13, RZ, 0x1f, R10 ;
        @P2 IMAD R15, R11, R14.reuse, RZ ;
        @P2 IMAD.WIDE.U32 R10, R10, R14, RZ ;
        @P2 IMAD R21, R13, R14, RZ ;
        @P2 IMAD.IADD R14, R9, 0x1, R15 ;
        @P2 IADD3 R9, PT, PT, R11, R21, RZ ;
        @P2 IMAD.WIDE.U32 R6, R8, 0x30, R6 ;
        @!P0 SHF.R.U32.HI R13, RZ, 0x1, R20 ;
        @P0 SHF.R.S32.HI R13, RZ, R12, R23 ;
        @P2 IMAD R15, R14, 0x30, RZ ;
        @P2 IMAD.WIDE.U32 R10, R10, 0x30, R4 ;
        @P2 IMAD R9, R9, 0x30, RZ ;
        @P2 IMAD.IADD R7, R7, 0x1, R15 ;
        IMAD.WIDE R16, R13, 0x100, R16 ;
        @P2 IMAD.IADD R11, R11, 0x1, R9 ;
        LDG.E R8, desc[UR36][R16.64+0x94] ;
        @P2 IMAD.WIDE.U32 R4, R0, 0x8, R6 ;
        @P2 IMAD.WIDE.U32 R6, R0, 0x8, R10 ;
        @P2 LD.E.64 R26, desc[UR36][R4.64] ;
        @P2 LD.E.64 R28, desc[UR36][R6.64] ;
        IMAD.U32 R19, RZ, RZ, UR6 ;
        LDCU UR7, c[0x0][0x490] ;
        ISETP.GT.AND P1, PT, R8, UR5, PT ;
        BRA.U !UP0, L0 ;
        LDC R2, c[0x0][0x448] ;
        LDC R5, c[0x0][0x498] ;
        ISETP.NE.U32.AND P0, PT, R2, RZ, PT ;
        IMAD.HI.U32 R0, R5, R2, RZ ;
        SEL R0, R0, R5, P0 ;
        IADD3 R19, PT, PT, R0, 0x1, RZ ;
        IMAD.MOV R2, RZ, RZ, -R0 ;
        IMAD R2, R2, UR4, R5 ;
        ISETP.GE.U32.AND P0, PT, R2, UR4, PT ;
        @!P0 IMAD.MOV R19, RZ, RZ, R0 ;
L0:
        IMAD.U32 R22, RZ, RZ, UR7 ;
        IMAD.WIDE.U32 R24, R3, 0x1000, R24 ;
        @P1 BRA L1 ;
        MOV R0, 0x0 ;
        LDCU.64 UR4, c[0x4][0x20] ;
        MOV R12, 0x1 ;
        IMAD.MOV.U32 R8, RZ, RZ, 0x380 ;
        LDC.64 R2, c[0x4][R0] ;
        LDCU.64 UR6, c[0x4][0x18] ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        LDCU.64 UR8, c[0x4][0x8] ;
        IMAD.U32 R4, RZ, RZ, UR4 ;
        IMAD.U32 R5, RZ, RZ, UR5 ;
        MOV R6, UR6 ;
        IMAD.U32 R7, RZ, RZ, UR7 ;
        IMAD.U32 R10, RZ, RZ, UR8 ;
        IMAD.U32 R11, RZ, RZ, UR9 ;
        LEPC R20, 0x5d0 ;
        CALL.ABS.NOINC R2 ;
L1:
        LDC.64 R20, c[0x0][0x490] ;
        LDG.E R0, desc[UR36][R16.64+0x98] ;
        LDG.E.64 R4, desc[UR36][R16.64+0x10] ;
        LDC R23, c[0x0][0x4a0] ;
        LDG.E.64 R6, desc[UR36][R16.64+0x18] ;
        ISETP.NE.U32.AND P0, PT, R20, RZ, PT ;
        ISETP.NE.U32.AND.EX P0, PT, R21, RZ, PT, P0 ;
        @P0 LDG.E R3, desc[UR36][R16.64+0xa0] ;
        @!P0 LDG.E.64 R10, desc[UR36][R16.64+0xb8] ;
        @!P0 LDG.E.64 R30, desc[UR36][R16.64+0xc0] ;
        @P0 IMAD.WIDE.U32 R26, R3, 0x8, R26 ;
        @P0 LD.E.64 R26, desc[UR36][R26.64] ;
        @P0 IMAD.WIDE.U32 R28, R3, 0x8, R28 ;
        LDG.E.64 R2, desc[UR36][R16.64+0x8] ;
        @P0 LD.E.64 R28, desc[UR36][R28.64] ;
        @P0 IMAD.WIDE R12, R19, 0x10, R26 ;
        @P0 LDC.64 R26, c[0x0][0x488] ;
        @P0 LD.E.64 R14, desc[UR36][R12.64+0x10] ;
        @P0 LD.E.64 R8, desc[UR36][R28.64+0x8] ;
        @P0 LD.E R33, desc[UR36][R12.64+0x18] ;
        @P0 LD.E R32, desc[UR36][R28.64] ;
        IMAD R0, R0, R23, R0 ;
        @P0 IMAD.WIDE.U32 R26, R18, 0x1000, R26 ;
        IMAD.IADD R37, R0, 0x1, R19 ;
        IMAD.WIDE.U32 R34, R37, 0x2, R4 ;
        @!P0 IMAD.WIDE R12, R19, 0x8, R10 ;
        @P0 IADD3 R26, P1, PT, R14, R26, RZ ;
        @P0 IMAD.X R27, R15, 0x1, R27, P1 ;
        @P0 IADD3 R28, P1, PT, R24, R8, RZ ;
        IMAD.WIDE.U32 R14, R37, 0x2, R2 ;
        IMAD.WIDE.U32 R36, R37, 0x4, R6 ;
        LD.E.U16 R18, desc[UR36][R14.64] ;
        @P0 IMAD.X R29, R25, 0x1, R9, P1 ;
        LD.E R10, desc[UR36][R36.64] ;
        LD.E.U16 R9, desc[UR36][R34.64] ;
        @!P0 IMAD.WIDE R30, R19, 0x4, R30 ;
        @!P0 LD.E.64 R26, desc[UR36][R12.64] ;
        @!P0 LD.E R33, desc[UR36][R30.64] ;
        @!P0 LDG.E R32, desc[UR36][R16.64+0xa4] ;
        @!P0 LDG.E.64 R28, desc[UR36][R16.64+0xb0] ;
        ISETP.GE.U32.AND P0, PT, R20, 0x40000001, PT ;
        ISETP.GE.U32.AND.EX P0, PT, R21, RZ, PT, P0 ;
        @!P0 BRA L84 ;
        IMAD.WIDE.U32 R2, R19, 0x2, R2 ;
        IMAD.WIDE.U32 R14, R19.reuse, 0x4, R6 ;
        LD.E.U16 R2, desc[UR36][R2.64] ;
        IMAD.WIDE.U32 R12, R19, 0x2, R4 ;
        LD.E R8, desc[UR36][R14.64] ;
        LD.E.U16 R7, desc[UR36][R12.64] ;
        HFMA2 R6, -RZ, RZ, 0, 0 ;
        BSSY B1, L77 ;
        IMAD.MOV.U32 R5, RZ, RZ, RZ ;
        IMAD.MOV.U32 R24, RZ, RZ, RZ ;
        LOP3.LUT R25, R2, 0x10000, RZ, 0xfc, !PT ;
L2:
        YIELD ;
        VOTE.ANY R43, PT, PT ;
        REDUX.OR UR4, R43 ;
        R2UR P0, URZ, R43 ;
        @!P0 BRA.DIV UR4, L153 ;
        MATCH.ANY.U64 R2, R16 ;
L3:
        S2R R42, SR_LANEID ;
        BREV R0, R2 ;
        REDUX.OR UR4, R43 ;
        R2UR P1, URZ, R43 ;
        FLO.U32.SH R3, R0 ;
        ISETP.NE.U32.AND P0, PT, R3, R42, PT ;
        @!P1 BRA.DIV UR4, L156 ;
L4:
        REDUX.OR UR4, R2 ;
        R2UR P0, URZ, R2 ;
        @!P0 BRA.DIV UR4, L159 ;
        MATCH.ANY R0, R19 ;
L5:
        S2R R45, SR_LTMASK ;
        BREV R12, R0 ;
        REDUX.OR UR4, R2 ;
        R2UR P2, URZ, R2 ;
        POPC R37, R0 ;
        FLO.U32.SH R12, R12 ;
        LOP3.LUT P1, R20, R45, RZ, R0, 0xa0, !PT ;
        ISETP.NE.U32.AND P0, PT, R12, R42, PT ;
        @!P2 BRA.DIV UR4, L162 ;
L6:
        BSSY B0, L9 ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        @P1 BRA L8 ;
        LDG.E.64 R2, desc[UR36][R16.64+0xd0] ;
        LDCU UR4, c[0x0][0x2f8] ;
        MOV R13, RZ ;
        QSPC.E.L P0, RZ, [R2] ;
        VIADD R14, R2, -UR4 ;
        IMAD R11, R19, 0x4, R14 ;
        @!P0 BRA L7 ;
        LDL R38, [R11] ;
        LDL.U8 R13, [R11] ;
        LDL.U8 R14, [R11+0x1] ;
        LDL.U8 R15, [R11+0x2] ;
        LDL.U8 R22, [R11+0x3] ;
        IMAD.IADD R38, R37, 0x1, R38 ;
        STL [R11], R38 ;
        NANOSLEEP RZ ;
        IMAD R13, R14, 0x100, R13 ;
        IMAD R22, R22, 0x100, R15 ;
        LEA R13, R22, R13, 0x10 ;
L7:
        IMAD.WIDE.U32 R2, R19, 0x4, R2 ;
        @P0 BRA L8 ;
        VOTE.ANY R11, PT, PT ;
        ISETP.EQ.U32.AND P0, PT, R11, -0x1, PT ;
        @!P0 ATOM.E.ADD.STRONG.GPU PT, R13, desc[UR36][R2.64], R37 ;
        @!P0 BRA L8 ;
        SHFL.UP P0, R14, R37, 0x1, RZ ;
        IMAD.MOV.U32 R11, RZ, RZ, R37 ;
        ISETP.EQ.U32.AND P1, PT, R42, 0x1f, PT ;
        @P0 IMAD.IADD.U32 R11, R37, 0x1, R14 ;
        SHFL.UP P0, R14, R11, 0x2, RZ ;
        @P0 IMAD.IADD.U32 R11, R11, 0x1, R14 ;
        SHFL.UP P0, R14, R11, 0x4, RZ ;
        @P0 IMAD.IADD.U32 R11, R11, 0x1, R14 ;
        SHFL.UP P0, R14, R11, 0x8, RZ ;
        @P0 IADD3 R11, PT, PT, R11, R14, RZ ;
        SHFL.UP P0, R14, R11, 0x10, RZ ;
        @P0 IMAD.IADD.U32 R11, R11, 0x1, R14 ;
        @P1 ATOM.E.ADD.STRONG.GPU PT, R2, desc[UR36][R2.64], R11 ;
        SHFL.UP P0, R14, R11, 0x1, RZ ;
        SHFL.IDX PT, R13, R2, 0x1f, 0x1f ;
        @P0 IMAD.IADD.U32 R13, R13, 0x1, R14 ;
L8:
        BSYNC B0 ;
L9:
        MATCH.ANY R3, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        ISETP.NE.U32.AND P0, PT, R20, RZ, PT ;
        LOP3.LUT P1, RZ, R0, UR5, R3, 0x40, !PT ;
        @!P1 BRA.DIV UR4, L165 ;
        SHFL.IDX PT, R14, R13, R12, 0x1f ;
L10:
        POPC R11, R20 ;
        BSSY B0, L23 ;
        @P0 BRA L22 ;
        LDC R39, c[0x0][0x2f8] ;
        BSSY B2, L13 ;
        IMAD.IADD R23, R37, 0x1, R14 ;
L11:
        LDG.E.64 R12, desc[UR36][R16.64+0xd8] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R12] ;
        IMAD.IADD R20, R12, 0x1, -R39 ;
        IMAD.WIDE.U32 R2, R19, 0x4, R12 ;
        LEA R15, R19, R20, 0x2 ;
        @!P0 BRA L12 ;
        LDL.U8 R4, [R15] ;
        LDL.U8 R13, [R15+0x1] ;
        LDL.U8 R12, [R15+0x2] ;
        LDL.U8 R21, [R15+0x3] ;
        NANOSLEEP RZ ;
        IMAD R4, R13, 0x100, R4 ;
        IMAD R21, R21, 0x100, R12 ;
        IMAD.U32 R4, R21, 0x10000, R4 ;
L12:
        @!P0 LD.E.STRONG.SYS R4, desc[UR36][R2.64] ;
        @!P0 CCTL.IVALL ;
        LDG.E R13, desc[UR36][R16.64+0xe0] ;
        IMAD.IADD R12, R23, 0x1, -R4 ;
        ISETP.GT.U32.AND P0, PT, R12, R13, PT ;
        @P0 BRA L11 ;
        BSYNC B2 ;
L13:
        LDG.E.64 R2, desc[UR36][R16.64+0xe8] ;
        CS2R R20, SRZ ;
        QSPC.E.L P1, RZ, [R2] ;
        @!P1 BRA L14 ;
        LDCU UR4, c[0x0][0x2f8] ;
        IADD3 R47, PT, PT, R2, -UR4, RZ ;
        LDL.64 R12, [R47] ;
        LDL.U8 R21, [R47+0x2] ;
        LDL.U8 R22, [R47+0x3] ;
        LDL.U8 R15, [R47] ;
        LDL.U8 R20, [R47+0x1] ;
        LDL.U8 R39, [R47+0x6] ;
        LDL.U8 R23, [R47+0x4] ;
        LDL.U8 R38, [R47+0x5] ;
        LDL.U8 R44, [R47+0x7] ;
        IADD3 R12, P0, PT, R37, R12, RZ ;
        IMAD.X R13, RZ, RZ, R13, P0 ;
        IMAD.U32 R21, R21, 0x10000, RZ ;
        IMAD.SHL.U32 R22, R22, 0x1000000, RZ ;
        STL.64 [R47], R12 ;
        NANOSLEEP RZ ;
        PRMT R15, R15, 0x6540, R20 ;
        IMAD.U32 R39, R39, 0x10000, RZ ;
        LOP3.LUT R20, R15, R22, R21, 0xfe, !PT ;
        PRMT R23, R23, 0x6540, R38 ;
        SHF.L.U32 R44, R44, 0x18, RZ ;
        LOP3.LUT R21, R23, R44, R39, 0xfe, !PT ;
L14:
        @P1 BRA L19 ;
        IMAD.MOV.U32 R12, RZ, RZ, R37 ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        ATOM.E.ADD.64.STRONG.GPU P0, R20, desc[UR36][R2.64], R12 ;
        BSSY.RECONVERGENT B2, L19 ;
        @P0 BRA L18 ;
        QSPC.E.S P0, RZ, [R2] ;
        @!P0 BRA L17 ;
        BSSY.RECONVERGENT B3, L16 ;
        MOV R3, R2 ;
L15:
        LDS.64 R20, [R3] ;
        IADD3 R22, P0, PT, R37, R20, RZ ;
        IMAD.X R23, RZ, RZ, R21, P0 ;
        ATOMS.CAST.SPIN.64 P0, [R3], R20, R22 ;
        @!P0 BRA L15 ;
        NOP ;
        BSYNC.RECONVERGENT B3 ;
L16:
        BRA L18 ;
L17:
        LD.E.64 R20, desc[UR36][R2.64] ;
        IADD3 R12, P0, PT, R37, R20, RZ ;
        IMAD.X R13, RZ, RZ, R21, P0 ;
        ST.E.64 desc[UR36][R2.64], R12 ;
L18:
        NOP ;
        BSYNC.RECONVERGENT B2 ;
L19:
        IADD3 R37, P0, PT, R37, R20, RZ ;
        IADD3.X R12, PT, PT, RZ, R21, RZ, P0, !PT ;
L20:
        LDG.E.64 R2, desc[UR36][R16.64+0xf0] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R2] ;
        @!P0 BRA L21 ;
        LDCU UR4, c[0x0][0x2f8] ;
        VIADD R39, R2, -UR4 ;
        LDL.U8 R13, [R39] ;
        LDL.U8 R20, [R39+0x1] ;
        LDL.U8 R22, [R39+0x4] ;
        LDL.U8 R23, [R39+0x5] ;
        LDL.U8 R15, [R39+0x2] ;
        LDL.U8 R21, [R39+0x3] ;
        LDL.U8 R30, [R39+0x6] ;
        LDL.U8 R31, [R39+0x7] ;
        NANOSLEEP RZ ;
        PRMT R38, R13, 0x6540, R20 ;
        PRMT R23, R22, 0x6540, R23 ;
        IMAD.U32 R15, R15, 0x10000, RZ ;
        IMAD.SHL.U32 R20, R21, 0x1000000, RZ ;
        IMAD.U32 R13, R30, 0x10000, RZ ;
        LOP3.LUT R30, R38, R20, R15, 0xfe, !PT ;
        SHF.L.U32 R22, R31, 0x18, RZ ;
        LOP3.LUT R31, R23, R22, R13, 0xfe, !PT ;
L21:
        @!P0 LD.E.64.STRONG.SYS R30, desc[UR36][R2.64] ;
        LDG.E R13, desc[UR36][R16.64+0xf8] ;
        IADD3 R20, P1, PT, -R30, R37, RZ ;
        ISETP.GT.U32.AND P0, PT, R20, R13, PT ;
        IMAD.X R13, R12, 0x1, ~R31, P1 ;
        ISETP.GT.U32.AND.EX P0, PT, R13, RZ, PT, P0 ;
        @P0 BRA L20 ;
L22:
        BSYNC B0 ;
L23:
        MATCH.ANY R3, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        LOP3.LUT P0, RZ, R0, UR5, R3, 0x40, !PT ;
        @!P0 BRA.DIV UR4, L168 ;
        NOP ;
L24:
        MATCH.ANY R0, R43 ;
        REDUX.OR UR4, R43 ;
        VOTEU.ANY UR5, UPT, PT ;
        LOP3.LUT P0, RZ, R43, UR5, R0, 0x40, !PT ;
        @!P0 BRA.DIV UR4, L171 ;
        NOP ;
L25:
        LDG.E.64 R2, desc[UR36][R16.64] ;
        REDUX.OR UR5, R43 ;
        LDCU UR4, c[0x0][0x2f8] ;
        R2UR P0, URZ, R43 ;
        IMAD.IADD R20, R14, 0x1, R11 ;
        LD.E.U16 R39, desc[UR36][R2.64+0x50] ;
        VIADD R38, R2, -UR4 ;
        @!P0 BRA.DIV UR5, L174 ;
        MATCH.ANY.U64 R0, R2 ;
L26:
        LD.E R37, desc[UR36][R2.64+0x18] ;
        BREV R12, R0 ;
        REDUX.OR UR4, R43 ;
        R2UR P2, URZ, R43 ;
        LOP3.LUT P1, RZ, R0, RZ, R45, 0xa0, !PT ;
        POPC R44, R0 ;
        FLO.U32.SH R12, R12 ;
        ISETP.NE.U32.AND P0, PT, R12, R42, PT ;
        @!P2 BRA.DIV UR4, L177 ;
L27:
        BSSY B0, L30 ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        @P1 BRA L29 ;
        QSPC.E.L P0, RZ, [R2] ;
        HFMA2 R13, -RZ, RZ, 0, 0 ;
        @!P0 BRA L28 ;
        LDL R15, [R38+0x28] ;
        LDL.U8 R11, [R38+0x28] ;
        LDL.U8 R14, [R38+0x29] ;
        LDL.U8 R13, [R38+0x2a] ;
        LDL.U8 R22, [R38+0x2b] ;
        IMAD.IADD R15, R44, 0x1, R15 ;
        STL [R38+0x28], R15 ;
        NANOSLEEP RZ ;
        IMAD R11, R14, 0x100, R11 ;
        IMAD R22, R22, 0x100, R13 ;
        IMAD.U32 R13, R22, 0x10000, R11 ;
L28:
        @P0 BRA L29 ;
        VOTE.ANY R11, PT, PT ;
        ISETP.EQ.U32.AND P0, PT, R11, -0x1, PT ;
        @!P0 ATOM.E.ADD.STRONG.GPU PT, R13, desc[UR36][R2.64+0x28], R44 ;
        @!P0 BRA L29 ;
        SHFL.UP P0, R13, R44, 0x1, RZ ;
        MOV R11, R44 ;
        @P0 IMAD.IADD.U32 R11, R44, 0x1, R13 ;
        S2R R13, SR_LANEID ;
        SHFL.UP P0, R14, R11, 0x2, RZ ;
        @P0 IMAD.IADD.U32 R11, R11, 0x1, R14 ;
        ISETP.EQ.U32.AND P1, PT, R13, 0x1f, PT ;
        SHFL.UP P0, R14, R11, 0x4, RZ ;
        @P0 IMAD.IADD.U32 R11, R11, 0x1, R14 ;
        SHFL.UP P0, R14, R11, 0x8, RZ ;
        @P0 IMAD.IADD.U32 R11, R11, 0x1, R14 ;
        SHFL.UP P0, R14, R11, 0x10, RZ ;
        @P0 IADD3 R11, PT, PT, R11, R14, RZ ;
        @P1 ATOM.E.ADD.STRONG.GPU PT, R14, desc[UR36][R2.64+0x28], R11 ;
        SHFL.UP P0, R22, R11, 0x1, RZ ;
        SHFL.IDX PT, R13, R14, 0x1f, 0x1f ;
        @P0 IMAD.IADD.U32 R13, R13, 0x1, R22 ;
L29:
        BSYNC B0 ;
L30:
        MATCH.ANY R11, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        LOP3.LUT P0, RZ, R0, UR5, R11, 0x40, !PT ;
        @!P0 BRA.DIV UR4, L180 ;
        SHFL.IDX PT, R14, R13, R12, 0x1f ;
L31:
        ISETP.NE.U32.AND P0, PT, R0, RZ, PT ;
        @!P0 BRA L76 ;
        QSPC.E.L P1, RZ, [R2] ;
        IMAD.MOV.U32 R11, RZ, RZ, 0xffff ;
        BSSY B0, L76 ;
        LOP3.LUT R12, R20.reuse, 0xffff0000, RZ, 0xc0, !PT ;
        IMAD.MOV.U32 R42, RZ, RZ, RZ ;
        LOP3.LUT R11, R20, 0x1c820000, R11, 0xec, !PT ;
        IMAD.MOV.U32 R13, RZ, RZ, R19 ;
L32:
        S2R R15, SR_LTMASK ;
        POPC R20, R0 ;
        IADD3 R43, PT, PT, R14, R42.reuse, RZ ;
        YIELD ;
        BSSY B2, L53 ;
        VIADDMNMX R20, R20, -R42, R37, PT ;
        IMAD.IADD R45, R20, 0x1, R43 ;
        LOP3.LUT R15, R0, RZ, R15, 0xa0, !PT ;
        ISETP.NE.U32.AND P2, PT, R15, RZ, PT ;
        @P2 BRA L52 ;
        SHF.R.U32.HI R15, RZ, 0x18, R43.reuse ;
        SHF.R.U32.HI R49, RZ, 0x10, R43.reuse ;
        SHF.R.U32.HI R51, RZ, 0x8, R43 ;
L33:
        YIELD ;
        BSSY B3, L35 ;
        @!P1 BRA L34 ;
        LDL.U8 R20, [R38+0x20] ;
        LDL.U8 R21, [R38+0x21] ;
        LDL.U8 R22, [R38+0x22] ;
        LDL.U8 R23, [R38+0x23] ;
        NANOSLEEP RZ ;
        IMAD R20, R21, 0x100, R20 ;
        IMAD R23, R23, 0x100, R22 ;
        IMAD.U32 R34, R23, 0x10000, R20 ;
L34:
        BSYNC B3 ;
L35:
        BSSY.RECONVERGENT B3, L37 ;
        @P1 BRA L36 ;
        LD.E.STRONG.GPU R34, desc[UR36][R2.64+0x20] ;
L36:
        NOP ;
        BSYNC.RECONVERGENT B3 ;
L37:
        IADD3 R20, PT, PT, R45, -R34, RZ ;
        ISETP.GT.U32.AND P0, PT, R20, R37, PT ;
        @!P0 BRA L52 ;
        BSSY B3, L39 ;
        @!P1 BRA L38 ;
        LDL.U8 R20, [R38+0x24] ;
        LDL.U8 R21, [R38+0x25] ;
        LDL.U8 R22, [R38+0x26] ;
        LDL.U8 R23, [R38+0x27] ;
        NANOSLEEP RZ ;
        IMAD R20, R21, 0x100, R20 ;
        IMAD R23, R23, 0x100, R22 ;
        IMAD.U32 R35, R23, 0x10000, R20 ;
L38:
        BSYNC B3 ;
L39:
        BSSY.RECONVERGENT B3, L41 ;
        @P1 BRA L40 ;
        LD.E.STRONG.GPU R35, desc[UR36][R2.64+0x24] ;
        CCTL.IVALL ;
L40:
        NOP ;
        BSYNC.RECONVERGENT B3 ;
L41:
        ISETP.NE.U32.AND P0, PT, R35, R43, PT ;
        BSSY B3, L51 ;
        @P0 BRA L50 ;
        BSSY B4, L43 ;
        IMAD.MOV.U32 R44, RZ, RZ, R40 ;
        @!P1 BRA L42 ;
        LDL.U8 R20, [R38+0x20] ;
        LDL.U8 R21, [R38+0x21] ;
        LDL.U8 R22, [R38+0x22] ;
        LDL.U8 R23, [R38+0x23] ;
        NANOSLEEP RZ ;
        LEA R20, R21, R20, 0x8 ;
        IMAD R23, R23, 0x100, R22 ;
        IMAD.U32 R44, R23, 0x10000, R20 ;
L42:
        BSYNC B4 ;
L43:
        BSSY.RECONVERGENT B4, L45 ;
        @P1 BRA L44 ;
        LD.E.STRONG.GPU R44, desc[UR36][R2.64+0x20] ;
L44:
        NOP ;
        BSYNC.RECONVERGENT B4 ;
L45:
        ISETP.NE.U32.AND P0, PT, R43, R44, PT ;
        IMAD.MOV.U32 R40, RZ, RZ, R43 ;
        @!P0 BRA L50 ;
        LD.E.64 R20, desc[UR36][R2.64+0x38] ;
        HFMA2 R47, -RZ, RZ, 0, 0 ;
        IMAD.IADD R46, R43, 0x1, -R44 ;
        STG.E.MMIO.SYS [R20], R43 ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
        ATOM.E.ADD.64.STRONG.GPU P0, RZ, desc[UR36][R16.64+0x28], R46 ;
        BSSY.RECONVERGENT B4, L49 ;
        @P0 BRA L48 ;
        QSPC.E.S P0, RZ, [R16+0x28] ;
        @!P0 BRA L47 ;
        IMAD.MOV.U32 R20, RZ, RZ, R16 ;
        MOV R53, R20 ;
L46:
        LDS.64 R20, [R53+0x28] ;
        IADD3 R22, P0, PT, R46, R20, RZ ;
        IMAD.X R23, RZ, RZ, R21, P0 ;
        ATOMS.CAST.SPIN.64 P0, [R53+0x28], R20, R22 ;
        @!P0 BRA L46 ;
        BRA L48 ;
L47:
        LD.E.64 R20, desc[UR36][R16.64+0x28] ;
        IADD3 R46, P0, PT, R46, R20, RZ ;
        IMAD.X R47, RZ, RZ, R21, P0 ;
        ST.E.64 desc[UR36][R16.64+0x28], R46 ;
L48:
        NOP ;
        BSYNC.RECONVERGENT B4 ;
L49:
        @P1 STL.U8 [R38+0x20], R43 ;
        @P1 IMAD.MOV.U32 R40, RZ, RZ, R44 ;
        @!P1 MOV R40, R44 ;
        @P1 STL.U8 [R38+0x23], R15 ;
        @P1 STL.U8 [R38+0x22], R49 ;
        @P1 STL.U8 [R38+0x21], R51 ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!P1 MEMBAR.ALL.CTA ;
        @!P1 MEMBAR.ALL.GPU ;
        @!P1 ERRBAR;
        @!P1 CGAERRBAR ;
        @!P1 ST.E.STRONG.GPU desc[UR36][R2.64+0x20], R43 ;
L50:
        BSYNC B3 ;
L51:
        BRA L33 ;
L52:
        BSYNC B2 ;
L53:
        S2R R15, SR_LTMASK ;
        MATCH.ANY R21, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        POPC R49, R0 ;
        LOP3.LUT P0, RZ, R0, UR5, R21, 0x40, !PT ;
        VIADDMNMX R21, R49, -R42, R37, PT ;
        LOP3.LUT R15, R0, RZ, R15, 0xa0, !PT ;
        POPC R47, R15 ;
        @!P0 BRA.DIV UR4, L183 ;
        NOP ;
L54:
        IMAD.IADD R15, R21, 0x1, R42 ;
        BSSY.RECONVERGENT B2, L59 ;
        ISETP.GE.AND P0, PT, R47, R15, PT ;
        ISETP.LT.OR P0, PT, R47, R42, P0 ;
        @P0 BRA L58 ;
        LD.E.64 R20, desc[UR36][R2.64+0x10] ;
        LD.E.64 R22, desc[UR36][R2.64+0x30] ;
        IMAD.IADD R15, R47, 0x1, R14 ;
        ISETP.NE.U32.AND P0, PT, R39, 0x40, PT ;
        BSSY.RECONVERGENT B3, L57 ;
        LOP3.LUT R20, R20, R15, RZ, 0xc0, !PT ;
        SHF.R.U32.HI R15, RZ, R21, R15 ;
        IMAD R47, R39, R20, RZ ;
        LOP3.LUT R15, R15, 0x1, RZ, 0xc0, !PT ;
        IADD3 R20, P3, PT, R47, R22, RZ ;
        IMAD.X R21, RZ, RZ, R23, P3 ;
        @P0 BRA L55 ;
        IMAD.WIDE.U32 R22, R15, 0x1000000, RZ ;
        MOV R52, R8 ;
        SHF.L.U64.HI R44, R6.reuse, 0x1e, R5 ;
        IMAD.SHL.U32 R47, R6, 0x40000000, RZ ;
        LOP3.LUT R22, R11, R22, RZ, 0xfc, !PT ;
        IMAD.MOV.U32 R53, RZ, RZ, RZ ;
        LOP3.LUT R23, R7, 0x10000, R23, 0xfe, !PT ;
        IADD3 R50, P0, PT, R47.reuse, R26, RZ ;
        IADD3 R46, P3, PT, R47, R28, RZ ;
        STG.E.64.MMIO.SYS [R20], R22 ;
        IMAD.X R51, R44.reuse, 0x1, R27, P0 ;
        IADD3.X R47, PT, PT, R44, R29, RZ, P3, !PT ;
        STG.E.64.MMIO.SYS [R20+0x8], R24 ;
        STG.E.64.MMIO.SYS [R20+0x10], R52 ;
        STG.E.64.MMIO.SYS [R20+0x18], R12 ;
        LOP3.LUT R23, R32, 0xffffff, RZ, 0xc0, !PT ;
        IMAD.MOV.U32 R22, RZ, RZ, 0x40000000 ;
        IMAD.MOV.U32 R52, RZ, RZ, 0x40000000 ;
        IMAD.MOV.U32 R53, RZ, RZ, R33 ;
        STG.E.64.MMIO.SYS [R20+0x20], R52 ;
        STG.E.64.MMIO.SYS [R20+0x28], R50 ;
        STG.E.64.MMIO.SYS [R20+0x30], R22 ;
        STG.E.64.MMIO.SYS [R20+0x38], R46 ;
        BRA L56 ;
L55:
        IMAD.WIDE.U32 R22, R15, 0x1000000, RZ ;
        IMAD.SHL.U32 R15, R6.reuse, 0x40000000, RZ ;
        LOP3.LUT R46, R11, R22, RZ, 0xfc, !PT ;
        IMAD.MOV.U32 R52, RZ, RZ, R8 ;
        LOP3.LUT R47, R7, 0x10000, R23, 0xfe, !PT ;
        IMAD.MOV.U32 R53, RZ, RZ, RZ ;
        SHF.L.U64.HI R22, R6, 0x1e, R5 ;
        IADD3 R50, P0, PT, R15, R26, RZ ;
        STG.E.64.MMIO.SYS [R20], R46 ;
        LOP3.LUT R23, R32, 0xffffff, RZ, 0xc0, !PT ;
        STG.E.64.MMIO.SYS [R20+0x8], R24 ;
        IMAD.X R51, R22, 0x1, R27, P0 ;
        STG.E.64.MMIO.SYS [R20+0x10], R52 ;
        STG.E.64.MMIO.SYS [R20+0x18], R12 ;
        IADD3 R46, P3, PT, R15, R28, RZ ;
        IMAD.X R47, R22, 0x1, R29, P3 ;
        IMAD.MOV.U32 R22, RZ, RZ, 0x40000000 ;
        HFMA2 R52, -RZ, RZ, 2, 0 ;
        IMAD.MOV.U32 R53, RZ, RZ, R33 ;
        STG.E.64.MMIO.SYS [R20+0x20], R52 ;
        STG.E.64.MMIO.SYS [R20+0x28], R50 ;
        STG.E.64.MMIO.SYS [R20+0x30], R22 ;
        STG.E.64.MMIO.SYS [R20+0x38], R46 ;
        STG.E.64.MMIO.SYS [R20+0x40], RZ ;
        STG.E.64.MMIO.SYS [R20+0x48], RZ ;
        STG.E.64.MMIO.SYS [R20+0x50], RZ ;
        STG.E.64.MMIO.SYS [R20+0x58], RZ ;
        STG.E.64.MMIO.SYS [R20+0x60], RZ ;
        STG.E.64.MMIO.SYS [R20+0x68], RZ ;
        STG.E.64.MMIO.SYS [R20+0x70], RZ ;
        STG.E.64.MMIO.SYS [R20+0x78], RZ ;
L56:
        NOP ;
        BSYNC.RECONVERGENT B3 ;
L57:
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
L58:
        NOP ;
        BSYNC.RECONVERGENT B2 ;
L59:
        MATCH.ANY R15, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        LOP3.LUT P0, RZ, R0, UR5, R15, 0x40, !PT ;
        @!P0 BRA.DIV UR4, L186 ;
        NOP ;
L60:
        BSSY B3, L74 ;
        @P2 BRA L73 ;
        BSSY B2, L66 ;
L61:
        YIELD ;
        BSSY B4, L63 ;
        @!P1 BRA L62 ;
        LDL.U8 R15, [R38+0x24] ;
        LDL.U8 R20, [R38+0x25] ;
        LDL.U8 R21, [R38+0x26] ;
        LDL.U8 R22, [R38+0x27] ;
        NANOSLEEP RZ ;
        LEA R15, R20, R15, 0x8 ;
        IMAD R22, R22, 0x100, R21 ;
        IMAD.U32 R41, R22, 0x10000, R15 ;
L62:
        BSYNC B4 ;
L63:
        BSSY.RECONVERGENT B4, L65 ;
        @P1 BRA L64 ;
        LD.E.STRONG.GPU R41, desc[UR36][R2.64+0x24] ;
L64:
        NOP ;
        BSYNC.RECONVERGENT B4 ;
L65:
        ISETP.NE.U32.AND P0, PT, R41, R43, PT ;
        @P0 BRA L61 ;
        BSYNC B2 ;
L66:
        BSSY B2, L68 ;
        @!P1 BRA L67 ;
        LDL.U8 R15, [R38+0x20] ;
        LDL.U8 R20, [R38+0x21] ;
        LDL.U8 R21, [R38+0x22] ;
        LDL.U8 R22, [R38+0x23] ;
        NANOSLEEP RZ ;
        IMAD R15, R20, 0x100, R15 ;
        IMAD R22, R22, 0x100, R21 ;
        LEA R36, R22, R15, 0x10 ;
L67:
        BSYNC B2 ;
L68:
        LD.E.64 R20, desc[UR36][R2.64+0x38] ;
        @!P1 LD.E.STRONG.GPU R36, desc[UR36][R2.64+0x20] ;
        IMAD.MOV.U32 R47, RZ, RZ, RZ ;
        STG.E.MMIO.SYS [R20], R45 ;
        IMAD.IADD R46, R45, 0x1, -R36 ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
        ATOM.E.ADD.64.STRONG.GPU P0, RZ, desc[UR36][R16.64+0x28], R46 ;
        BSSY.RECONVERGENT B2, L72 ;
        @P0 BRA L71 ;
        QSPC.E.S P0, RZ, [R16+0x28] ;
        @!P0 BRA L70 ;
        IMAD.MOV.U32 R20, RZ, RZ, R16 ;
        MOV R15, R20 ;
L69:
        LDS.64 R20, [R15+0x28] ;
        IADD3 R22, P0, PT, R46, R20, RZ ;
        IMAD.X R23, RZ, RZ, R21, P0 ;
        ATOMS.CAST.SPIN.64 P0, [R15+0x28], R20, R22 ;
        @!P0 BRA L69 ;
        BRA L71 ;
L70:
        LD.E.64 R20, desc[UR36][R16.64+0x28] ;
        IADD3 R46, P0, PT, R46, R20, RZ ;
        IADD3.X R47, PT, PT, RZ, R21, RZ, P0, !PT ;
        ST.E.64 desc[UR36][R16.64+0x28], R46 ;
L71:
        NOP ;
        BSYNC.RECONVERGENT B2 ;
L72:
        @P1 SHF.R.U32.HI R15, RZ, 0x18, R45.reuse ;
        @P1 STL.U8 [R38+0x20], R45 ;
        @P1 SHF.R.U32.HI R21, RZ, 0x10, R45 ;
        @P1 IMAD.MOV.U32 R41, RZ, RZ, R43 ;
        @P1 SHF.R.U32.HI R23, RZ, 0x8, R45.reuse ;
        @P1 STL.U8 [R38+0x23], R15 ;
        @P1 SHF.R.U32.HI R47, RZ, 0x18, R45 ;
        @!P1 IMAD.MOV.U32 R41, RZ, RZ, R43 ;
        @P1 SHF.R.U32.HI R51, RZ, 0x10, R45.reuse ;
        @P1 STL.U8 [R38+0x22], R21 ;
        @P1 SHF.R.U32.HI R53, RZ, 0x8, R45 ;
        @P1 STL.U8 [R38+0x21], R23 ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!P1 MEMBAR.ALL.CTA ;
        @!P1 MEMBAR.ALL.GPU ;
        @!P1 ERRBAR;
        @!P1 CGAERRBAR ;
        @!P1 ST.E.STRONG.GPU desc[UR36][R2.64+0x20], R45 ;
        @P1 STL.U8 [R38+0x27], R47 ;
        @P1 STL.U8 [R38+0x26], R51 ;
        @P1 STL.U8 [R38+0x25], R53 ;
        @P1 STL.U8 [R38+0x24], R45 ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!P1 MEMBAR.ALL.CTA ;
        @!P1 MEMBAR.ALL.GPU ;
        @!P1 ERRBAR;
        @!P1 CGAERRBAR ;
        @!P1 ST.E.STRONG.GPU desc[UR36][R2.64+0x24], R45 ;
L73:
        BSYNC B3 ;
L74:
        MATCH.ANY R15, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        LOP3.LUT P0, RZ, R0, UR5, R15, 0x40, !PT ;
        @!P0 BRA.DIV UR4, L189 ;
        NOP ;
L75:
        IMAD.IADD R42, R37, 0x1, R42 ;
        ISETP.GE.AND P0, PT, R42, R49, PT ;
        @!P0 BRA L32 ;
        BSYNC B0 ;
L76:
        LDC.64 R12, c[0x0][0x490] ;
        IADD3 R3, P0, PT, R12, -0x1, RZ ;
        IADD3.X R0, PT, PT, R13, -0x1, RZ, P0, !PT ;
        IADD3 R6, P0, PT, R6, 0x1, RZ ;
        SHF.R.U64 R11, R3, 0x1e, R0.reuse ;
        SHF.R.U32.HI R2, RZ, 0x1e, R0 ;
        IMAD.X R5, RZ, RZ, R5, P0 ;
        ISETP.NE.U32.AND P0, PT, R6, R11, PT ;
        ISETP.NE.U32.AND.EX P0, PT, R5, R2, PT, P0 ;
        @P0 BRA L2 ;
        BSYNC B1 ;
L77:
        LDG.E.64 R4, desc[UR36][R16.64+0xd0] ;
        LDC R13, c[0x0][0x2f8] ;
        QSPC.E.L P0, RZ, [R4] ;
        IADD3 R2, PT, PT, R4, -R13, RZ ;
        IMAD R2, R19, 0x4, R2 ;
        @!P0 BRA L78 ;
        LDL.U8 R6, [R2] ;
        LDL.U8 R7, [R2+0x1] ;
        LDL.U8 R8, [R2+0x2] ;
        LDL.U8 R11, [R2+0x3] ;
        NANOSLEEP RZ ;
        IMAD R6, R7, 0x100, R6 ;
        IMAD R11, R11, 0x100, R8 ;
        IMAD.U32 R6, R11, 0x10000, R6 ;
L78:
        IMAD.WIDE R4, R19, 0x4, R4 ;
        @P0 BRA L79 ;
        LD.E.STRONG.SYS R6, desc[UR36][R4.64] ;
        CCTL.IVALL ;
L79:
        BSSY B0, L83 ;
L80:
        LDG.E.64 R4, desc[UR36][R16.64+0xd8] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R4] ;
        IADD3 R2, PT, PT, R4, -R13, RZ ;
        IMAD R2, R19, 0x4, R2 ;
        @!P0 BRA L81 ;
        LDL.U8 R7, [R2] ;
        LDL.U8 R8, [R2+0x1] ;
        LDL.U8 R11, [R2+0x2] ;
        LDL.U8 R12, [R2+0x3] ;
        NANOSLEEP RZ ;
        IMAD R7, R8, 0x100, R7 ;
        IMAD R12, R12, 0x100, R11 ;
        IMAD.U32 R7, R12, 0x10000, R7 ;
L81:
        IMAD.WIDE.U32 R4, R19, 0x4, R4 ;
        @P0 BRA L82 ;
        LD.E.STRONG.SYS R7, desc[UR36][R4.64] ;
        CCTL.IVALL ;
L82:
        IADD3 R2, PT, PT, R7, -R6, RZ ;
        ISETP.GE.AND P0, PT, R2, RZ, PT ;
        @!P0 BRA L80 ;
        BSYNC B0 ;
L83:
        LDCU UR4, c[0x0][0x490] ;
        LOP3.LUT R3, R3, 0xc0000000, RZ, 0xc0, !PT ;
        IADD3 R28, P0, PT, R3.reuse, R28, RZ ;
        IADD3 R26, P1, PT, R3, R26, RZ ;
        IMAD.X R29, R0.reuse, 0x1, R29, P0 ;
        IMAD.X R27, R0, 0x1, R27, P1 ;
        IADD3 R22, PT, PT, -R3, UR4, RZ ;
L84:
        VOTE.ANY R21, PT, PT ;
        REDUX.OR UR4, R21 ;
        R2UR P0, URZ, R21 ;
        @!P0 BRA.DIV UR4, L192 ;
        MATCH.ANY.U64 R2, R16 ;
L85:
        S2R R23, SR_LANEID ;
        BREV R0, R2 ;
        REDUX.OR UR4, R21 ;
        R2UR P1, URZ, R21 ;
        FLO.U32.SH R0, R0 ;
        ISETP.NE.U32.AND P0, PT, R0, R23, PT ;
        @!P1 BRA.DIV UR4, L195 ;
L86:
        REDUX.OR UR4, R2 ;
        R2UR P0, URZ, R2 ;
        @!P0 BRA.DIV UR4, L198 ;
        MATCH.ANY R0, R19 ;
L87:
        S2R R31, SR_LTMASK ;
        BREV R12, R0 ;
        REDUX.OR UR4, R2 ;
        R2UR P2, URZ, R2 ;
        POPC R24, R0 ;
        FLO.U32.SH R12, R12 ;
        LOP3.LUT P1, R4, R31, RZ, R0, 0xa0, !PT ;
        ISETP.NE.U32.AND P0, PT, R12, R23, PT ;
        @!P2 BRA.DIV UR4, L201 ;
L88:
        BSSY B0, L91 ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        @P1 BRA L90 ;
        LDG.E.64 R2, desc[UR36][R16.64+0xd0] ;
        LDCU UR4, c[0x0][0x2f8] ;
        MOV R13, RZ ;
        QSPC.E.L P0, RZ, [R2] ;
        VIADD R6, R2, -UR4 ;
        IMAD R5, R19, 0x4, R6 ;
        @!P0 BRA L89 ;
        LDL R13, [R5] ;
        LDL.U8 R6, [R5] ;
        LDL.U8 R7, [R5+0x1] ;
        LDL.U8 R8, [R5+0x2] ;
        LDL.U8 R11, [R5+0x3] ;
        IMAD.IADD R14, R24, 0x1, R13 ;
        STL [R5], R14 ;
        NANOSLEEP RZ ;
        IMAD R6, R7, 0x100, R6 ;
        IMAD R11, R11, 0x100, R8 ;
        LEA R13, R11, R6, 0x10 ;
L89:
        IMAD.WIDE.U32 R2, R19, 0x4, R2 ;
        @P0 BRA L90 ;
        VOTE.ANY R5, PT, PT ;
        ISETP.EQ.U32.AND P0, PT, R5, -0x1, PT ;
        @!P0 ATOM.E.ADD.STRONG.GPU PT, R13, desc[UR36][R2.64], R24 ;
        @!P0 BRA L90 ;
        SHFL.UP P0, R7, R24, 0x1, RZ ;
        IMAD.MOV.U32 R5, RZ, RZ, R24 ;
        ISETP.EQ.U32.AND P1, PT, R23, 0x1f, PT ;
        @P0 IMAD.IADD.U32 R5, R24, 0x1, R7 ;
        SHFL.UP P0, R6, R5, 0x2, RZ ;
        @P0 IMAD.IADD.U32 R5, R5, 0x1, R6 ;
        SHFL.UP P0, R6, R5, 0x4, RZ ;
        @P0 IMAD.IADD.U32 R5, R5, 0x1, R6 ;
        SHFL.UP P0, R6, R5, 0x8, RZ ;
        @P0 IADD3 R5, PT, PT, R5, R6, RZ ;
        SHFL.UP P0, R6, R5, 0x10, RZ ;
        @P0 IMAD.IADD.U32 R5, R5, 0x1, R6 ;
        @P1 ATOM.E.ADD.STRONG.GPU PT, R2, desc[UR36][R2.64], R5 ;
        SHFL.UP P0, R6, R5, 0x1, RZ ;
        SHFL.IDX PT, R13, R2, 0x1f, 0x1f ;
        @P0 IMAD.IADD.U32 R13, R13, 0x1, R6 ;
L90:
        BSYNC B0 ;
L91:
        MATCH.ANY R3, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        ISETP.NE.U32.AND P0, PT, R4, RZ, PT ;
        LOP3.LUT P1, RZ, R0, UR5, R3, 0x40, !PT ;
        @!P1 BRA.DIV UR4, L204 ;
        SHFL.IDX PT, R14, R13, R12, 0x1f ;
L92:
        POPC R11, R4 ;
        BSSY B0, L106 ;
        @P0 BRA L105 ;
        LDC R13, c[0x0][0x2f8] ;
        BSSY B1, L95 ;
        IMAD.IADD R12, R24, 0x1, R14 ;
L93:
        LDG.E.64 R4, desc[UR36][R16.64+0xd8] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R4] ;
        IMAD.IADD R6, R4, 0x1, -R13 ;
        IMAD.WIDE.U32 R2, R19, 0x4, R4 ;
        LEA R6, R19, R6, 0x2 ;
        @!P0 BRA L94 ;
        LDL.U8 R4, [R6] ;
        LDL.U8 R5, [R6+0x1] ;
        LDL.U8 R7, [R6+0x2] ;
        LDL.U8 R8, [R6+0x3] ;
        NANOSLEEP RZ ;
        IMAD R4, R5, 0x100, R4 ;
        IMAD R7, R8, 0x100, R7 ;
        IMAD.U32 R7, R7, 0x10000, R4 ;
L94:
        @!P0 LD.E.STRONG.SYS R7, desc[UR36][R2.64] ;
        @!P0 CCTL.IVALL ;
        LDG.E R5, desc[UR36][R16.64+0xe0] ;
        IMAD.IADD R4, R12, 0x1, -R7 ;
        ISETP.GT.U32.AND P0, PT, R4, R5, PT ;
        @P0 BRA L93 ;
        BSYNC B1 ;
L95:
        LDG.E.64 R2, desc[UR36][R16.64+0xe8] ;
        HFMA2 R7, -RZ, RZ, 0, 0 ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        QSPC.E.L P1, RZ, [R2] ;
        @!P1 BRA L96 ;
        LDCU UR4, c[0x0][0x2f8] ;
        VIADD R35, R2, -UR4 ;
        LDL.64 R4, [R35] ;
        LDL.U8 R6, [R35] ;
        LDL.U8 R7, [R35+0x1] ;
        LDL.U8 R8, [R35+0x2] ;
        LDL.U8 R15, [R35+0x6] ;
        LDL.U8 R30, [R35+0x7] ;
        LDL.U8 R13, [R35+0x4] ;
        LDL.U8 R20, [R35+0x5] ;
        LDL.U8 R12, [R35+0x3] ;
        IADD3 R4, P0, PT, R24, R4, RZ ;
        IMAD.X R5, RZ, RZ, R5, P0 ;
        PRMT R6, R6, 0x6540, R7 ;
        STL.64 [R35], R4 ;
        NANOSLEEP RZ ;
        IMAD.U32 R8, R8, 0x10000, RZ ;
        IMAD.U32 R15, R15, 0x10000, RZ ;
        IMAD.SHL.U32 R30, R30, 0x1000000, RZ ;
        PRMT R13, R13, 0x6540, R20 ;
        SHF.L.U32 R7, R12, 0x18, RZ ;
        LOP3.LUT R13, R13, R30, R15, 0xfe, !PT ;
        LOP3.LUT R7, R6, R7, R8, 0xfe, !PT ;
L96:
        @P1 BRA L102 ;
        IMAD.MOV.U32 R25, RZ, RZ, RZ ;
        ATOM.E.ADD.64.STRONG.GPU P0, R4, desc[UR36][R2.64], R24 ;
        BSSY.RECONVERGENT B1, L101 ;
        @P0 BRA L100 ;
        QSPC.E.S P0, RZ, [R2] ;
        @!P0 BRA L99 ;
        BSSY.RECONVERGENT B2, L98 ;
        MOV R3, R2 ;
L97:
        LDS.64 R4, [R3] ;
        IADD3 R6, P0, PT, R24, R4, RZ ;
        IMAD.X R7, RZ, RZ, R5, P0 ;
        ATOMS.CAST.SPIN.64 P0, [R3], R4, R6 ;
        @!P0 BRA L97 ;
        NOP ;
        BSYNC.RECONVERGENT B2 ;
L98:
        BRA L100 ;
L99:
        LD.E.64 R4, desc[UR36][R2.64] ;
        IADD3 R6, P0, PT, R24, R4, RZ ;
        IADD3.X R7, PT, PT, RZ, R5, RZ, P0, !PT ;
        ST.E.64 desc[UR36][R2.64], R6 ;
L100:
        NOP ;
        BSYNC.RECONVERGENT B1 ;
L101:
        IMAD.MOV.U32 R7, RZ, RZ, R4 ;
        IMAD.MOV.U32 R13, RZ, RZ, R5 ;
L102:
        IADD3 R25, P0, PT, R24, R7, RZ ;
        IMAD.X R24, RZ, RZ, R13, P0 ;
L103:
        LDG.E.64 R2, desc[UR36][R16.64+0xf0] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R2] ;
        @!P0 BRA L104 ;
        LDCU UR4, c[0x0][0x2f8] ;
        VIADD R20, R2, -UR4 ;
        LDL.U8 R7, [R20+0x3] ;
        LDL.U8 R4, [R20] ;
        LDL.U8 R5, [R20+0x1] ;
        LDL.U8 R6, [R20+0x2] ;
        LDL.U8 R12, [R20+0x6] ;
        LDL.U8 R15, [R20+0x7] ;
        LDL.U8 R8, [R20+0x4] ;
        LDL.U8 R13, [R20+0x5] ;
        NANOSLEEP RZ ;
        IMAD.SHL.U32 R7, R7, 0x1000000, RZ ;
        PRMT R4, R4, 0x6540, R5 ;
        SHF.L.U32 R6, R6, 0x10, RZ ;
        IMAD.U32 R12, R12, 0x10000, RZ ;
        IMAD.SHL.U32 R15, R15, 0x1000000, RZ ;
        LOP3.LUT R6, R4, R7, R6, 0xfe, !PT ;
        PRMT R8, R8, 0x6540, R13 ;
        LOP3.LUT R7, R8, R15, R12, 0xfe, !PT ;
L104:
        @!P0 LD.E.64.STRONG.SYS R6, desc[UR36][R2.64] ;
        LDG.E R4, desc[UR36][R16.64+0xf8] ;
        IADD3 R5, P1, PT, -R6, R25, RZ ;
        ISETP.GT.U32.AND P0, PT, R5, R4, PT ;
        IMAD.X R4, R24, 0x1, ~R7, P1 ;
        ISETP.GT.U32.AND.EX P0, PT, R4, RZ, PT, P0 ;
        @P0 BRA L103 ;
L105:
        BSYNC B0 ;
L106:
        MATCH.ANY R3, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        LOP3.LUT P0, RZ, R0, UR5, R3, 0x40, !PT ;
        @!P0 BRA.DIV UR4, L207 ;
        NOP ;
L107:
        MATCH.ANY R0, R21 ;
        REDUX.OR UR4, R21 ;
        VOTEU.ANY UR5, UPT, PT ;
        LOP3.LUT P0, RZ, R21, UR5, R0, 0x40, !PT ;
        @!P0 BRA.DIV UR4, L210 ;
        NOP ;
L108:
        LDG.E.64 R2, desc[UR36][R16.64] ;
        REDUX.OR UR5, R21 ;
        LDCU UR4, c[0x0][0x2f8] ;
        R2UR P0, URZ, R21 ;
        LD.E.U16 R4, desc[UR36][R2.64+0x50] ;
        VIADD R5, R2, -UR4 ;
        IADD3 R20, PT, PT, R14, R11, RZ ;
        @!P0 BRA.DIV UR5, L213 ;
        MATCH.ANY.U64 R0, R2 ;
L109:
        LD.E R6, desc[UR36][R2.64+0x18] ;
        BREV R12, R0 ;
        REDUX.OR UR4, R21 ;
        LOP3.LUT P1, R8, R0, RZ, R31, 0xa0, !PT ;
        R2UR P2, URZ, R21 ;
        POPC R7, R0 ;
        FLO.U32.SH R12, R12 ;
        POPC R25, R8 ;
        ISETP.NE.U32.AND P0, PT, R12, R23, PT ;
        @!P2 BRA.DIV UR4, L216 ;
L110:
        BSSY B0, L113 ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        @P1 BRA L112 ;
        QSPC.E.L P0, RZ, [R2] ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        @!P0 BRA L111 ;
        LDL R30, [R5+0x28] ;
        LDL.U8 R11, [R5+0x28] ;
        LDL.U8 R14, [R5+0x29] ;
        LDL.U8 R13, [R5+0x2a] ;
        LDL.U8 R24, [R5+0x2b] ;
        IMAD.IADD R30, R7, 0x1, R30 ;
        STL [R5+0x28], R30 ;
        NANOSLEEP RZ ;
        LEA R11, R14, R11, 0x8 ;
        IMAD R24, R24, 0x100, R13 ;
        IMAD.U32 R13, R24, 0x10000, R11 ;
L111:
        @P0 BRA L112 ;
        VOTE.ANY R11, PT, PT ;
        ISETP.EQ.U32.AND P0, PT, R11, -0x1, PT ;
        @!P0 ATOM.E.ADD.STRONG.GPU PT, R13, desc[UR36][R2.64+0x28], R7 ;
        @!P0 BRA L112 ;
        SHFL.UP P0, R14, R7, 0x1, RZ ;
        IMAD.MOV.U32 R11, RZ, RZ, R7 ;
        S2R R13, SR_LANEID ;
        @P0 IMAD.IADD.U32 R11, R7, 0x1, R14 ;
        SHFL.UP P0, R14, R11, 0x2, RZ ;
        ISETP.EQ.U32.AND P1, PT, R13, 0x1f, PT ;
        @P0 IADD3 R11, PT, PT, R11, R14, RZ ;
        SHFL.UP P0, R14, R11, 0x4, RZ ;
        @P0 IMAD.IADD.U32 R11, R11, 0x1, R14 ;
        SHFL.UP P0, R14, R11, 0x8, RZ ;
        @P0 IMAD.IADD.U32 R11, R11, 0x1, R14 ;
        SHFL.UP P0, R14, R11, 0x10, RZ ;
        @P0 IMAD.IADD.U32 R11, R11, 0x1, R14 ;
        @P1 ATOM.E.ADD.STRONG.GPU PT, R14, desc[UR36][R2.64+0x28], R11 ;
        SHFL.UP P0, R24, R11, 0x1, RZ ;
        SHFL.IDX PT, R13, R14, 0x1f, 0x1f ;
        @P0 IMAD.IADD.U32 R13, R13, 0x1, R24 ;
L112:
        BSYNC B0 ;
L113:
        MATCH.ANY R11, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        LOP3.LUT P0, RZ, R0, UR5, R11, 0x40, !PT ;
        @!P0 BRA.DIV UR4, L219 ;
        SHFL.IDX PT, R14, R13, R12, 0x1f ;
L114:
        ISETP.NE.U32.AND P0, PT, R0, RZ, PT ;
        @!P0 EXIT ;
        QSPC.E.L P1, RZ, [R2] ;
        LOP3.LUT R13, R20, 0xffff, RZ, 0xc0, !PT ;
        IMAD.MOV.U32 R12, RZ, RZ, RZ ;
        IADD3 R20, P0, PT, RZ, R20, RZ ;
        IMAD.MOV.U32 R34, RZ, RZ, R22.reuse ;
        LOP3.LUT R31, R18, 0x10000, RZ, 0xfc, !PT ;
        LOP3.LUT R35, R32, 0xffffff, RZ, 0xc0, !PT ;
        IMAD.X R19, RZ, RZ, R19, P0 ;
        IADD3 R11, PT, PT, R25, R14, RZ ;
        IMAD.MOV.U32 R32, RZ, RZ, R22 ;
        LOP3.LUT R13, R13, 0x1c820000, RZ, 0xfc, !PT ;
        LOP3.LUT R18, R20, 0xffff0000, RZ, 0xc0, !PT ;
        MOV R30, RZ ;
L115:
        ISETP.NE.U32.AND P0, PT, R8, RZ, PT ;
        IMAD.IADD R41, R14, 0x1, R12 ;
        VIADDMNMX R43, R7, -R12, R6, PT ;
        YIELD ;
        BSSY B0, L130 ;
        IMAD.IADD R37, R43, 0x1, R41 ;
        @P0 BRA L129 ;
        SHF.R.U32.HI R44, RZ, 0x18, R41.reuse ;
        SHF.R.U32.HI R46, RZ, 0x10, R41.reuse ;
        SHF.R.U32.HI R48, RZ, 0x8, R41 ;
L116:
        YIELD ;
        @!P1 BRA L117 ;
        LDL.U8 R15, [R5+0x20] ;
        LDL.U8 R20, [R5+0x21] ;
        LDL.U8 R21, [R5+0x22] ;
        LDL.U8 R22, [R5+0x23] ;
        NANOSLEEP RZ ;
        IMAD R15, R20, 0x100, R15 ;
        IMAD R22, R22, 0x100, R21 ;
        LEA R36, R22, R15, 0x10 ;
L117:
        @P1 BRA L118 ;
        LD.E.STRONG.GPU R36, desc[UR36][R2.64+0x20] ;
L118:
        IMAD.IADD R15, R37, 0x1, -R36 ;
        ISETP.GT.U32.AND P0, PT, R15, R6, PT ;
        @!P0 BRA L129 ;
        @!P1 BRA L119 ;
        LDL.U8 R15, [R5+0x24] ;
        LDL.U8 R20, [R5+0x25] ;
        LDL.U8 R21, [R5+0x26] ;
        LDL.U8 R22, [R5+0x27] ;
        NANOSLEEP RZ ;
        IMAD R15, R20, 0x100, R15 ;
        IMAD R22, R22, 0x100, R21 ;
        IMAD.U32 R24, R22, 0x10000, R15 ;
L119:
        @P1 BRA L120 ;
        LD.E.STRONG.GPU R24, desc[UR36][R2.64+0x24] ;
        CCTL.IVALL ;
L120:
        ISETP.NE.U32.AND P0, PT, R24, R41, PT ;
        BSSY B1, L128 ;
        @P0 BRA L127 ;
        MOV R50, R38 ;
        @!P1 BRA L121 ;
        LDL.U8 R15, [R5+0x20] ;
        LDL.U8 R20, [R5+0x21] ;
        LDL.U8 R21, [R5+0x22] ;
        LDL.U8 R22, [R5+0x23] ;
        NANOSLEEP RZ ;
        IMAD R15, R20, 0x100, R15 ;
        IMAD R22, R22, 0x100, R21 ;
        IMAD.U32 R50, R22, 0x10000, R15 ;
L121:
        @P1 BRA L122 ;
        LD.E.STRONG.GPU R50, desc[UR36][R2.64+0x20] ;
L122:
        ISETP.NE.U32.AND P0, PT, R41, R50, PT ;
        IMAD.MOV.U32 R38, RZ, RZ, R41 ;
        @!P0 BRA L127 ;
        LD.E.64 R20, desc[UR36][R2.64+0x38] ;
        IADD3 R38, PT, PT, R41, -R50, RZ ;
        IMAD.MOV.U32 R39, RZ, RZ, RZ ;
        STG.E.MMIO.SYS [R20], R41 ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
        ATOM.E.ADD.64.STRONG.GPU P0, RZ, desc[UR36][R16.64+0x28], R38 ;
        BSSY.RECONVERGENT B2, L126 ;
        @P0 BRA L125 ;
        QSPC.E.S P0, RZ, [R16+0x28] ;
        @!P0 BRA L124 ;
        IMAD.MOV.U32 R20, RZ, RZ, R16 ;
        MOV R15, R20 ;
L123:
        LDS.64 R20, [R15+0x28] ;
        IADD3 R22, P0, PT, R38, R20, RZ ;
        IMAD.X R23, RZ, RZ, R21, P0 ;
        ATOMS.CAST.SPIN.64 P0, [R15+0x28], R20, R22 ;
        @!P0 BRA L123 ;
        BRA L125 ;
L124:
        LD.E.64 R20, desc[UR36][R16.64+0x28] ;
        IADD3 R38, P0, PT, R38, R20, RZ ;
        IMAD.X R39, RZ, RZ, R21, P0 ;
        ST.E.64 desc[UR36][R16.64+0x28], R38 ;
L125:
        NOP ;
        BSYNC.RECONVERGENT B2 ;
L126:
        @P1 STL.U8 [R5+0x20], R41 ;
        @P1 MOV R38, R50 ;
        @!P1 IMAD.MOV.U32 R38, RZ, RZ, R50 ;
        @P1 STL.U8 [R5+0x23], R44 ;
        @P1 STL.U8 [R5+0x22], R46 ;
        @P1 STL.U8 [R5+0x21], R48 ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!P1 MEMBAR.ALL.CTA ;
        @!P1 MEMBAR.ALL.GPU ;
        @!P1 ERRBAR;
        @!P1 CGAERRBAR ;
        @!P1 ST.E.STRONG.GPU desc[UR36][R2.64+0x20], R41 ;
L127:
        BSYNC B1 ;
L128:
        BRA L116 ;
L129:
        BSYNC B0 ;
L130:
        MATCH.ANY R15, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        LOP3.LUT P0, RZ, R0, UR5, R15, 0x40, !PT ;
        @!P0 BRA.DIV UR4, L222 ;
        NOP ;
L131:
        IMAD.IADD R20, R43, 0x1, R12 ;
        BSSY.RECONVERGENT B0, L136 ;
        ISETP.GE.AND P0, PT, R25, R20, PT ;
        ISETP.LT.OR P0, PT, R25, R12, P0 ;
        @P0 BRA L135 ;
        LD.E.64 R20, desc[UR36][R2.64+0x10] ;
        LD.E.64 R22, desc[UR36][R2.64+0x30] ;
        ISETP.NE.U32.AND P0, PT, R4, 0x40, PT ;
        BSSY.RECONVERGENT B1, L134 ;
        HFMA2 R45, -RZ, RZ, 0, 0 ;
        IMAD.MOV.U32 R44, RZ, RZ, R10 ;
        LOP3.LUT R15, R20, R11, RZ, 0xc0, !PT ;
        IMAD R15, R4, R15, RZ ;
        IADD3 R20, P2, PT, R15, R22, RZ ;
        SHF.R.U32.HI R15, RZ, R21, R11 ;
        IMAD.X R21, RZ, RZ, R23, P2 ;
        LOP3.LUT R15, R15, 0x1, RZ, 0xc0, !PT ;
        @P0 BRA L132 ;
        IMAD.WIDE.U32 R22, R15, 0x1000000, RZ ;
        LOP3.LUT R22, R13, R22, RZ, 0xfc, !PT ;
        LOP3.LUT R23, R9, 0x10000, R23, 0xfe, !PT ;
        STG.E.64.MMIO.SYS [R20], R22 ;
        STG.E.64.MMIO.SYS [R20+0x8], R30 ;
        STG.E.64.MMIO.SYS [R20+0x10], R44 ;
        STG.E.64.MMIO.SYS [R20+0x18], R18 ;
        STG.E.64.MMIO.SYS [R20+0x20], R32 ;
        STG.E.64.MMIO.SYS [R20+0x28], R26 ;
        STG.E.64.MMIO.SYS [R20+0x30], R34 ;
        STG.E.64.MMIO.SYS [R20+0x38], R28 ;
        BRA L133 ;
L132:
        IMAD.WIDE.U32 R22, R15, 0x1000000, RZ ;
        LOP3.LUT R22, R13, R22, RZ, 0xfc, !PT ;
        LOP3.LUT R23, R9, 0x10000, R23, 0xfe, !PT ;
        STG.E.64.MMIO.SYS [R20], R22 ;
        STG.E.64.MMIO.SYS [R20+0x8], R30 ;
        STG.E.64.MMIO.SYS [R20+0x10], R44 ;
        STG.E.64.MMIO.SYS [R20+0x18], R18 ;
        STG.E.64.MMIO.SYS [R20+0x20], R32 ;
        STG.E.64.MMIO.SYS [R20+0x28], R26 ;
        STG.E.64.MMIO.SYS [R20+0x30], R34 ;
        STG.E.64.MMIO.SYS [R20+0x38], R28 ;
        STG.E.64.MMIO.SYS [R20+0x40], RZ ;
        STG.E.64.MMIO.SYS [R20+0x48], RZ ;
        STG.E.64.MMIO.SYS [R20+0x50], RZ ;
        STG.E.64.MMIO.SYS [R20+0x58], RZ ;
        STG.E.64.MMIO.SYS [R20+0x60], RZ ;
        STG.E.64.MMIO.SYS [R20+0x68], RZ ;
        STG.E.64.MMIO.SYS [R20+0x70], RZ ;
        STG.E.64.MMIO.SYS [R20+0x78], RZ ;
L133:
        NOP ;
        BSYNC.RECONVERGENT B1 ;
L134:
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
L135:
        NOP ;
        BSYNC.RECONVERGENT B0 ;
L136:
        MATCH.ANY R15, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        ISETP.NE.U32.AND P0, PT, R8, RZ, PT ;
        LOP3.LUT P2, RZ, R0, UR5, R15, 0x40, !PT ;
        @!P2 BRA.DIV UR4, L225 ;
        NOP ;
L137:
        BSSY B0, L151 ;
        @P0 BRA L150 ;
        BSSY B1, L141 ;
L138:
        YIELD ;
        @!P1 BRA L139 ;
        LDL.U8 R15, [R5+0x24] ;
        LDL.U8 R20, [R5+0x25] ;
        LDL.U8 R21, [R5+0x26] ;
        LDL.U8 R22, [R5+0x27] ;
        NANOSLEEP RZ ;
        IMAD R15, R20, 0x100, R15 ;
        IMAD R22, R22, 0x100, R21 ;
        IMAD.U32 R42, R22, 0x10000, R15 ;
L139:
        @P1 BRA L140 ;
        LD.E.STRONG.GPU R42, desc[UR36][R2.64+0x24] ;
L140:
        ISETP.NE.U32.AND P0, PT, R42, R41, PT ;
        @P0 BRA L138 ;
        BSYNC B1 ;
L141:
        @!P1 BRA L142 ;
        LDL.U8 R21, [R5+0x22] ;
        LDL.U8 R22, [R5+0x23] ;
        LDL.U8 R15, [R5+0x20] ;
        LDL.U8 R20, [R5+0x21] ;
        NANOSLEEP RZ ;
        LEA R22, R22, R21, 0x8 ;
        IMAD R15, R20, 0x100, R15 ;
        IMAD.U32 R40, R22, 0x10000, R15 ;
L142:
        LD.E.64 R20, desc[UR36][R2.64+0x38] ;
        @!P1 LD.E.STRONG.GPU R40, desc[UR36][R2.64+0x20] ;
        IMAD.MOV.U32 R43, RZ, RZ, RZ ;
        STG.E.MMIO.SYS [R20], R37 ;
        IMAD.IADD R42, R37, 0x1, -R40 ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
        ATOM.E.ADD.64.STRONG.GPU P0, RZ, desc[UR36][R16.64+0x28], R42 ;
        BSSY.RECONVERGENT B1, L146 ;
        @P0 BRA L145 ;
        QSPC.E.S P0, RZ, [R16+0x28] ;
        @!P0 BRA L144 ;
        IMAD.MOV.U32 R20, RZ, RZ, R16 ;
        MOV R15, R20 ;
L143:
        LDS.64 R20, [R15+0x28] ;
        IADD3 R22, P0, PT, R42, R20, RZ ;
        IADD3.X R23, PT, PT, RZ, R21, RZ, P0, !PT ;
        ATOMS.CAST.SPIN.64 P0, [R15+0x28], R20, R22 ;
        @!P0 BRA L143 ;
        BRA L145 ;
L144:
        LD.E.64 R20, desc[UR36][R16.64+0x28] ;
        IADD3 R42, P0, PT, R42, R20, RZ ;
        IMAD.X R43, RZ, RZ, R21, P0 ;
        ST.E.64 desc[UR36][R16.64+0x28], R42 ;
L145:
        NOP ;
        BSYNC.RECONVERGENT B1 ;
L146:
        @!P1 BRA L147 ;
        SHF.R.U32.HI R20, RZ, 0x18, R37.reuse ;
        STL.U8 [R5+0x20], R37 ;
        SHF.R.U32.HI R22, RZ, 0x10, R37.reuse ;
        SHF.R.U32.HI R42, RZ, 0x8, R37 ;
        STL.U8 [R5+0x23], R20 ;
        STL.U8 [R5+0x22], R22 ;
        STL.U8 [R5+0x21], R42 ;
        BRA L148 ;
L147:
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.GPU ;
        ERRBAR;
        CGAERRBAR ;
        ST.E.STRONG.GPU desc[UR36][R2.64+0x20], R37 ;
L148:
        @!P1 BRA L149 ;
        SHF.R.U32.HI R20, RZ, 0x18, R37.reuse ;
        STL.U8 [R5+0x24], R37 ;
        SHF.R.U32.HI R22, RZ, 0x10, R37 ;
        IMAD.MOV.U32 R42, RZ, RZ, R41 ;
        SHF.R.U32.HI R44, RZ, 0x8, R37 ;
        STL.U8 [R5+0x27], R20 ;
        STL.U8 [R5+0x26], R22 ;
        STL.U8 [R5+0x25], R44 ;
        BRA L150 ;
L149:
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.GPU ;
        ERRBAR;
        CGAERRBAR ;
        ST.E.STRONG.GPU desc[UR36][R2.64+0x24], R37 ;
        IMAD.MOV.U32 R42, RZ, RZ, R41 ;
L150:
        BSYNC B0 ;
L151:
        MATCH.ANY R15, R0 ;
        REDUX.OR UR4, R0 ;
        VOTEU.ANY UR5, UPT, PT ;
        LOP3.LUT P0, RZ, R0, UR5, R15, 0x40, !PT ;
        @!P0 BRA.DIV UR4, L228 ;
        NOP ;
L152:
        IADD3 R12, PT, PT, R6, R12, RZ ;
        ISETP.GE.AND P0, PT, R12, R7, PT ;
        @!P0 BRA L115 ;
        EXIT ;
L153:
        BSSY B0, L155 ;
        IMAD.MOV.U32 R12, RZ, RZ, R16 ;
        IMAD.MOV.U32 R13, RZ, RZ, R17 ;
        IMAD.MOV.U32 R15, RZ, RZ, R43 ;
        WARPSYNC.COLLECTIVE R15, L154 ;
        MATCH.ANY.U64 R14, R12 ;
        ENDCOLLECTIVE ;
L154:
        BSYNC B0 ;
L155:
        MOV R2, R14 ;
        BRA L3 ;
L156:
        BSSY B0, L158 ;
        PLOP3.LUT P6, PT, P0, PT, PT, 0x8, 0x80 ;
        IMAD.MOV.U32 R15, RZ, RZ, R43 ;
        WARPSYNC.COLLECTIVE R15, L157 ;
        VOTE.ANY R14, PT, P6 ;
        ENDCOLLECTIVE ;
L157:
        BSYNC B0 ;
L158:
        BRA L4 ;
L159:
        BSSY B0, L161 ;
        IMAD.MOV.U32 R13, RZ, RZ, R19 ;
        IMAD.MOV.U32 R15, RZ, RZ, R2 ;
        WARPSYNC.COLLECTIVE R15, L160 ;
        MATCH.ANY R14, R13 ;
        ENDCOLLECTIVE ;
L160:
        BSYNC B0 ;
L161:
        MOV R0, R14 ;
        BRA L5 ;
L162:
        BSSY B0, L164 ;
        PLOP3.LUT P6, PT, P0, PT, PT, 0x8, 0x80 ;
        IMAD.MOV.U32 R15, RZ, RZ, R2 ;
        WARPSYNC.COLLECTIVE R15, L163 ;
        VOTE.ANY R14, PT, P6 ;
        ENDCOLLECTIVE ;
L163:
        BSYNC B0 ;
L164:
        BRA L6 ;
L165:
        BSSY B0, L167 ;
        IMAD.MOV.U32 R11, RZ, RZ, 0x1f ;
        IMAD.MOV.U32 R15, RZ, RZ, R0 ;
        WARPSYNC.COLLECTIVE R15, L166 ;
        SHFL.IDX P6, R14, R13, R12, R11 ;
        ENDCOLLECTIVE ;
L166:
        BSYNC B0 ;
L167:
        BRA L10 ;
L168:
        BSSY B0, L170 ;
        MOV R15, R0 ;
        WARPSYNC.COLLECTIVE R15, L169 ;
        NOP ;
        ENDCOLLECTIVE ;
L169:
        BSYNC B0 ;
L170:
        BRA L24 ;
L171:
        BSSY B0, L173 ;
        IMAD.MOV.U32 R15, RZ, RZ, R43 ;
        WARPSYNC.COLLECTIVE R15, L172 ;
        NOP ;
        ENDCOLLECTIVE ;
L172:
        BSYNC B0 ;
L173:
        BRA L25 ;
L174:
        BSSY B0, L176 ;
        IMAD.MOV.U32 R12, RZ, RZ, R2 ;
        MOV R15, R43 ;
        IMAD.MOV.U32 R13, RZ, RZ, R3 ;
        WARPSYNC.COLLECTIVE R15, L175 ;
        MATCH.ANY.U64 R14, R12 ;
        ENDCOLLECTIVE ;
L175:
        BSYNC B0 ;
L176:
        IMAD.MOV.U32 R0, RZ, RZ, R14 ;
        BRA L26 ;
L177:
        BSSY B0, L179 ;
        PLOP3.LUT P6, PT, P0, PT, PT, 0x8, 0x80 ;
        IMAD.MOV.U32 R15, RZ, RZ, R43 ;
        WARPSYNC.COLLECTIVE R15, L178 ;
        VOTE.ANY R14, PT, P6 ;
        ENDCOLLECTIVE ;
L178:
        BSYNC B0 ;
L179:
        BRA L27 ;
L180:
        BSSY B0, L182 ;
        IMAD.MOV.U32 R11, RZ, RZ, 0x1f ;
        MOV R15, R0 ;
        WARPSYNC.COLLECTIVE R15, L181 ;
        SHFL.IDX P6, R14, R13, R12, R11 ;
        ENDCOLLECTIVE ;
L181:
        BSYNC B0 ;
L182:
        BRA L31 ;
L183:
        BSSY B2, L185 ;
        IMAD.MOV.U32 R15, RZ, RZ, R0 ;
        WARPSYNC.COLLECTIVE R15, L184 ;
        NOP ;
        ENDCOLLECTIVE ;
L184:
        BSYNC B2 ;
L185:
        BRA L54 ;
L186:
        BSSY B2, L188 ;
        IMAD.MOV.U32 R15, RZ, RZ, R0 ;
        WARPSYNC.COLLECTIVE R15, L187 ;
        NOP ;
        ENDCOLLECTIVE ;
L187:
        BSYNC B2 ;
L188:
        BRA L60 ;
L189:
        BSSY B2, L191 ;
        IMAD.MOV.U32 R15, RZ, RZ, R0 ;
        WARPSYNC.COLLECTIVE R15, L190 ;
        NOP ;
        ENDCOLLECTIVE ;
L190:
        BSYNC B2 ;
L191:
        BRA L75 ;
L192:
        BSSY B0, L194 ;
        MOV R12, R16 ;
        IMAD.MOV.U32 R13, RZ, RZ, R17 ;
        IMAD.MOV.U32 R15, RZ, RZ, R21 ;
        WARPSYNC.COLLECTIVE R15, L193 ;
        MATCH.ANY.U64 R14, R12 ;
        ENDCOLLECTIVE ;
L193:
        BSYNC B0 ;
L194:
        IMAD.MOV.U32 R2, RZ, RZ, R14 ;
        BRA L85 ;
L195:
        BSSY B0, L197 ;
        PLOP3.LUT P6, PT, P0, PT, PT, 0x8, 0x80 ;
        MOV R15, R21 ;
        WARPSYNC.COLLECTIVE R15, L196 ;
        VOTE.ANY R14, PT, P6 ;
        ENDCOLLECTIVE ;
L196:
        BSYNC B0 ;
L197:
        BRA L86 ;
L198:
        BSSY B0, L200 ;
        IMAD.MOV.U32 R13, RZ, RZ, R19 ;
        IMAD.MOV.U32 R15, RZ, RZ, R2 ;
        WARPSYNC.COLLECTIVE R15, L199 ;
        MATCH.ANY R14, R13 ;
        ENDCOLLECTIVE ;
L199:
        BSYNC B0 ;
L200:
        IMAD.MOV.U32 R0, RZ, RZ, R14 ;
        BRA L87 ;
L201:
        BSSY B0, L203 ;
        PLOP3.LUT P6, PT, P0, PT, PT, 0x8, 0x80 ;
        MOV R15, R2 ;
        WARPSYNC.COLLECTIVE R15, L202 ;
        VOTE.ANY R14, PT, P6 ;
        ENDCOLLECTIVE ;
L202:
        BSYNC B0 ;
L203:
        BRA L88 ;
L204:
        BSSY B0, L206 ;
        IMAD.MOV.U32 R11, RZ, RZ, 0x1f ;
        IMAD.MOV.U32 R15, RZ, RZ, R0 ;
        WARPSYNC.COLLECTIVE R15, L205 ;
        SHFL.IDX P6, R14, R13, R12, R11 ;
        ENDCOLLECTIVE ;
L205:
        BSYNC B0 ;
L206:
        BRA L92 ;
L207:
        BSSY B0, L209 ;
        IMAD.MOV.U32 R15, RZ, RZ, R0 ;
        WARPSYNC.COLLECTIVE R15, L208 ;
        NOP ;
        ENDCOLLECTIVE ;
L208:
        BSYNC B0 ;
L209:
        BRA L107 ;
L210:
        BSSY B0, L212 ;
        MOV R15, R21 ;
        WARPSYNC.COLLECTIVE R15, L211 ;
        NOP ;
        ENDCOLLECTIVE ;
L211:
        BSYNC B0 ;
L212:
        BRA L108 ;
L213:
        BSSY B0, L215 ;
        IMAD.MOV.U32 R12, RZ, RZ, R2 ;
        IMAD.MOV.U32 R13, RZ, RZ, R3 ;
        IMAD.MOV.U32 R15, RZ, RZ, R21 ;
        WARPSYNC.COLLECTIVE R15, L214 ;
        MATCH.ANY.U64 R14, R12 ;
        ENDCOLLECTIVE ;
L214:
        BSYNC B0 ;
L215:
        MOV R0, R14 ;
        BRA L109 ;
L216:
        BSSY B0, L218 ;
        PLOP3.LUT P6, PT, P0, PT, PT, 0x8, 0x80 ;
        IMAD.MOV.U32 R15, RZ, RZ, R21 ;
        WARPSYNC.COLLECTIVE R15, L217 ;
        VOTE.ANY R14, PT, P6 ;
        ENDCOLLECTIVE ;
L217:
        BSYNC B0 ;
L218:
        BRA L110 ;
L219:
        BSSY B0, L221 ;
        IMAD.MOV.U32 R11, RZ, RZ, 0x1f ;
        IMAD.MOV.U32 R15, RZ, RZ, R0 ;
        WARPSYNC.COLLECTIVE R15, L220 ;
        SHFL.IDX P6, R14, R13, R12, R11 ;
        ENDCOLLECTIVE ;
L220:
        BSYNC B0 ;
L221:
        BRA L114 ;
L222:
        BSSY B0, L224 ;
        MOV R15, R0 ;
        WARPSYNC.COLLECTIVE R15, L223 ;
        NOP ;
        ENDCOLLECTIVE ;
L223:
        BSYNC B0 ;
L224:
        BRA L131 ;
L225:
        BSSY B0, L227 ;
        IMAD.MOV.U32 R15, RZ, RZ, R0 ;
        WARPSYNC.COLLECTIVE R15, L226 ;
        NOP ;
        ENDCOLLECTIVE ;
L226:
        BSYNC B0 ;
L227:
        BRA L137 ;
L228:
        BSSY B0, L230 ;
        IMAD.MOV.U32 R15, RZ, RZ, R0 ;
        WARPSYNC.COLLECTIVE R15, L229 ;
        NOP ;
        ENDCOLLECTIVE ;
L229:
        BSYNC B0 ;
L230:
        BRA L152 ;
L231:
        BRA L231;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
		..........


