		Function : _Z16probe_put_kernel9ProbeArgs
	.headerflags	@"EF_CUDA_SM100 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM100)"
        LDC R1, c[0x0][0x37c] ;
        LDC.U8 R16, c[0x0][0x3e1] ;
        LDCU.64 UR36, c[0x0][0x358] ;
        VIADD R1, R1, 0xffffff80 ;
        LDCU UR4, c[0x0][0x41c] ;
        LDC.U8 R13, c[0x0][0x3e0] ;
        LDCU UR5, c[0x0][0x4a0] ;
        LDC.64 R4, c[0x0][0x480] ;
        LDC.64 R2, c[0x0][0x478] ;
        ISETP.NE.U32.AND P2, PT, R16, RZ, PT ;
        LDC R10, c[0x0][0x49c] ;
        ISETP.NE.U32.AND P0, PT, R13, 0x3, PT ;
        @!P2 LDC.64 R22, c[0x0][0x480] ;
        @P2 LDG.E R12, desc[UR36][R4.64+0x50] ;
        @P2 LDG.E.64 R8, desc[UR36][R4.64+0x48] ;
        @!P2 LDC.64 R24, c[0x0][0x478] ;
        @P2 LDG.E R14, desc[UR36][R2.64+0x50] ;
        @P0 VIADD R11, R13, 0xffffffff ;
        @!P0 IMAD.HI.U32 R0, R10, -0x55555555, RZ ;
        @!P0 SHF.R.U32.HI R7, RZ, 0x1, R0 ;
        @!P0 IMAD R0, R7, -0x3, R10 ;
        @P0 LOP3.LUT R0, R11, R10, RZ, 0xc0, !PT ;
        @P2 LDG.E.64 R6, desc[UR36][R2.64+0x48] ;
        LOP3.LUT R0, R0, 0xff, RZ, 0xc0, !PT ;
        @!P2 IMAD.WIDE.U32 R22, R0.reuse, 0x8, R22 ;
        @P0 ISETP.NE.U32.AND P1, PT, R13, 0x4, PT ;
        LDG.E R3, desc[UR36][R2.64+0x20] ;
        @!P2 IMAD.WIDE.U32 R24, R0.reuse, 0x8, R24 ;
        @!P2 LDG.E.64 R22, desc[UR36][R22.64+0x28] ;
        @!P2 LDG.E.64 R24, desc[UR36][R24.64+0x28] ;
        IMAD.SHL.U32 R44, R0, 0x8, RZ ;
        LDC.64 R44, c[0x0][R44+0x3e8] ;
        @P0 VIADD R17, R13, 0xffffffff ;
        @!P0 IMAD.HI.U32 R18, R10, -0x55555555, RZ ;
        @P0 SEL R17, R17, 0x2, P1 ;
        @P2 SHF.R.S32.HI R11, RZ, 0x1f, R12 ;
        @P2 IMAD.WIDE.U32 R12, R12, R16, RZ ;
        @P2 SHF.R.S32.HI R15, RZ, 0x1f, R14 ;
        @P2 IMAD R19, R11, R16.reuse, RZ ;
        @!P0 SHF.R.U32.HI R11, RZ, 0x1, R18 ;
        @P2 IMAD R21, R15, R16.reuse, RZ ;
        @P2 IMAD.WIDE.U32 R14, R14, R16, RZ ;
        @P0 SHF.R.S32.HI R11, RZ, R17, R10 ;
        LDC.64 R16, c[0x0][0x488] ;
        @P2 IMAD.IADD R13, R13, 0x1, R19 ;
        @P2 IMAD.IADD R10, R15, 0x1, R21 ;
        LDG.E R19, desc[UR36][R4.64+0x20] ;
        @P2 IMAD.WIDE.U32 R8, R12, 0x30, R8 ;
        @P2 IMAD R13, R13, 0x30, RZ ;
        @P2 IMAD.WIDE.U32 R14, R14, 0x30, R6 ;
        @P2 IMAD R7, R10, 0x30, RZ ;
        @P2 IMAD.IADD R9, R9, 0x1, R13 ;
        IMAD.WIDE R44, R11, 0x100, R44 ;
        @P2 IMAD.IADD R15, R15, 0x1, R7 ;
        LDG.E R10, desc[UR36][R44.64+0x94] ;
        @P2 IMAD.WIDE.U32 R6, R0, 0x8, R8 ;
        @P2 IMAD.WIDE.U32 R8, R0, 0x8, R14 ;
        @P2 LD.E.64 R22, desc[UR36][R6.64] ;
        @P2 LD.E.64 R24, desc[UR36][R8.64] ;
        LDCU UR6, c[0x0][0x498] ;
        UISETP.NE.U32.AND UP0, UPT, UR4, 0x1, UPT ;
        MOV R18, UR6 ;
        ISETP.GT.AND P1, PT, R10, UR5, PT ;
        BRA.U !UP0, L0 ;
        LDC R2, c[0x0][0x448] ;
        LDC R5, c[0x0][0x498] ;
        ISETP.NE.U32.AND P0, PT, R2, RZ, PT ;
        IMAD.HI.U32 R0, R5, R2, RZ ;
        SEL R0, R0, R5, P0 ;
        IMAD.MOV R2, RZ, RZ, -R0 ;
        VIADD R18, R0, 0x1 ;
        IMAD R2, R2, UR4, R5 ;
        ISETP.GE.U32.AND P0, PT, R2, UR4, PT ;
        @!P0 IMAD.MOV R18, RZ, RZ, R0 ;
L0:
        IMAD.WIDE.U32 R16, R3, 0x1000, R16 ;
        @P1 BRA L1 ;
        MOV R0, 0x0 ;
        LDCU.64 UR4, c[0x4][0x30] ;
        IMAD.MOV.U32 R8, RZ, RZ, 0x380 ;
        LDC.64 R2, c[0x4][R0] ;
        LDCU.64 UR6, c[0x4][0x28] ;
        IMAD.MOV.U32 R12, RZ, RZ, 0x1 ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        LDCU.64 UR8, c[0x4][0x10] ;
        IMAD.U32 R4, RZ, RZ, UR4 ;
        IMAD.U32 R5, RZ, RZ, UR5 ;
        IMAD.U32 R6, RZ, RZ, UR6 ;
        IMAD.U32 R7, RZ, RZ, UR7 ;
        IMAD.U32 R10, RZ, RZ, UR8 ;
        MOV R11, UR9 ;
        LEPC R20, 0x5c0 ;
        CALL.ABS.NOINC R2 ;
L1:
        LDC.64 R14, c[0x0][0x490] ;
        LDG.E R0, desc[UR36][R44.64+0x98] ;
        LDG.E.64 R4, desc[UR36][R44.64+0x10] ;
        LDC R33, c[0x0][0x4a0] ;
        ISETP.NE.U32.AND P0, PT, R14, RZ, PT ;
        ISETP.NE.U32.AND.EX P0, PT, R15, RZ, PT, P0 ;
        @P0 LDG.E R3, desc[UR36][R44.64+0xa0] ;
        @P0 LDC.64 R28, c[0x0][0x488] ;
        @!P0 LDG.E.64 R30, desc[UR36][R44.64+0xc0] ;
        @!P0 LDG.E.64 R10, desc[UR36][R44.64+0xb8] ;
        @P0 IMAD.WIDE.U32 R8, R3, 0x8, R22 ;
        @P0 LD.E.64 R8, desc[UR36][R8.64] ;
        @P0 IMAD.WIDE.U32 R24, R3, 0x8, R24 ;
        LDG.E.64 R2, desc[UR36][R44.64+0x8] ;
        @P0 LD.E.64 R20, desc[UR36][R24.64] ;
        @P0 IMAD.WIDE R26, R18, 0x10, R8 ;
        LDG.E.64 R8, desc[UR36][R44.64+0x18] ;
        @P0 LD.E.64 R12, desc[UR36][R26.64+0x10] ;
        @P0 LD.E.64 R6, desc[UR36][R20.64+0x8] ;
        @P0 LD.E R23, desc[UR36][R26.64+0x18] ;
        @P0 LD.E R25, desc[UR36][R20.64] ;
        @P0 IMAD.WIDE.U32 R28, R19, 0x1000, R28 ;
        IMAD R33, R0, R33, R0 ;
        IMAD.IADD R33, R33, 0x1, R18 ;
        @!P0 IMAD.WIDE R30, R18, 0x4, R30 ;
        IMAD.WIDE.U32 R20, R33, 0x2, R4 ;
        @!P0 IMAD.WIDE R10, R18, 0x8, R10 ;
        LD.E.U16 R24, desc[UR36][R20.64] ;
        @P0 IADD3 R38, P1, PT, R12, R28, RZ ;
        @P0 IMAD.X R39, R13, 0x1, R29, P1 ;
        @P0 IADD3 R36, P1, PT, R16, R6, RZ ;
        IMAD.WIDE.U32 R26, R33, 0x4, R8 ;
        @!P0 LD.E R23, desc[UR36][R30.64] ;
        @P0 IMAD.X R37, R17, 0x1, R7, P1 ;
        @!P0 LD.E.64 R38, desc[UR36][R10.64] ;
        IMAD.WIDE.U32 R12, R33, 0x2, R2 ;
        LD.E R26, desc[UR36][R26.64] ;
        LD.E.U16 R22, desc[UR36][R12.64] ;
        @!P0 LDG.E R25, desc[UR36][R44.64+0xa4] ;
        @!P0 LDG.E.64 R36, desc[UR36][R44.64+0xb0] ;
        @P0 LDC R6, c[0x0][0x490] ;
        ISETP.GE.U32.AND P1, PT, R14, 0x40000001, PT ;
        ISETP.GE.U32.AND.EX P1, PT, R15, RZ, PT, P1 ;
        @!P0 IMAD.MOV.U32 R6, RZ, RZ, RZ ;
        @!P1 BRA L44 ;
        IMAD.WIDE.U32 R28, R18, 0x2, R2 ;
        IMAD.WIDE.U32 R30, R18.reuse, 0x2, R4 ;
        LD.E.U16 R28, desc[UR36][R28.64] ;
        IMAD.WIDE.U32 R32, R18, 0x4, R8 ;
        LD.E.U16 R30, desc[UR36][R30.64] ;
        LD.E R32, desc[UR36][R32.64] ;
        HFMA2 R40, -RZ, RZ, 0, 0 ;
        BSSY B9, L39 ;
        IMAD.MOV.U32 R27, RZ, RZ, RZ ;
L2:
        LDG.E.64 R2, desc[UR36][R44.64+0xd0] ;
        IMAD.WIDE.U32 R2, R18, 0x4, R2 ;
        LD.E R4, desc[UR36][R2.64] ;
        LDC R9, c[0x0][0x2f8] ;
        YIELD ;
        BSSY B0, L5 ;
        VIADD R10, R4, 0x1 ;
        ST.E desc[UR36][R2.64], R10 ;
L3:
        LDG.E.64 R6, desc[UR36][R44.64+0xd8] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R6] ;
        IMAD.IADD R5, R6, 0x1, -R9 ;
        IMAD.WIDE.U32 R2, R18, 0x4, R6 ;
        IMAD R0, R18, 0x4, R5 ;
        @!P0 BRA L4 ;
        LDL.U8 R5, [R0] ;
        LDL.U8 R6, [R0+0x1] ;
        LDL.U8 R7, [R0+0x2] ;
        LDL.U8 R8, [R0+0x3] ;
        NANOSLEEP RZ ;
        IMAD R5, R6, 0x100, R5 ;
        IMAD R8, R8, 0x100, R7 ;
        IMAD.U32 R29, R8, 0x10000, R5 ;
L4:
        @!P0 LD.E.STRONG.SYS R29, desc[UR36][R2.64] ;
        @!P0 CCTL.IVALL ;
        LDG.E R5, desc[UR36][R44.64+0xe0] ;
        IMAD.IADD R0, R10, 0x1, -R29 ;
        ISETP.GT.U32.AND P0, PT, R0, R5, PT ;
        @P0 BRA L3 ;
        BSYNC B0 ;
L5:
        LDG.E.64 R6, desc[UR36][R44.64+0xe8] ;
        LD.E.64 R2, desc[UR36][R6.64] ;
        BSSY B0, L8 ;
        IADD3 R2, P0, PT, R2, 0x1, RZ ;
        IMAD.X R3, RZ, RZ, R3, P0 ;
        ST.E.64 desc[UR36][R6.64], R2 ;
L6:
        LDG.E.64 R6, desc[UR36][R44.64+0xf0] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R6] ;
        @!P0 BRA L7 ;
        LDCU UR4, c[0x0][0x2f8] ;
        IADD3 R14, PT, PT, R6, -UR4, RZ ;
        LDL.U8 R8, [R14+0x2] ;
        LDL.U8 R9, [R14+0x3] ;
        LDL.U8 R12, [R14+0x6] ;
        LDL.U8 R13, [R14+0x7] ;
        LDL.U8 R0, [R14] ;
        LDL.U8 R5, [R14+0x1] ;
        LDL.U8 R10, [R14+0x4] ;
        LDL.U8 R11, [R14+0x5] ;
        NANOSLEEP RZ ;
        IMAD.U32 R8, R8, 0x10000, RZ ;
        IMAD.SHL.U32 R9, R9, 0x1000000, RZ ;
        IMAD.U32 R12, R12, 0x10000, RZ ;
        IMAD.SHL.U32 R13, R13, 0x1000000, RZ ;
        PRMT R0, R0, 0x6540, R5 ;
        LOP3.LUT R34, R0, R9, R8, 0xfe, !PT ;
        PRMT R10, R10, 0x6540, R11 ;
        LOP3.LUT R35, R10, R13, R12, 0xfe, !PT ;
L7:
        @!P0 LD.E.64.STRONG.SYS R34, desc[UR36][R6.64] ;
        LDG.E R0, desc[UR36][R44.64+0xf8] ;
        IADD3 R5, P1, PT, -R34, R2, RZ ;
        ISETP.GT.U32.AND P0, PT, R5, R0, PT ;
        IMAD.X R0, R3, 0x1, ~R35, P1 ;
        ISETP.GT.U32.AND.EX P0, PT, R0, RZ, PT, P0 ;
        @P0 BRA L6 ;
        BSYNC B0 ;
L8:
        LDG.E.64 R42, desc[UR36][R44.64] ;
        LD.E.U16 R31, desc[UR36][R42.64+0x50] ;
        BSSY.RECONVERGENT B0, L18 ;
        SHF.R.U32.HI R5, RZ, 0x3, R31 ;
        ISETP.NE.U32.AND P0, PT, R5, RZ, PT ;
        P2R R41, PR, RZ, 0x1 ;
        @!P0 BRA L17 ;
        ISETP.GE.U32.AND P0, PT, R31, 0x80, PT ;
        BSSY.RELIABLE B1, L12 ;
        LOP3.LUT R6, R5, 0xf, RZ, 0xc0, !PT ;
        IMAD.MOV.U32 R0, RZ, RZ, RZ ;
        @!P0 BRA L11 ;
        SHF.R.U32.HI R0, RZ, 0x7, R31 ;
        BSSY.RECONVERGENT B2, L10 ;
        VIADD R3, R1, 0x40 ;
        IMAD.SHL.U32 R0, R0, 0x10, RZ ;
        IADD3 R2, PT, PT, -R0, RZ, RZ ;
L9:
        VIADD R2, R2, 0x10 ;
        STL.64 [R3+-0x40], RZ ;
        ISETP.NE.U32.AND P0, PT, R2, RZ, PT ;
        STL.64 [R3+-0x38], RZ ;
        STL.64 [R3+-0x30], RZ ;
        STL.64 [R3+-0x28], RZ ;
        STL.64 [R3+-0x20], RZ ;
        STL.64 [R3+-0x18], RZ ;
        STL.64 [R3+-0x10], RZ ;
        STL.64 [R3+-0x8], RZ ;
        STL.64 [R3], RZ ;
        STL.64 [R3+0x8], RZ ;
        STL.64 [R3+0x10], RZ ;
        STL.64 [R3+0x18], RZ ;
        STL.64 [R3+0x20], RZ ;
        STL.64 [R3+0x28], RZ ;
        STL.64 [R3+0x30], RZ ;
        STL.64 [R3+0x38], RZ ;
        VIADD R3, R3, 0x80 ;
        @P0 BRA L9 ;
        NOP ;
        BSYNC.RECONVERGENT B2 ;
L10:
        ISETP.NE.U32.AND P0, PT, R6, RZ, PT ;
        @!P0 BREAK.RELIABLE B1 ;
        @!P0 BRA L17 ;
L11:
        NOP ;
        BSYNC.RELIABLE B1 ;
L12:
        ISETP.GE.U32.AND P0, PT, R6, 0x8, PT ;
        BSSY.RELIABLE B1, L14 ;
        LOP3.LUT R3, R5, 0x7, RZ, 0xc0, !PT ;
        @!P0 BRA L13 ;
        IMAD R2, R0, 0x8, R1 ;
        ISETP.NE.U32.AND P0, PT, R3, RZ, PT ;
        STL.64 [R2], RZ ;
        STL.64 [R2+0x8], RZ ;
        STL.64 [R2+0x10], RZ ;
        @!P0 BREAK.RELIABLE B1 ;
        STL.64 [R2+0x18], RZ ;
        STL.64 [R2+0x20], RZ ;
        STL.64 [R2+0x28], RZ ;
        STL.64 [R2+0x30], RZ ;
        STL.64 [R2+0x38], RZ ;
        @!P0 BRA L17 ;
        VIADD R0, R0, 0x8 ;
L13:
        NOP ;
        BSYNC.RELIABLE B1 ;
L14:
        ISETP.GE.U32.AND P0, PT, R3, 0x4, PT ;
        BSSY.RELIABLE B1, L16 ;
        LOP3.LUT R5, R5, 0x3, RZ, 0xc0, !PT ;
        @!P0 BRA L15 ;
        IMAD R2, R0, 0x8, R1 ;
        ISETP.NE.U32.AND P0, PT, R5, RZ, PT ;
        STL.64 [R2], RZ ;
        STL.64 [R2+0x8], RZ ;
        STL.64 [R2+0x10], RZ ;
        @!P0 BREAK.RELIABLE B1 ;
        STL.64 [R2+0x18], RZ ;
        @!P0 BRA L17 ;
        VIADD R0, R0, 0x4 ;
L15:
        NOP ;
        BSYNC.RELIABLE B1 ;
L16:
        IMAD R0, R0, 0x8, R1 ;
        ISETP.NE.U32.AND P0, PT, R5, 0x1, PT ;
        STL.64 [R0], RZ ;
        @!P0 BRA L17 ;
        ISETP.NE.U32.AND P0, PT, R5, 0x2, PT ;
        STL.64 [R0+0x8], RZ ;
        @P0 STL.64 [R0+0x10], RZ ;
L17:
        NOP ;
        BSYNC.RECONVERGENT B0 ;
L18:
        LDL.U16 R33, [R1+0x2] ;
        LDG.E.U8.CONSTANT R2, desc[UR36][R42.64+0x40] ;
        IMAD.MOV.U32 R3, RZ, RZ, 0x70 ;
        LEA R5, P0, R27.reuse, R38, 0x1e ;
        STL [R1+0x1c], R18 ;
        LEA.HI.X R9, R27, R39, R40, 0x1e, P0 ;
        PRMT R0, R33.reuse, 0x7770, RZ ;
        PRMT R33, R33, 0x7771, RZ ;
        LOP3.LUT R0, R0, 0xff82, R3, 0xec, !PT ;
        LOP3.LUT R33, R33, 0x1c, RZ, 0xfc, !PT ;
        IADD3 R8, PT, PT, R1, R2, RZ ;
        PRMT R3, R33, 0x7604, R0 ;
        SHF.R.U32.HI R0, RZ, 0x10, R4 ;
        PRMT R6, R4, 0x5410, R3 ;
        STL.U16 [R1+0x1a], R0 ;
        STL [R1], R6 ;
        STL [R8+0x8], R5 ;
        STL [R8+0xc], R9 ;
        STL [R8+0x4], R23 ;
        LDL.U8 R2, [R1+0xe] ;
        IMAD.MOV.U32 R3, RZ, RZ, 0xfc ;
        STL.U16 [R1+0xc], R28 ;
        STL.U16 [R1+0x4], R30 ;
        STL [R1+0x10], R32 ;
        LOP3.LUT R4, R2, 0x1, R3, 0xec, !PT ;
        STL.U8 [R1+0xe], R4 ;
        LD.E R7, desc[UR36][R42.64+0x18] ;
        LD.E R19, desc[UR36][R42.64+0x28] ;
        LD.E R9, desc[UR36][R42.64+0x20] ;
        BSSY.RECONVERGENT B0, L20 ;
        VIMNMX R2, PT, PT, R7, 0x1, PT ;
        ISETP.GE.AND P1, PT, R7, 0x1, PT ;
        VIADD R3, R19.reuse, 0x1 ;
        IMAD.IADD R2, R19, 0x1, R2 ;
        ST.E desc[UR36][R42.64+0x28], R3 ;
        IMAD.IADD R0, R2, 0x1, -R9 ;
        ISETP.GT.U32.AND P0, PT, R0, R7, PT ;
        ISETP.EQ.U32.OR P0, PT, R19, R9, !P0 ;
        @P0 BRA L19 ;
        LD.E.64 R4, desc[UR36][R42.64+0x38] ;
        IMAD.IADD R3, R19, 0x1, -R9 ;
        STG.E.MMIO.SYS [R4], R19 ;
        LDG.E.64 R6, desc[UR36][R44.64+0x28] ;
        IMAD.MOV.U32 R9, RZ, RZ, R19 ;
        IADD3 R6, P0, PT, R3, R6, RZ ;
        IMAD.X R7, RZ, RZ, R7, P0 ;
        STG.E.64 desc[UR36][R44.64+0x28], R6 ;
        ST.E desc[UR36][R42.64+0x20], R19 ;
L19:
        NOP ;
        BSYNC.RECONVERGENT B0 ;
L20:
        BSSY B8, L38 ;
        @!P1 BRA L37 ;
        LDL.U8 R0, [R1+0x2] ;
        LD.E.64 R4, desc[UR36][R42.64+0x10] ;
        LD.E.64 R6, desc[UR36][R42.64+0x30] ;
        IMAD.MOV.U32 R9, RZ, RZ, 0x1 ;
        STL.U16 [R1+0x6], R9 ;
        BSSY.RECONVERGENT B7, L26 ;
        BSSY.RELIABLE B6, L24 ;
        LOP3.LUT R0, R0, 0xf, RZ, 0xc0, !PT ;
        IADD3 R3, PT, PT, R0, -0x1, RZ ;
        LOP3.LUT R3, R3, 0xffff, RZ, 0xc0, !PT ;
        LOP3.LUT R4, R4, R19, RZ, 0xc0, !PT ;
        ISETP.GE.U32.AND P0, PT, R3, 0x2, PT ;
        IMAD R17, R31, R4, RZ ;
        IADD3 R16, P1, PT, R17, R6, RZ ;
        SHF.R.U32.HI R19, RZ, R5, R19 ;
        IMAD.X R17, RZ, RZ, R7, P1 ;
        @!P0 BRA L22 ;
        ISETP.NE.U32.AND P0, PT, R0, RZ, PT ;
        @P0 BREAK.RELIABLE B6 ;
        @P0 BRA L21 ;
        LDG.E.U8.CONSTANT R0, desc[UR36][R42.64+0x42] ;
        BRA L23 ;
L21:
        MOV R14, 0x0 ;
        LDCU.64 UR4, c[0x4][0x20] ;
        HFMA2 R12, -RZ, RZ, 0, 5.9604644775390625e-08 ;
        IMAD.MOV.U32 R8, RZ, RZ, 0x1f4 ;
        LDCU.64 UR8, c[0x4][0x28] ;
        LDC.64 R14, c[0x4][R14] ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        LDCU.64 UR6, c[0x4][0x8] ;
        IMAD.U32 R4, RZ, RZ, UR4 ;
        IMAD.U32 R5, RZ, RZ, UR5 ;
        IMAD.U32 R6, RZ, RZ, UR8 ;
        IMAD.U32 R7, RZ, RZ, UR9 ;
        IMAD.U32 R10, RZ, RZ, UR6 ;
        IMAD.U32 R11, RZ, RZ, UR7 ;
        LEPC R20, 0x1860 ;
        CALL.ABS.NOINC R14 ;
        BRA L25 ;
L22:
        LDG.E.U8.CONSTANT R0, desc[UR36][R42.64+0x41] ;
        IMAD.MOV.U32 R3, RZ, RZ, 0x40000000 ;
        STL [R8], R3 ;
L23:
        NOP ;
        BSYNC.RELIABLE B6 ;
L24:
        LOP3.LUT R0, R0, 0xffff, RZ, 0xc0, !PT ;
        IMAD.IADD R7, R1, 0x1, R0 ;
        LDL.U8 R0, [R7+0x7] ;
        LOP3.LUT R3, R25, 0xffffff, RZ, 0xc0, !PT ;
        IMAD.MOV.U32 R6, RZ, RZ, 0x40000000 ;
        LEA R4, P0, R27, R36, 0x1e ;
        LEA.HI.X R5, R27, R37, R40, 0x1e, P0 ;
        STL [R7], R6 ;
        STL [R7+0x8], R4 ;
        STL [R7+0xc], R5 ;
        IMAD R0, R0, 0x1000000, R3 ;
        STL [R7+0x4], R0 ;
        LDL.U8 R33, [R1+0x3] ;
L25:
        NOP ;
        BSYNC.RECONVERGENT B7 ;
L26:
        LOP3.LUT R0, R33, 0xfe, RZ, 0xc0, !PT ;
        BSSY B0, L36 ;
        ISETP.NE.AND P0, PT, R41, RZ, PT ;
        LOP3.LUT R0, R0, 0x1, R19, 0xf8, !PT ;
        STL.U8 [R1+0x3], R0 ;
        @!P0 BRA L35 ;
        ISETP.GE.U32.AND P0, PT, R31, 0x80, PT ;
        BSSY B1, L30 ;
        SHF.R.U32.HI R31, RZ, 0x3, R31 ;
        IMAD.MOV.U32 R0, RZ, RZ, RZ ;
        @!P0 BRA L29 ;
        BSSY B2, L28 ;
        IMAD.MOV.U32 R0, RZ, RZ, RZ ;
        IMAD.MOV.U32 R3, RZ, RZ, RZ ;
L27:
        LEA R19, R0, R1, 0x3 ;
        LDL.64 R4, [R19] ;
        IMAD.WIDE.U32 R14, R0, 0x8, R16 ;
        LDL.64 R10, [R19+0x8] ;
        LDL.64 R8, [R19+0x10] ;
        LDL.64 R6, [R19+0x18] ;
        LDL.64 R20, [R19+0x28] ;
        LDL.64 R12, [R19+0x30] ;
        STG.E.64.MMIO.SYS [R14], R4 ;
        LDL.64 R4, [R19+0x20] ;
        STG.E.64.MMIO.SYS [R14+0x8], R10 ;
        STG.E.64.MMIO.SYS [R14+0x10], R8 ;
        STG.E.64.MMIO.SYS [R14+0x18], R6 ;
        LDL.64 R10, [R19+0x38] ;
        LDL.64 R8, [R19+0x40] ;
        LDL.64 R6, [R19+0x50] ;
        STG.E.64.MMIO.SYS [R14+0x20], R4 ;
        LDL.64 R4, [R19+0x48] ;
        STG.E.64.MMIO.SYS [R14+0x28], R20 ;
        STG.E.64.MMIO.SYS [R14+0x30], R12 ;
        STG.E.64.MMIO.SYS [R14+0x38], R10 ;
        STG.E.64.MMIO.SYS [R14+0x40], R8 ;
        LDL.64 R20, [R19+0x70] ;
        LDL.64 R10, [R19+0x78] ;
        LDL.64 R8, [R19+0x58] ;
        STG.E.64.MMIO.SYS [R14+0x48], R4 ;
        STG.E.64.MMIO.SYS [R14+0x50], R6 ;
        LDL.64 R4, [R19+0x60] ;
        LDL.64 R6, [R19+0x68] ;
        VIADD R3, R3, 0x10 ;
        LOP3.LUT R12, R31, 0x1ff0, RZ, 0xc0, !PT ;
        STG.E.64.MMIO.SYS [R14+0x58], R8 ;
        ISETP.NE.U32.AND P0, PT, R3, R12, PT ;
        YIELD ;
        VIADD R0, R0, 0x10 ;
        STG.E.64.MMIO.SYS [R14+0x60], R4 ;
        STG.E.64.MMIO.SYS [R14+0x68], R6 ;
        STG.E.64.MMIO.SYS [R14+0x70], R20 ;
        STG.E.64.MMIO.SYS [R14+0x78], R10 ;
        @P0 BRA L27 ;
        BSYNC B2 ;
L28:
        LOP3.LUT P0, RZ, R31, 0xf, RZ, 0xc0, !PT ;
        @!P0 BREAK B1 ;
        @!P0 BRA L35 ;
L29:
        BSYNC B1 ;
L30:
        LOP3.LUT R3, R31, 0xf, RZ, 0xc0, !PT ;
        BSSY.RELIABLE B1, L32 ;
        VIADD R3, R3, 0xffffffff ;
        LOP3.LUT R3, R3, 0xffff, RZ, 0xc0, !PT ;
        ISETP.GE.U32.AND P0, PT, R3, 0x7, PT ;
        @!P0 BRA L31 ;
        IMAD R3, R0, 0x8, R1 ;
        LDL.64 R6, [R3] ;
        LDL.64 R4, [R3+0x8] ;
        IMAD.WIDE.U32 R20, R0, 0x8, R16 ;
        LDL.64 R14, [R3+0x10] ;
        LDL.64 R12, [R3+0x18] ;
        LDL.64 R10, [R3+0x20] ;
        LDL.64 R8, [R3+0x28] ;
        STG.E.64.MMIO.SYS [R20], R6 ;
        STG.E.64.MMIO.SYS [R20+0x8], R4 ;
        LDL.64 R6, [R3+0x30] ;
        LDL.64 R4, [R3+0x38] ;
        STG.E.64.MMIO.SYS [R20+0x10], R14 ;
        STG.E.64.MMIO.SYS [R20+0x18], R12 ;
        STG.E.64.MMIO.SYS [R20+0x20], R10 ;
        STG.E.64.MMIO.SYS [R20+0x28], R8 ;
        LOP3.LUT P0, RZ, R31, 0x7, RZ, 0xc0, !PT ;
        @!P0 BREAK.RELIABLE B1 ;
        STG.E.64.MMIO.SYS [R20+0x30], R6 ;
        STG.E.64.MMIO.SYS [R20+0x38], R4 ;
        @!P0 BRA L35 ;
        VIADD R0, R0, 0x8 ;
L31:
        NOP ;
        BSYNC.RELIABLE B1 ;
L32:
        LOP3.LUT R3, R31.reuse, 0x7, RZ, 0xc0, !PT ;
        BSSY.RELIABLE B1, L34 ;
        LOP3.LUT R31, R31, 0x3, RZ, 0xc0, !PT ;
        ISETP.GE.U32.AND P0, PT, R3, 0x4, PT ;
        @!P0 BRA L33 ;
        IMAD R3, R0, 0x8, R1 ;
        LDL.64 R12, [R3] ;
        LDL.64 R8, [R3+0x8] ;
        LDL.64 R6, [R3+0x10] ;
        LDL.64 R4, [R3+0x18] ;
        IMAD.WIDE.U32 R10, R0, 0x8, R16 ;
        ISETP.NE.U32.AND P0, PT, R31, RZ, PT ;
        @!P0 BREAK.RELIABLE B1 ;
        STG.E.64.MMIO.SYS [R10], R12 ;
        STG.E.64.MMIO.SYS [R10+0x8], R8 ;
        STG.E.64.MMIO.SYS [R10+0x10], R6 ;
        STG.E.64.MMIO.SYS [R10+0x18], R4 ;
        @!P0 BRA L35 ;
        VIADD R0, R0, 0x4 ;
L33:
        NOP ;
        BSYNC.RELIABLE B1 ;
L34:
        LEA R3, R0, R1, 0x3 ;
        LDL.64 R4, [R3] ;
        IMAD.WIDE.U32 R16, R0, 0x8, R16 ;
        ISETP.NE.U32.AND P0, PT, R31, 0x1, PT ;
        STG.E.64.MMIO.SYS [R16], R4 ;
        @!P0 BRA L35 ;
        ISETP.NE.U32.AND P0, PT, R31, 0x2, PT ;
        LDL.64 R4, [R3+0x8] ;
        @P0 LDL.64 R6, [R3+0x10] ;
        STG.E.64.MMIO.SYS [R16+0x8], R4 ;
        @P0 STG.E.64.MMIO.SYS [R16+0x10], R6 ;
L35:
        BSYNC B0 ;
L36:
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
        LD.E R9, desc[UR36][R42.64+0x20] ;
L37:
        BSYNC B8 ;
L38:
        LD.E.64 R10, desc[UR36][R42.64+0x38] ;
        LDC.64 R4, c[0x0][0x490] ;
        IMAD.IADD R9, R2, 0x1, -R9 ;
        STG.E.MMIO.SYS [R10], R2 ;
        LDG.E.64 R6, desc[UR36][R44.64+0x28] ;
        IADD3 R4, P1, PT, R4, -0x1, RZ ;
        IMAD.MOV.U32 R3, RZ, RZ, R2 ;
        IADD3.X R0, PT, PT, R5, -0x1, RZ, P1, !PT ;
        SHF.R.U64 R8, R4, 0x1e, R0.reuse ;
        SHF.R.U32.HI R5, RZ, 0x1e, R0 ;
        IADD3 R6, P0, PT, R9, R6, RZ ;
        IMAD.X R7, RZ, RZ, R7, P0 ;
        IADD3 R27, P0, PT, R27, 0x1, RZ ;
        STG.E.64 desc[UR36][R44.64+0x28], R6 ;
        IMAD.X R40, RZ, RZ, R40, P0 ;
        ISETP.NE.U32.AND P0, PT, R27, R8, PT ;
        ST.E.64 desc[UR36][R42.64+0x20], R2 ;
        ISETP.NE.U32.AND.EX P0, PT, R40, R5, PT, P0 ;
        @P0 BRA L2 ;
        BSYNC B9 ;
L39:
        LDG.E.64 R2, desc[UR36][R44.64+0xd0] ;
        LDC R13, c[0x0][0x2f8] ;
        IMAD.WIDE R2, R18, 0x4, R2 ;
        LD.E R11, desc[UR36][R2.64] ;
        BSSY B0, L43 ;
L40:
        LDG.E.64 R2, desc[UR36][R44.64+0xd8] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R2] ;
        IMAD.IADD R5, R2, 0x1, -R13 ;
        IMAD R5, R18, 0x4, R5 ;
        @!P0 BRA L41 ;
        LDL.U8 R8, [R5+0x2] ;
        LDL.U8 R9, [R5+0x3] ;
        LDL.U8 R6, [R5] ;
        LDL.U8 R7, [R5+0x1] ;
        NANOSLEEP RZ ;
        LEA R9, R9, R8, 0x8 ;
        IMAD R6, R7, 0x100, R6 ;
        IMAD.U32 R6, R9, 0x10000, R6 ;
L41:
        IMAD.WIDE.U32 R2, R18, 0x4, R2 ;
        @P0 BRA L42 ;
        LD.E.STRONG.SYS R6, desc[UR36][R2.64] ;
        CCTL.IVALL ;
L42:
        IMAD.IADD R2, R6, 0x1, -R11 ;
        ISETP.GE.AND P0, PT, R2, RZ, PT ;
        @!P0 BRA L40 ;
        BSYNC B0 ;
L43:
        LDCU UR4, c[0x0][0x490] ;
        LOP3.LUT R3, R4, 0xc0000000, RZ, 0xc0, !PT ;
        IADD3 R36, P0, PT, R3.reuse, R36, RZ ;
        IADD3 R38, P1, PT, R3, R38, RZ ;
        IMAD.X R37, R0.reuse, 0x1, R37, P0 ;
        IMAD.X R39, R0, 0x1, R39, P1 ;
        IADD3 R6, PT, PT, -R3, UR4, RZ ;
L44:
        LDG.E.64 R2, desc[UR36][R44.64+0xd0] ;
        IMAD.WIDE.U32 R2, R18, 0x4, R2 ;
        LD.E R7, desc[UR36][R2.64] ;
        LDC R13, c[0x0][0x2f8] ;
        BSSY B0, L47 ;
        VIADD R11, R7, 0x1 ;
        ST.E desc[UR36][R2.64], R11 ;
L45:
        LDG.E.64 R4, desc[UR36][R44.64+0xd8] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R4] ;
        IMAD.IADD R9, R4, 0x1, -R13 ;
        IMAD.WIDE.U32 R2, R18, 0x4, R4 ;
        IMAD R0, R18, 0x4, R9 ;
        @!P0 BRA L46 ;
        LDL.U8 R4, [R0] ;
        LDL.U8 R5, [R0+0x1] ;
        LDL.U8 R8, [R0+0x2] ;
        LDL.U8 R9, [R0+0x3] ;
        NANOSLEEP RZ ;
        LEA R4, R5, R4, 0x8 ;
        IMAD R9, R9, 0x100, R8 ;
        IMAD.U32 R8, R9, 0x10000, R4 ;
L46:
        @!P0 LD.E.STRONG.SYS R8, desc[UR36][R2.64] ;
        @!P0 CCTL.IVALL ;
        LDG.E R5, desc[UR36][R44.64+0xe0] ;
        IMAD.IADD R0, R11, 0x1, -R8 ;
        ISETP.GT.U32.AND P0, PT, R0, R5, PT ;
        @P0 BRA L45 ;
        BSYNC B0 ;
L47:
        LDG.E.64 R4, desc[UR36][R44.64+0xe8] ;
        LD.E.64 R2, desc[UR36][R4.64] ;
        BSSY B0, L50 ;
        IADD3 R2, P0, PT, R2, 0x1, RZ ;
        IMAD.X R3, RZ, RZ, R3, P0 ;
        ST.E.64 desc[UR36][R4.64], R2 ;
L48:
        LDG.E.64 R4, desc[UR36][R44.64+0xf0] ;
        YIELD ;
        QSPC.E.L P0, RZ, [R4] ;
        @!P0 BRA L49 ;
        LDCU UR4, c[0x0][0x2f8] ;
        VIADD R15, R4, -UR4 ;
        LDL.U8 R0, [R15] ;
        LDL.U8 R9, [R15+0x1] ;
        LDL.U8 R8, [R15+0x2] ;
        LDL.U8 R10, [R15+0x3] ;
        LDL.U8 R14, [R15+0x7] ;
        LDL.U8 R11, [R15+0x4] ;
        LDL.U8 R12, [R15+0x5] ;
        LDL.U8 R13, [R15+0x6] ;
        NANOSLEEP RZ ;
        PRMT R0, R0, 0x6540, R9 ;
        IMAD.U32 R8, R8, 0x10000, RZ ;
        IMAD.SHL.U32 R9, R10, 0x1000000, RZ ;
        IMAD.SHL.U32 R14, R14, 0x1000000, RZ ;
        PRMT R11, R11, 0x6540, R12 ;
        SHF.L.U32 R13, R13, 0x10, RZ ;
        LOP3.LUT R12, R0, R9, R8, 0xfe, !PT ;
        LOP3.LUT R13, R11, R14, R13, 0xfe, !PT ;
L49:
        @!P0 LD.E.64.STRONG.SYS R12, desc[UR36][R4.64] ;
        LDG.E R0, desc[UR36][R44.64+0xf8] ;
        IADD3 R9, P1, PT, -R12, R2, RZ ;
        ISETP.GT.U32.AND P0, PT, R9, R0, PT ;
        IMAD.X R0, R3, 0x1, ~R13, P1 ;
        ISETP.GT.U32.AND.EX P0, PT, R0, RZ, PT, P0 ;
        @P0 BRA L48 ;
        BSYNC B0 ;
L50:
        LDG.E.64 R16, desc[UR36][R44.64] ;
        LD.E.U16 R27, desc[UR36][R16.64+0x50] ;
        BSSY.RECONVERGENT B0, L61 ;
        SHF.R.U32.HI R28, RZ, 0x3, R27 ;
        ISETP.NE.U32.AND P0, PT, R28, RZ, PT ;
        @!P0 BRA L60 ;
        ISETP.GE.U32.AND P0, PT, R27, 0x80, PT ;
        BSSY.RELIABLE B1, L54 ;
        LOP3.LUT R4, R28, 0xf, RZ, 0xc0, !PT ;
        IMAD.MOV.U32 R0, RZ, RZ, RZ ;
        @!P0 BRA L53 ;
        SHF.R.U32.HI R0, RZ, 0x7, R27 ;
        BSSY.RECONVERGENT B2, L52 ;
        VIADD R3, R1, 0x40 ;
        IMAD.SHL.U32 R0, R0, 0x10, RZ ;
        IMAD.MOV R2, RZ, RZ, -R0 ;
L51:
        VIADD R2, R2, 0x10 ;
        STL.64 [R3+-0x40], RZ ;
        ISETP.NE.U32.AND P0, PT, R2, RZ, PT ;
        STL.64 [R3+-0x38], RZ ;
        STL.64 [R3+-0x30], RZ ;
        STL.64 [R3+-0x28], RZ ;
        STL.64 [R3+-0x20], RZ ;
        STL.64 [R3+-0x18], RZ ;
        STL.64 [R3+-0x10], RZ ;
        STL.64 [R3+-0x8], RZ ;
        STL.64 [R3], RZ ;
        STL.64 [R3+0x8], RZ ;
        STL.64 [R3+0x10], RZ ;
        STL.64 [R3+0x18], RZ ;
        STL.64 [R3+0x20], RZ ;
        STL.64 [R3+0x28], RZ ;
        STL.64 [R3+0x30], RZ ;
        STL.64 [R3+0x38], RZ ;
        IADD3 R3, PT, PT, R3, 0x80, RZ ;
        @P0 BRA L51 ;
        NOP ;
        BSYNC.RECONVERGENT B2 ;
L52:
        ISETP.NE.U32.AND P0, PT, R4, RZ, PT ;
        @!P0 BREAK.RELIABLE B1 ;
        @!P0 BRA L60 ;
L53:
        NOP ;
        BSYNC.RELIABLE B1 ;
L54:
        ISETP.GE.U32.AND P0, PT, R4, 0x8, PT ;
        BSSY.RELIABLE B1, L56 ;
        LOP3.LUT R3, R28, 0x7, RZ, 0xc0, !PT ;
        @!P0 BRA L55 ;
        IMAD R2, R0, 0x8, R1 ;
        ISETP.NE.U32.AND P0, PT, R3, RZ, PT ;
        STL.64 [R2], RZ ;
        STL.64 [R2+0x8], RZ ;
        STL.64 [R2+0x10], RZ ;
        @!P0 BREAK.RELIABLE B1 ;
        STL.64 [R2+0x18], RZ ;
        STL.64 [R2+0x20], RZ ;
        STL.64 [R2+0x28], RZ ;
        STL.64 [R2+0x30], RZ ;
        STL.64 [R2+0x38], RZ ;
        @!P0 BRA L60 ;
        VIADD R0, R0, 0x8 ;
L55:
        NOP ;
        BSYNC.RELIABLE B1 ;
L56:
        ISETP.GE.U32.AND P0, PT, R3, 0x4, PT ;
        BSSY.RELIABLE B1, L58 ;
        LOP3.LUT R3, R28, 0x3, RZ, 0xc0, !PT ;
        @!P0 BRA L57 ;
        IMAD R2, R0, 0x8, R1 ;
        ISETP.NE.U32.AND P0, PT, R3, RZ, PT ;
        STL.64 [R2], RZ ;
        STL.64 [R2+0x8], RZ ;
        STL.64 [R2+0x10], RZ ;
        @!P0 BREAK.RELIABLE B1 ;
        STL.64 [R2+0x18], RZ ;
        @!P0 BRA L60 ;
        VIADD R0, R0, 0x4 ;
L57:
        NOP ;
        BSYNC.RELIABLE B1 ;
L58:
        IMAD R2, R0, 0x8, R1 ;
        IMAD.MOV R0, RZ, RZ, -R3 ;
L59:
        VIADD R0, R0, 0x1 ;
        STL.64 [R2], RZ ;
        ISETP.NE.U32.AND P0, PT, R0, RZ, PT ;
        VIADD R2, R2, 0x8 ;
        @P0 BRA L59 ;
L60:
        NOP ;
        BSYNC.RECONVERGENT B0 ;
L61:
        LDL.U16 R2, [R1+0x2] ;
        LDG.E.U8.CONSTANT R4, desc[UR36][R16.64+0x40] ;
        STL [R1+0x1c], R18 ;
        PRMT R0, R2.reuse, 0x7770, RZ ;
        PRMT R2, R2, 0x7771, RZ ;
        LOP3.LUT R0, R0, 0x70, RZ, 0xc0, !PT ;
        LOP3.LUT R3, R2, 0x1c, RZ, 0xfc, !PT ;
        LOP3.LUT R0, R0, 0xff82, RZ, 0xfc, !PT ;
        IADD3 R10, PT, PT, R1, R4, RZ ;
        PRMT R2, R3, 0x7604, R0 ;
        SHF.R.U32.HI R0, RZ, 0x10, R7 ;
        PRMT R5, R7, 0x5410, R2 ;
        STL.U16 [R1+0x1a], R0 ;
        STL [R1], R5 ;
        STL [R10+0x4], R23 ;
        STL [R10+0x8], R38 ;
        STL [R10+0xc], R39 ;
        LDL.U8 R2, [R1+0xe] ;
        STL.U16 [R1+0xc], R22 ;
        STL.U16 [R1+0x4], R24 ;
        STL [R1+0x10], R26 ;
        LOP3.LUT R2, R2, 0xfc, RZ, 0xc0, !PT ;
        LOP3.LUT R4, R2, 0x1, RZ, 0xfc, !PT ;
        STL.U8 [R1+0xe], R4 ;
        LD.E R9, desc[UR36][R16.64+0x18] ;
        LD.E R8, desc[UR36][R16.64+0x28] ;
        LD.E R7, desc[UR36][R16.64+0x20] ;
        BSSY.RECONVERGENT B0, L63 ;
        VIMNMX R2, PT, PT, R9, 0x1, PT ;
        ISETP.GE.AND P1, PT, R9, 0x1, PT ;
        VIADD R5, R8.reuse, 0x1 ;
        IMAD.IADD R2, R8, 0x1, R2 ;
        ST.E desc[UR36][R16.64+0x28], R5 ;
        IMAD.IADD R0, R2, 0x1, -R7 ;
        ISETP.GT.U32.AND P0, PT, R0, R9, PT ;
        ISETP.EQ.U32.OR P0, PT, R8, R7, !P0 ;
        @P0 BRA L62 ;
        LD.E.64 R4, desc[UR36][R16.64+0x38] ;
        IMAD.IADD R7, R8, 0x1, -R7 ;
        STG.E.MMIO.SYS [R4], R8 ;
        LDG.E.64 R12, desc[UR36][R44.64+0x28] ;
        IADD3 R12, P0, PT, R7, R12, RZ ;
        IMAD.MOV.U32 R7, RZ, RZ, R8 ;
        IMAD.X R13, RZ, RZ, R13, P0 ;
        STG.E.64 desc[UR36][R44.64+0x28], R12 ;
        ST.E desc[UR36][R16.64+0x20], R8 ;
L62:
        NOP ;
        BSYNC.RECONVERGENT B0 ;
L63:
        BSSY B8, L81 ;
        PRMT R24, R3, 0x7610, R24 ;
        @!P1 BRA L80 ;
        LDL.U8 R0, [R1+0x2] ;
        LD.E.64 R4, desc[UR36][R16.64+0x10] ;
        IMAD.MOV.U32 R7, RZ, RZ, 0x1 ;
        LD.E.64 R18, desc[UR36][R16.64+0x30] ;
        BSSY.RECONVERGENT B7, L69 ;
        BSSY.RELIABLE B6, L67 ;
        STL.U16 [R1+0x6], R7 ;
        LOP3.LUT R0, R0, 0xf, RZ, 0xc0, !PT ;
        IADD3 R3, PT, PT, R0, -0x1, RZ ;
        LOP3.LUT R4, R4, R8, RZ, 0xc0, !PT ;
        LOP3.LUT R3, R3, 0xffff, RZ, 0xc0, !PT ;
        SHF.R.U32.HI R22, RZ, R5, R8 ;
        IMAD R23, R27, R4, RZ ;
        ISETP.GE.U32.AND P0, PT, R3, 0x2, PT ;
        @!P0 BRA L65 ;
        ISETP.NE.U32.AND P0, PT, R0, RZ, PT ;
        @P0 BREAK.RELIABLE B6 ;
        @P0 BRA L64 ;
        LDG.E.U8.CONSTANT R0, desc[UR36][R16.64+0x42] ;
        BRA L66 ;
L64:
        MOV R14, 0x0 ;
        LDCU.64 UR4, c[0x4][0x20] ;
        HFMA2 R12, -RZ, RZ, 0, 5.9604644775390625e-08 ;
        IMAD.MOV.U32 R8, RZ, RZ, 0x1f4 ;
        LDCU.64 UR6, c[0x4][0x28] ;
        LDC.64 R14, c[0x4][R14] ;
        IMAD.MOV.U32 R13, RZ, RZ, RZ ;
        LDCU.64 UR8, c[0x4][0x8] ;
        IMAD.U32 R4, RZ, RZ, UR4 ;
        IMAD.U32 R5, RZ, RZ, UR5 ;
        IMAD.U32 R6, RZ, RZ, UR6 ;
        IMAD.U32 R7, RZ, RZ, UR7 ;
        IMAD.U32 R10, RZ, RZ, UR8 ;
        IMAD.U32 R11, RZ, RZ, UR9 ;
        LEPC R20, 0x3450 ;
        CALL.ABS.NOINC R14 ;
        BRA L68 ;
L65:
        LDG.E.U8.CONSTANT R0, desc[UR36][R16.64+0x41] ;
        STL [R10], R6 ;
L66:
        NOP ;
        BSYNC.RELIABLE B6 ;
L67:
        LOP3.LUT R0, R0, 0xffff, RZ, 0xc0, !PT ;
        IMAD.IADD R3, R1, 0x1, R0 ;
        LDL.U8 R0, [R3+0x7] ;
        LOP3.LUT R25, R25, 0xffffff, RZ, 0xc0, !PT ;
        STL [R3], R6 ;
        STL [R3+0x8], R36 ;
        STL [R3+0xc], R37 ;
        IMAD R0, R0, 0x1000000, R25 ;
        STL [R3+0x4], R0 ;
        LDL.U8 R24, [R1+0x3] ;
L68:
        NOP ;
        BSYNC.RECONVERGENT B7 ;
L69:
        LOP3.LUT R3, R24, 0xfe, RZ, 0xc0, !PT ;
        BSSY B0, L79 ;
        ISETP.NE.U32.AND P0, PT, R28, RZ, PT ;
        LOP3.LUT R22, R3, 0x1, R22, 0xf8, !PT ;
        STL.U8 [R1+0x3], R22 ;
        @!P0 BRA L78 ;
        ISETP.GE.U32.AND P0, PT, R27, 0x80, PT ;
        BSSY B1, L73 ;
        IMAD.MOV.U32 R0, RZ, RZ, RZ ;
        @!P0 BRA L72 ;
        SHF.R.U32.HI R0, RZ, 0x7, R27 ;
        BSSY B2, L71 ;
        IADD3 R6, P0, P1, R18, 0x40, R23 ;
        VIADD R3, R1, 0x40 ;
        IMAD.SHL.U32 R0, R0, 0x10, RZ ;
        IADD3.X R7, PT, PT, R19, RZ, RZ, P0, P1 ;
        IMAD.MOV R22, RZ, RZ, -R0 ;
L70:
        LDL.64 R32, [R3+-0x40] ;
        LDL.64 R36, [R3+-0x38] ;
        LDL.64 R40, [R3+-0x30] ;
        MOV R4, R6 ;
        IMAD.MOV.U32 R5, RZ, RZ, R7 ;
        LDL.64 R6, [R3+-0x28] ;
        LDL.64 R8, [R3+-0x20] ;
        LDL.64 R10, [R3+-0x18] ;
        LDL.64 R12, [R3+-0x10] ;
        LDL.64 R14, [R3+-0x8] ;
        LDL.64 R20, [R3] ;
        LDL.64 R24, [R3+0x8] ;
        LDL.64 R30, [R3+0x10] ;
        LDL.64 R34, [R3+0x20] ;
        LDL.64 R38, [R3+0x30] ;
        STG.E.64.MMIO.SYS [R4+-0x40], R32 ;
        STG.E.64.MMIO.SYS [R4+-0x38], R36 ;
        STG.E.64.MMIO.SYS [R4+-0x30], R40 ;
        LDL.64 R32, [R3+0x18] ;
        LDL.64 R36, [R3+0x28] ;
        LDL.64 R40, [R3+0x38] ;
        STG.E.64.MMIO.SYS [R4+-0x28], R6 ;
        STG.E.64.MMIO.SYS [R4+-0x20], R8 ;
        STG.E.64.MMIO.SYS [R4+-0x18], R10 ;
        STG.E.64.MMIO.SYS [R4+-0x10], R12 ;
        STG.E.64.MMIO.SYS [R4+-0x8], R14 ;
        STG.E.64.MMIO.SYS [R4], R20 ;
        STG.E.64.MMIO.SYS [R4+0x8], R24 ;
        STG.E.64.MMIO.SYS [R4+0x10], R30 ;
        VIADD R22, R22, 0x10 ;
        ISETP.NE.U32.AND P0, PT, R22, RZ, PT ;
        IADD3 R6, P1, PT, R4, 0x80, RZ ;
        YIELD ;
        IMAD.X R7, RZ, RZ, R5, P1 ;
        VIADD R3, R3, 0x80 ;
        STG.E.64.MMIO.SYS [R4+0x18], R32 ;
        STG.E.64.MMIO.SYS [R4+0x20], R34 ;
        STG.E.64.MMIO.SYS [R4+0x28], R36 ;
        STG.E.64.MMIO.SYS [R4+0x30], R38 ;
        STG.E.64.MMIO.SYS [R4+0x38], R40 ;
        @P0 BRA L70 ;
        BSYNC B2 ;
L71:
        LOP3.LUT P0, RZ, R28, 0xf, RZ, 0xc0, !PT ;
        @!P0 BREAK B1 ;
        @!P0 BRA L78 ;
L72:
        BSYNC B1 ;
L73:
        LOP3.LUT R3, R28, 0xf, RZ, 0xc0, !PT ;
        BSSY.RELIABLE B1, L75 ;
        IADD3 R4, P1, PT, R18, R23, RZ ;
        SHF.R.U32.HI R26, RZ, 0x3, R27 ;
        VIADD R3, R3, 0xffffffff ;
        IMAD.X R5, RZ, RZ, R19, P1 ;
        LOP3.LUT R26, R26, 0x7, RZ, 0xc0, !PT ;
        LOP3.LUT R3, R3, 0xffff, RZ, 0xc0, !PT ;
        ISETP.GE.U32.AND P0, PT, R3, 0x7, PT ;
        @!P0 BRA L74 ;
        IMAD R3, R0, 0x8, R1 ;
        LDL.64 R6, [R3] ;
        LDL.64 R10, [R3+0x8] ;
        LDL.64 R12, [R3+0x10] ;
        LDL.64 R14, [R3+0x18] ;
        LDL.64 R18, [R3+0x20] ;
        LDL.64 R20, [R3+0x28] ;
        LDL.64 R22, [R3+0x30] ;
        LDL.64 R24, [R3+0x38] ;
        IMAD.WIDE.U32 R8, R0, 0x8, R4 ;
        ISETP.NE.U32.AND P0, PT, R26, RZ, PT ;
        @!P0 BREAK.RELIABLE B1 ;
        STG.E.64.MMIO.SYS [R8], R6 ;
        STG.E.64.MMIO.SYS [R8+0x8], R10 ;
        STG.E.64.MMIO.SYS [R8+0x10], R12 ;
        STG.E.64.MMIO.SYS [R8+0x18], R14 ;
        STG.E.64.MMIO.SYS [R8+0x20], R18 ;
        STG.E.64.MMIO.SYS [R8+0x28], R20 ;
        STG.E.64.MMIO.SYS [R8+0x30], R22 ;
        STG.E.64.MMIO.SYS [R8+0x38], R24 ;
        @!P0 BRA L78 ;
        IADD3 R0, PT, PT, R0, 0x8, RZ ;
L74:
        NOP ;
        BSYNC.RELIABLE B1 ;
L75:
        ISETP.GE.U32.AND P0, PT, R26, 0x4, PT ;
        BSSY.RELIABLE B1, L77 ;
        LOP3.LUT R28, R28, 0x3, RZ, 0xc0, !PT ;
        @!P0 BRA L76 ;
        IMAD R3, R0, 0x8, R1 ;
        LDL.64 R6, [R3] ;
        LDL.64 R10, [R3+0x8] ;
        LDL.64 R12, [R3+0x10] ;
        LDL.64 R14, [R3+0x18] ;
        IMAD.WIDE.U32 R8, R0, 0x8, R4 ;
        ISETP.NE.U32.AND P0, PT, R28, RZ, PT ;
        @!P0 BREAK.RELIABLE B1 ;
        STG.E.64.MMIO.SYS [R8], R6 ;
        STG.E.64.MMIO.SYS [R8+0x8], R10 ;
        STG.E.64.MMIO.SYS [R8+0x10], R12 ;
        STG.E.64.MMIO.SYS [R8+0x18], R14 ;
        @!P0 BRA L78 ;
        VIADD R0, R0, 0x4 ;
L76:
        NOP ;
        BSYNC.RELIABLE B1 ;
L77:
        IMAD R3, R0, 0x8, R1 ;
        LDL.64 R6, [R3] ;
        IMAD.WIDE.U32 R8, R0, 0x8, R4 ;
        ISETP.NE.U32.AND P0, PT, R28, 0x1, PT ;
        STG.E.64.MMIO.SYS [R8], R6 ;
        @!P0 BRA L78 ;
        ISETP.NE.U32.AND P0, PT, R28, 0x2, PT ;
        LDL.64 R4, [R3+0x8] ;
        @P0 LDL.64 R6, [R3+0x10] ;
        STG.E.64.MMIO.SYS [R8+0x8], R4 ;
        @P0 STG.E.64.MMIO.SYS [R8+0x10], R6 ;
L78:
        BSYNC B0 ;
L79:
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        @!PT LDS RZ, [RZ] ;
        MEMBAR.ALL.CTA ;
        MEMBAR.ALL.SYS ;
        ERRBAR;
        CGAERRBAR ;
        CCTL.IVALL ;
        LD.E R7, desc[UR36][R16.64+0x20] ;
L80:
        BSYNC B8 ;
L81:
        LD.E.64 R4, desc[UR36][R16.64+0x38] ;
        IMAD.IADD R7, R2, 0x1, -R7 ;
        STG.E.MMIO.SYS [R4], R2 ;
        LDG.E.64 R8, desc[UR36][R44.64+0x28] ;
        IMAD.MOV.U32 R3, RZ, RZ, R2 ;
        IADD3 R6, P0, PT, R7, R8, RZ ;
        IMAD.X R7, RZ, RZ, R9, P0 ;
        STG.E.64 desc[UR36][R44.64+0x28], R6 ;
        ST.E.64 desc[UR36][R16.64+0x20], R2 ;
        EXIT ;
L82:
        BRA L82;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
        NOP;
		..........


